[2018-03-28 08:12] Boorj commented on #7411
Another problem
---

This is content of `contenttypes.yml`, database, `editcontent/fields/select.twig`
![image](https://user-images.githubusercontent.com/2145313/38016554-8fe575fa-3299-11e8-9c89-5e370c93cd37.png)
Contenttype field values are defined with [hash](https://docs.bolt.cm/3.4/fields/select#defining-values-as-a-hash)

Last figure is the result of `dump()` in [_buic/_select.twig](https://g

[2018-03-28 10:21] Boorj commented on #7410
looks like  #3984 , but not implemented in file manager

[2018-03-28 10:37] Boorj commented on #4816
@bobdenotter btw, can we now setup listing fields in backend? ( this answer on SOF doesn't enlighten me https://stackoverflow.com/a/29522892 )

[2018-03-28 10:46] Boorj commented on #7411
Was mentioned in #2609 and #4375, but still no solution

[2018-03-28 11:10] mnicolas80 opened #7414 "Categories / Tags hierarchy feature?"
Are you planning to add the hierarchy feature in categories or tags?
Especially in cases of products presentation, it would be nice to organize the products under multiple level categories.

e.g /category1/category1.1/product-url.html

[2018-03-28 14:45] Boorj commented on #7198
@bobdenotter @GawainLynch Problem came back again!

[2018-03-29 08:41] bobdenotter commented on #7414
It's not currently planned, i'm afraid.

You can - to some extent - workaround this by using either multiple taxonomies, or adding a bunch of them like `movies-action`, `movies-romcom`, `movies-documentary`, creating a fake hierarchy.

[2018-03-29 08:47] bobdenotter commented on #7395
Seems like a valid point at first sight. Not sure if it's feasible to fix properly, though..

🤔 💭

[2018-03-29 08:52] bobdenotter commented on #7382
This _will_ be somewhat better on PHP 7.1, after a `composer update`, because it will then have newer versions of Doctrine available.

If it persists, it might require manual modification of the tables.

[2018-03-29 09:20] Boorj commented on #7395
Another solution : add some data attribute (`[data-js-field-value]`) to each generated input.
But if `name` attribute generation _can_ be prefixed in one place, the additional attribute will take lots of injection points.

[2018-03-29 13:29] tomas-zemres opened #7419 "Switching "setcontent_legacy: false" lead to exception "Call to a member function isAllowed() on null""
If I define custom Entity/Repository class and switch "setcontent_legacy: false"

the Home page of my website raises error:
[code]
It looks like `$this->app['users'] contains null`, I don't know why?

Details
-------

 - Relevant Bolt Version: 3.4.10
 - Install type: Composer install
 - PHP version: 7.1.13
 - Used web server: php app/nut server:run

Reproduction
------------

I create new bolt pro

[2018-03-29 13:44] bobdenotter commented on #7419
There's a huge PR by @rossriley here: #7291 . I would not be surprised if your issue would be resolved after that one is reviewed and merged in. :-)

[2018-03-29 13:47] tomas-zemres commented on #7419
I updated this issue, It is probably due to "setcontent_legacy: false"
(If I remove my custom content-type, homepage still raises same error).

[2018-03-29 20:42] bobdenotter commented on #7378
@SantinoPetrovic There's a "WIP" pull request in the queue: #7421

[2018-03-30 02:38] rossriley commented on #7419
yes, @bob is correct this was fixed in that PR which was designed to allow the new storage system to work with current frontend templates. If you want to use that flag set to false in current versions you'll need to make edits to the templates to remove things that break... main culprits are calls on methods on the record object, like you found here but also things like `record.next()` and `record

[2018-03-30 09:06] GwendolenLynch commented on #7414
This would also be very hard to do properly in 3.x, when we have a better idea of the 4.x model it might be an easier thing.

What I will say is the hierarchical "everything" is a pretty common request, so is at the front of my mind for what will be done in v4 :smile_cat:

[2018-03-30 09:51] #7392 closed, assigned to nobody

[2018-03-30 13:53] Boorj opened #7422 "Problems with conversion of select-type field values"
repro
---
- create contenttype field with type `select`
- add **hash-style values**. like
[code]
- select some options and save record
- convert values to **list-style values**
[code]

- get an error:
![image](https://user-images.githubusercontent.com/2145313/38140034-462b6d60-345c-11e8-9ec3-598abaf78db7.png)

I suppose, this thing should be caught somehow.

[2018-03-30 14:00] Boorj opened #7423 "[RFC] Thumbnails pre/post processing"
Idea: make some image processing available for thumbnails.
---
Sometimes you need to watermark an image. Often it's necessary not for small thumbs, but for big images (`thumbnail(image, 1200, 600, resize)`).

So i found the way to do it in bundle/extension.

It's initialized this way
<details><summary>MyThumbsExtension.php</summary>

[code]
</details>

And here's the code itself
<details><summary>

[2018-03-30 14:39] Boorj opened #7424 "field.slug.label:'foo' doesn't work for slug"
If i make this config
[code]
postfix works, label - doesn't.

![image](https://user-images.githubusercontent.com/2145313/38141681-7b873294-3463-11e8-984f-8624c7fa9b22.png)

Maybe we should take label from contenttype config, and fallback to default only if it's missing?

[2018-03-30 15:13] Boorj opened #7425 "Suggest slugify, when creating folder with filemanager"
Sometimes clients create own folders inside `/files/`. And they get used to create spaces. This will uglify its name in paths, like `/files/custom%20folder/uploaded-file.jpg`.

Suggestion
---
Maybe we can warn user (optionally, configurable in `config.yml`) about that. Modal window could be:
- ----------------------------

[create with original name] [create renamed]

- ---------------------------

[2018-03-30 17:30] nealmarques opened #7426 "Taxonomies that start with digits, admin interface"
If taxonomies are created that start with numbers, the admin interface does not automatically select them from the dropdown list.  Re saving the record will result in loss of taxonomy.

Details
-------

 - Relevant Bolt Version: [3.4]
 - Install type: [ Zip/tarball install  ]
 - PHP version: [ 7.0  ]
 - Used web server: [ Apache ] version [ 2 ]
 - For UX/UI issues: [ Chrome  65.0.3325.181 ]

Repro

[2018-03-31 10:06] Boorj opened #7427 "Incorrect generation for aliased thumbnails"
repro
---
- create any alias for thumbnails (in theme.yml)
- create field in any contenttype, with type `imagelist`
- go and create thumbnail in twig: `img|thumbnauil('your_alias')`
- boom bang 💥

reason
---
![image](https://user-images.githubusercontent.com/2145313/38162098-9ad5efc6-3505-11e8-9181-27bf330bd7a2.png)
Here:
https://github.com/bolt/bolt/blob/3.4/src/Twig/Runtime/ImageRuntime.php#L315

[2018-03-31 12:45] bobdenotter commented on #7426
This is an issue with PHP not dealing to well with numerical keys. This is a duplicate of #7411, so i'll close this to keep the list tidy.

[2018-03-31 12:45] #7426 closed, assigned to nobody

[2018-04-01 15:58] mnicolas80 commented on #7414
Thank you for your quick responses!

[2018-04-01 15:58] #7414 closed, assigned to nobody

[2018-04-03 10:06] #6863 closed

[2018-04-03 13:06] #7304 closed

[2018-04-03 18:40] bobdenotter opened #7430 "Symfony 2.8.37 update seems to cause breakage after composer update."
Today Symfony 2.8.37 was released, which causes Bolt sites to break, in some circumstances. I've not pinpointed what the circumstances are that actually causes it to break, while the same setup works on another environment.

What breaks is that after `composer install`, the file `extensions/vendor/autoload.json` has absolute paths, instead of relative ones. For example:

[code]

For now, quick wor

[2018-04-04 11:16] #5029 closed

[2018-04-06 14:18] #7316 closed

[2018-04-06 22:00] SvanteRichter opened #7432 "Officially "unsupport" IE"
Currently we have IE support "officially", but it does not really work, at least the search and tag select fields are broken since we bumped up select2 to 4.0.6-rc2 (and before that we broke it for a few months too), and since that project has not had any real activity since Nov 11 I think it is time to accept that we do not support IE(10/11) and will not be able to in any foreseeable future.

The

[2018-04-06 22:05] SvanteRichter commented on #7432
Also, just to add, IE support was intentionally removed in #7048, so this is just an issue to make it "official".

[2018-04-07 04:22] bobdenotter commented on #7432
We bumped it to 4.0.6 because in my tests it worked on IE. if it doesn’t, we should fix that.

I am very against dropping IE support in Bolt 3.x

[2018-04-07 06:47] bobdenotter commented on #7432
This is where I bumped it from 4.0.0 to 4.0.6-RC: #7199

Yes, I know select2 is crappy, and we'll certainly get rid of it in Bolt 4. And I suppose we'll drop support for IE in v4 as well.

[2018-04-07 09:52] SvanteRichter commented on #7432
Alright, I just tested on 3.4.7 which includes 4.0.6-rc.1, and neither tags nor omnisearch works, so I guess we'll have to revert to 4.0.0 again.

EDIT: Oh, and the "IE support was intentionally removed in #7048" comment was just me misreading that as merged and misunderstanding the "C'est la vie" comment

[2018-04-07 09:59] bobdenotter commented on #7432
Hmm, maybe we _should_ indeed revert back to 4.0.0 then. :-/

[2018-04-07 10:08] bobdenotter commented on #7432
Note to self: make sure downgrading Select2 doesn't break #7272.

[2018-04-07 10:33] #7432 closed, assigned to bobdenotter

[2018-04-07 10:36] bobdenotter commented on #7430
Seems to be fixed by updating to `symfony/finder` 2.8.38.

[2018-04-07 10:36] #7430 closed, assigned to bobdenotter

[2018-04-07 11:30] #7427 closed, assigned to nobody

[2018-04-07 15:01] #7317 closed

[2018-04-09 13:50] #7411 closed, assigned to nobody

[2018-04-10 07:55] otrelin opened #7437 "How to fix extension installing?"
Hello.

I've made an extension and added it to market https://market.bolt.cm/view/zinitsolutionsgmbh/bolt3-twig-emailobfuscator
But then I've decided to reinit my github repository (don't ask why - maybe it was my mistake). I've deleted github repository and added new with the same name.
But after that I get an error when installing this extension:

[code]

I guess its trying to install from old g

[2018-04-12 07:51] rainpoiss opened #7438 "Make relationships required"
I would like to make relationship tab required to give user an indication he has forgot to add a required  relationship.

Details
-------

feature request

[2018-04-12 08:46] bobdenotter commented on #7317
Keeping this open, as something seems iffy with both "Timed publish" and "Timed depublish"

[2018-04-12 08:55] sbonardt commented on #7317
My two cents. If the timed publish only works precisely on the set time when a cronjob is added to check every minute, then this should be a prerequisite. So timed publish IMO shouldn't be a default functionality in Bolt, if it does not work as expected by a user.

I think it would be better to require a person to explicitly enable the timed publish functionality in the CMS when needed, and subseq

[2018-04-12 08:56] ankedsgn commented on #7317
Was just running into the same thing. I understand now that timed publish is not working as suggested by the user interface, maybe we can add / alter some things to make this more clear?

## problem
A user can add a exact date and time to have a record published. This suggests that the record will be published at exact that time and date. This is default out-of-the-box Bolt.

Current out-of-the-bo

[2018-04-12 08:59] bobdenotter commented on #7317
Sounds good. Looking forward to the Pull Requests. ;-)

[2018-04-12 09:04] ankedsgn commented on #7317
I will unleash my php skills :D

[2018-04-12 09:05] GwendolenLynch commented on #7317
:woman_astronaut: :battery: :fist_raised:

[2018-04-12 09:39] otrelin commented on #7437
Now the installation is fixed by itself. Maybe because of this:
![1523525636889](https://user-images.githubusercontent.com/15085327/38669122-3966984c-3e4e-11e8-8e73-37844fbc4998.jpg)

But when I click "Add GitHub webhook" button, I get this error:
![1523525926506](https://user-images.githubusercontent.com/15085327/38669248-89a64154-3e4e-11e8-9d59-b2219ca2f4d5.jpg)

[2018-04-12 13:19] otrelin opened #7439 "Bug with filtering when contenttype has own slug"
I have contenttype:
[code]
I set slug to have german url for german site version, but for contenttype and table I want to have name `products_de`. For english site version I want to create other contenttype `products_en` with the same structure, but with slug `products`. Table name will be also `products_en`.

Taxonomy `productcategories` is:
[code]

I have one product with category "OXID Modules"

[2018-04-12 13:49] jadwigo opened #7440 ".bolt.yml cache path outside of siteroot breaks composer update and install"
When upgrading a bolt 3.3 site to v3.5.0-rc1 with deployer I ran into some weird quirks.

I was updating a bolt site with deployer (https://github.com/jadwigo/bolt-deployer-recipe) on a testserver.
With deployer the directory structure is as follows:
[code]

This means the cache path is outside of the current site path, and it may be set either absolute in `.bolt.yml`
[code]
Or it may be set relat

[2018-04-12 14:26] bobdenotter commented on #7439
Hi,

We're aware that there's some discrepancy in how the 'key' and the 'slug' are used. This is why we strongly advise to keep the slug the same as the "key" of the contenttype:

[code]

[2018-04-12 15:01] otrelin commented on #7439
Hi Bob,

Thank you for your answer.
But I didn't found this requirement in documentation https://docs.bolt.cm/3.4/contenttypes/intro#defining-contenttypes
And as i said - in this case parameter `slug` in contenttype will never be used (if contenttype `key` and `slug` will be the same).
It seems to me that it would be better that both in frontend and backend the identification of the contenttype wa

[2018-04-12 15:21] bobdenotter commented on #7439
No arguments from me on that front. It's just something that's _much_ easier said than done, which is why we have to use it like this, for the time being. :-)

[2018-04-12 15:37] otrelin commented on #7439
I understood you.
Wish you good luck in your hard work :-)

[2018-04-12 16:10] jadwigo commented on #7440
After a lot of composer updates, changing a little thing, testing again, checking the file permissions, etc. the following seems to be the problem.

If you have a `.bolt.yml` where you have only set a cache path outside of the siteroot the composer update generates an `app` path based on the cache path.

[code]
Will be converted to:
[code]

As soon as you have set a valid `app` path in your `.bolt

[2018-04-13 09:32] jadwigo commented on #7440
I've reduced it to the following. on my local machine with ubuntu and php
`PHP 7.1.15-0ubuntu0.17.10.1 (cli) (built: Mar 14 2018 22:30:42) ( NTS )`

[code]
This will have downloaded bolt 3.4.10.

Prepare `.bolt.yml`
[code]

Edit `.bolt.yml` so the cache path is set outside the siteroot
[code]

Initialize bolt

[code]

This will show:
[code]
Run composer update

[code]

This will update symfony com

[2018-04-15 00:21] marcingajda opened #7442 "XSS protection disabling is broken"
When you have a field with HTML and you open the preview page Bolt sends that code in POST parameters. Chrome has a feature that detects HTML code in POST and blocks displaying the response to protect from XSS. It can be disabled however by the server by sending a header `X-XSS-Protection` set `0`. Bolt tries to use that trick but fails with it.

Details
-------

 - Relevant Bolt Version: 3.4.8 an

[2018-04-15 09:37] #7192 closed

[2018-04-15 11:10] bobdenotter commented on #7382
Doctrine DBAL 2.7.1 has been released, and it seems like this is much less of a problem than it was before. See if you van upgrade to PHP 7.1, and then run a `composer update`.

[2018-04-18 11:58] #7330 closed

[2018-04-18 11:58] #7329 closed

[2018-04-18 14:58] #7332 closed

[2018-04-18 17:31] mvlimajunior opened #7447 "Search logic problem with field tag 'searchable'?"
Details
-------

 - Relevant Bolt Version: [ 3.6 ]
 - PHP version: [ 7.2 ]
 - Used web server: [ Apache | Nginx ] version [ version ]

Reproduction
------------
![image](https://user-images.githubusercontent.com/8702753/38947945-9ce83d6a-4314-11e8-86b5-1f0d10492f73.png)

If contenttype! = Null, does not perform verification if the field has the tag searchable.
Is the logic correct?
So the tag woul

[2018-04-22 12:15] #7324 closed

[2018-04-22 19:01] helix84 commented on #7060
Just a note: MySQL 8.0.1 changed the default charset from latin1 to utf8mb4:
https://dev.mysql.com/doc/relnotes/mysql/8.0/en/news-8-0-1.html#mysqld-8-0-1-charset

[2018-04-24 03:41] zomars opened #7448 "[BUG] Uncaught Exception: ConversionException in singleton with select field"
I couldn't find anything about this in the docs so.. Here it is, in my contenttypes.yml I've got:

[code]

And I get this:

`Could not convert database value "{"url":"https:\/\/ww..." to Doctrine Type json`

Details
-------

 - Relevant Bolt Version: 3.5
 - Install type: Composer install
 - PHP version: 7.1
 - Used web server: Apache 2.4.33

[2018-04-25 16:09] zomars commented on #7448
Nevermind friends. The culprits were some old records that were imported from WP long ago. I've had to cleanup the json and null all datedepublish values.

[2018-04-25 16:09] #7448 closed, assigned to nobody

[2018-04-25 22:16] #7331 closed

[2018-04-26 02:31] linc01 opened #7450 "Image uploading error"
Fresh installation with postgresql10. When the first time I uploaded an image in the home page section, I saw this exception.

Uncaught Exception: InvalidFieldNameException .
InvalidFieldNameException in AbstractPostgreSQLDriver.php line 72:
An exception occurred while executing 'SELECT min_value, increment_by FROM "bolt_authtoken_id_seq"':

SQLSTATE[42703]: Undefined column: 7 ERROR: column "min_

[2018-04-26 05:35] bobdenotter commented on #7442
Pinging @JarJak, @marcingajda. Hi, any progress on this one, yet? ;-)

[2018-04-26 05:39] bobdenotter commented on #7450
Hi, Postgres 10 is fairly new, and support for it was only added in Doctrine DBAL 2.7. See here: https://github.com/doctrine/dbal/releases/tag/v2.7.0

DBAL 2.7 requires php7.1, so to fix this, you can update PHP to 7.1 or 7.2, and then run `composer update`. This will then pull in `doctrine/dbal` 2.7, and it should work.

[2018-04-26 10:54] sablonier commented on #7329
Probably ~~reproducable~~ not reading the docs for 3.5 flat structure install and using Option 2 (https://docs.bolt.cm/3.4/howto/troubleshooting-outside-webroot), manual extraction and ignoring the note here about .dist files.

[2018-04-26 14:01] bobdenotter commented on #7329
But, If you don’t ignore the note on that it works, right? So, this is not really a “bug”, but something that poos up when people haven’t properly read the docs.

[2018-04-26 14:28] marcingajda commented on #7442
@bobdenotter I will prepare a PR in free time ;)

[2018-04-26 15:28] sablonier commented on #7329
Exactly, not a bug. Thought I'm just going to help the bot for the link :)

[2018-04-27 01:03] linc01 commented on #7450
Thank you!

[2018-04-27 01:03] #7450 closed, assigned to nobody

[2018-04-27 16:05] Boorj commented on #7353
@bob @GawainLynch please, don't pass this topic by... 😊

[2018-04-27 16:17] tameroski opened #7451 "Error when the config_local.yml file is a symlink"
If my config_local.yml file is a symlink (to a file in a shared directory, cos i'm deploying Bolt using Capistrano), i got the following error :

[code]

Removing the link = site is working
Changing the link for a real file = site is working

Details
-------

 - Relevant Bolt Version: 3.4
 - Install type: Composer install
 - PHP version: 7.1
 - Used web server: Apache

Reproduction
------------

A

[2018-04-27 16:24] GwendolenLynch commented on #7451
Yes, this is a limitation in Flysystem and nothing we have control over.

See:
https://github.com/thephpleague/flysystem/issues/474
https://github.com/thephpleague/flysystem/issues/599

[2018-04-27 16:24] #7451 closed, assigned to nobody

[2018-04-27 16:59] GwendolenLynch commented on #7353
Trying not to. Just can't keep up with RL work at the moment, and the bot has a mind of its own :smile:

[2018-04-28 10:23] bobdenotter commented on #7451
@tameroski What _does_ work in some cases (it works for us when using deployer, but no guarantees), is making the `app/config` folder a symlink, that has "real" files inside.

[2018-04-28 10:26] tameroski commented on #7451
Oh, that would be great! Will try that, thanks.
Not being able to deploy that way would be a massive disapoinment 😢

[2018-04-28 11:34] bobdenotter commented on #7451
@tameroski We use Deployer ourselves, and it works nicely.. See this: https://github.com/jadwigo/bolt-deployer-recipe

[2018-04-29 02:38] eduardomart opened #7452 "Browse Server button always shows the 'Stack'"
Even when `config.yml` has the stack turned off, when you use the 'Browse Server' button inside an HTML field (CKEditor) you get the 'Stack' tab, as seen here:

![2018-04-28 19-38-07](https://user-images.githubusercontent.com/1833020/39402700-c102bed2-4b1b-11e8-94b4-37113683b9e7.png)

Details
-------

 - Relevant Bolt Version: [ 3.5 ]
 - Install type: [ Zip/tarball install | Composer install | Git

[2018-04-29 02:52] eduardomart opened #7453 "Small improvement request to 'Browse Server' dialog box"
When adding links to your site's content types (in CKEditor), we should have an option to go to the 'Listing Page' not just individual 'Record' pages

Currently we see something like this:
![screen shot 2018-04-28 at 7 43 37 pm](https://user-images.githubusercontent.com/1833020/39402726-8e4e801a-4b1c-11e8-9c29-1c1a11f49037.png)

Since you can only browse content that is not set to `viewless: true`

[2018-04-29 12:40] GwendolenLynch commented on #7452
Fixed in #7454

[2018-04-29 12:40] #7452 closed, assigned to nobody

[2018-04-30 09:00] tameroski commented on #7451
Tried to make the whole app/config folder a symlink => working !

Thanks @bobdenotter

[2018-04-30 10:53] atf2 commented on #7329
I've just got this message when following the instructions given at https://docs.bolt.cm/3.5/howto/troubleshooting-outside-webroot#option-2-use-the-flat-structure-distribution.  The error occurs at the point after typing 'php app/nut init'.
Further down the instructions there is mention of renaming .dist files, but only if I "extract the .zip manually, in order to upload via (S)FTP" but I didn't,

[2018-05-03 08:51] xiaohutai opened #7459 "Searching for certain types of strings will result in an exception"
[code]
[code]

Details
-------

 - Relevant Bolt Version: [ 3.4 | 3.5 ] possibly all versions
 - Install type: [ Zip/tarball install | Composer install ]
 - PHP version: [ 5.6 | 7.0 ]
 - Used web server: [ Apache | Nginx ]

### Bug summary

Something with [`preg_replace`](http://php.net/manual/en/function.preg-replace.php) and escaped characters.

### Steps to reproduce

1. Install Bolt
2. [Option

[2018-05-03 10:09] horus68 opened #7460 "Field name is embed but there is also one as oembed"
Field name 'oembed' was renamed to 'embed' here:

- Rename use of 'oembed' to 'embed'
https://github.com/bolt/bolt/commit/f987db921007f13ac2077bd62859b0fea3384823#diff-57925474ed287183120373e5e8c7a024

It involved language files too. All fine!

But there has been a regression or a bad merge and now the 3.5 branch has ` oembed: |` in infos.en_GB.yml from
- Added translation strings for OEmbed field

[2018-05-03 11:04] blaues0cke opened #7461 "Bolt crashes when a contentblock-field contains a child field with the same name"
So I recently used this definition in my `contenttypes.yml`:

[code]

This will make bolt to display everything correctly until I save a new block using the generated backend. After this initial save, something - I think the cache - is broken with the following error (`FatalThrowableError in FieldManager.php line 69: Class name must be a valid object or a string`):

![image](https://user-images.gi

[2018-05-03 11:15] horus68 opened #7462 "Unused language strings should be removed from language files [Languages]"
Is there any reason to have so many strings identified as **Unused**?
Those are the numbers we get form Bolt 3.5 plain install fully translated:

- 383 Unused messages
- 2 Legacy untranslated messages
- 23 Legacy translation messages

The big question is: Are translators translating 406 strings just for fun?
But actually there are just 205 strings to translate?
Or is the system broken?

Details
--

[2018-05-03 11:15] GwendolenLynch commented on #7460
Neither. The file was not included in that commit.

[2018-05-03 11:20] horus68 commented on #7460
Sorry, the oembed was from this commit (edited above) https://github.com/bolt/bolt/commit/dcd2d690552477855485808c0fb0b4497cfc269b

The question is: the field name in infos.en_GB.yml is to be `oembed`?

[2018-05-03 11:28] GwendolenLynch commented on #7460
No, `oembed` is wrong. Feel free to PR

[2018-05-03 12:07] #7460 closed, assigned to nobody

[2018-05-03 13:12] GwendolenLynch commented on #7442
Closed by #7458

[2018-05-03 13:12] #7442 closed, assigned to nobody

[2018-05-03 13:37] GwendolenLynch commented on #7459
Fixed in #7464

[2018-05-03 13:37] #7459 closed, assigned to nobody

[2018-05-03 14:23] blaues0cke opened #7465 "A contentblock with a single unchecked checkbox is not rendered"
I am using the following template:

[code]

To display this `contentblock` of my `contenttypes.yml`:

[code]
Problem: The block is only rendered if `negative_margin_top` is `true`. If `negative_margin_top` is `false` the block does *not* appear in `record.contentblocks`. A workaround is to add another text field.

[2018-05-03 14:34] xiaohutai commented on #7459
@GawainLynch Thanks, mate 👍

[2018-05-03 17:20] eduardomart commented on #7465
I think that's the nature of checkboxes, if they're not there you can assume the `false` value.

[2018-05-03 20:33] eduardomart opened #7467 "Checkbox field improvement"
Currently checkbox fields make no use of the `variant: inline` property
If we were to, we should display the checkbox on the left side of the label
This would allow for longer strings in the label, at the moment it only takes a couple of words before the label gets squished on the left side of the checkbox.

![checkbox_field](https://user-images.githubusercontent.com/1833020/39601111-c508c752-4ed5

[2018-05-03 20:39] SvanteRichter commented on #7462
Just looking at it it seems like strings in some twig parts are not identified, for example 'field.image.label.alt' in that list is used here: https://github.com/bolt/bolt/blob/ab623edf7a3dc9a96d0a5090b0727ccfcfc0ba3a/app/view/twig/editcontent/fields/_image.twig#L63

Could it be that it only checks PHP sources, not twig sources?

[2018-05-04 07:43] blaues0cke commented on #7465
@eduardomart Yes, but the checkbox value is only a subfield of the block. There is no reason to skip the block rendering att all only because of the fact that all its fields are `!$var`. I think bug would also occur if there are multiple unchecked child checkboxes.

[2018-05-04 11:22] xiaohutai commented on #7255
It's going to be the who-is-editing extension: https://github.com/nestordedios/bolt-extension-who-is-editing for simple checking; still needs some small tweaks, but it's getting there. Closing this for now.

[2018-05-07 01:27] ozzywalsh commented on #7467
I think the label should always be right of the control, as you've suggested.

I did a bit of research and this tends to be the [predominant thinking](https://ux.stackexchange.com/questions/5080/should-checkbox-labels-be-to-the-right-or-the-left)

[2018-05-07 05:55] bobdenotter commented on #7467
Sounds good to me! A PR would be great, @eduardomart 👍

[2018-05-07 07:34] chungf commented on #7382
I have the same problem, using DBAL 2.7.1 and Bolt 3.5.0. The root of the problem seems to be in either the way of emulating column comments in SQLite or how the database check looks them up from the schema.

Edit: Managed to download a copy of bolt.db to examine elsewhere. The DC2Type comments are stored as intended in the schema. So the problem is probably more likely at the point of database ch

[2018-05-08 11:38] #7343 closed

[2018-05-08 12:03] dhalucario opened #7469 "[RFC] rfc7762 CSP inline script nonce"
I have following Issue: When I wanna access the site logged in I get CSP related errors because the inline-scripts do not have a nonce I could include in my headers on my NGINX server.

Details
-------

 - Relevant Bolt Version:[ Composer says 3.5 ]
 - Install type: [ Zip/tarball install (original install)| Composer install (moved onto new server) ]
 - PHP version: [ 7.2 ]
 - Used web server: [ Ng

[2018-05-08 12:12] GwendolenLynch commented on #7469
What happens when you set `debug: false` in your `config.yml`?

That looks very much like the Symfony Debug Toolbar that is causing that.

[2018-05-08 12:27] dhalucario commented on #7469
Did that, now the error is gone. Is there a way we can get the nonce though?

[2018-05-08 12:29] GwendolenLynch commented on #7469
Yes, but it was a PITA the last time I looked and to be honest I can't remember without digging how I did it with that.

[2018-05-08 12:39] dhalucario commented on #7469
I think they implemented it since then. When I find some time in near future I will try to add this myself and create a pull request.

[2018-05-08 12:41] GwendolenLynch commented on #7469
That would be great if you can.

[2018-05-08 15:28] xiaohutai commented on #7328
Keep it open, stale boiii

[2018-05-08 18:10] jcellak opened #7472 "JS Error in User Profile (v3.5.0)"
As reported in the Bolt Slack channel on 5/8/18:

I recently updated to Bolt v3.5.0 -> logged in -> attempted to edit my Profile information -> encountered in the JS console: `Uncaught TypeError: $(...).complexify is not a function` - presumably the logic responsible for testing password strength. Everything JS powered on that page grinds to a halt.

Jumped back to Bolt v3.4.10 and the error disap

[2018-05-09 13:44] #7472 closed, assigned to bobdenotter

[2018-05-10 12:15] #7295 closed

[2018-05-11 11:43] #7462 closed, assigned to nobody

[2018-05-13 09:58] #7367 closed, assigned to nobody

[2018-05-13 09:58] #7366 closed, assigned to bobdenotter

[2018-05-13 11:58] #7284 closed

[2018-05-14 09:56] jhwsys opened #7481 "allowtwig: true has no effect when html is saved"
Using allowtwig: true to allow embedding twig tags in html source via ckeditor works when the page is previewed but not when it is saved and viewed normally. In the latter case the tags are escaped; i.e ```{{``` becomes ```%7B%7B```.

Details
-------

 - Relevant Bolt Version: 3.5.0
 - Install type: Zip/tarball install
 - PHP version: 7.2.3
 - Used web server:  Apache
 - For UX/UI issues: n/a
 - D

[2018-05-14 10:55] otrelin opened #7482 "Missing quotes in MySQL queries"
I have contenttype `projectreferences` and taxonomy for it `references` (categories).
In admin panel on Dashboard I get error of MySQL query:

![1526294600172](https://user-images.githubusercontent.com/15085327/39992907-db9ebb52-577c-11e8-99f7-530c4503320e.jpg)

The problem is word "references" is reserved in MySQL and in this query it is used without quotes. When I manually add quotes around word

[2018-05-14 14:06] jhwsys commented on #7481
# Update
Further tests reveal that this problem occurs when twig tags are embedded in html url-type attributes such as ```src``` and ```href```. Twig tags embedded elsewhere in html work fine. Also, although ```{``` and ```}``` are encoded, ```#``` and ```%``` are left untouched.

This still leaves a problem because it prevents the use of e.g. the automatic cache-busting of the ```asset()``` funct

[2018-05-14 18:43] cdowdy commented on #7481
I posted a similar question to slack on July 13, 2017 ...

here is a gif I posted https://boltcms.slack.com/files/U0P1V3CE7/F68HGKDT7/pastedcode-3.gif

this was the contenttype setup with the options that @bobdenotter told me too add https://boltcms.slack.com/files/U0P1V3CE7/F68CH5HRR/ct-allow-twig.png

Mine was "breaking" in code blocks with encoded or non encoded entities but this was also a dif

[2018-05-14 19:17] cdowdy opened #7483 "Bolt asset versioning strategy differers from symfony"
Using the asset twig function we can't turn off the query string, or the config parameters are ignored since the bolt docs and symfony docs differ

Details
-------

 - Relevant Bolt Version: [ 3.5.1 ]
 - Install type: [ Composer install  ]
 - PHP version: [ 7.2.4-1 ]
 - Used web server: [ Nginx  version 1.13.12

Reproduction
------------

### Bug summary

Following the bolt docs on linking to asse

[2018-05-14 19:27] GwendolenLynch commented on #7483
They are handled differently and use Symfony's DI to do several things. Bolt's is in v3 hooked into some legacy stuff.

The good news is that if you want to build your own service, you can reinject that into the application container and override Bolt's.

[2018-05-14 19:29] cdowdy commented on #7483
so in order to use webpack to build our assets for themes we should build a new service? or are we talking about two different things haha?

[2018-05-14 19:32] GwendolenLynch commented on #7483
To use Webpack versioning, yes, unfortunately … I looked at what SF had done, but porting it to v3 was way more work that I have time for.

FWIW I use Webpack for all my asset builds on Bolt sites these days, it just means using Bolt's asset versioning.

[2018-05-14 19:33] RodrigoBalest opened #7484 "Problems with translations"
When using Bolt with my language (pt_BR), there are some issues on the buttons/links translations related to content types. The problem can be better understood at the _Expected results_ section below.

Details
-------

 - Relevant Bolt Version: 3.5
 - Install type: Composer install
 - PHP version: 7.2
 - Used web server: Apache version 2.4.33 (Ubuntu)

Reproduction
------------

### Steps to repr

[2018-05-14 19:44] bobdenotter commented on #7484
This is not something that we can feasibly fix, i'm afraid. It has to do with the fact that english doesn't have genders for nouns, so we can't distinguish between them (same goes for Dutch, French or German). In Bolt 4, we'll re-do the translation engine, and hopefully we can fix it then.

[2018-05-14 19:45] cdowdy commented on #7483
Ok I think we are talking about different things or I'm just being dense after work today haha

My issue is about bolt using an undocumented configuration for the asset versioning strategy. Bolts docs link directly to symfonys docs.

If you use symfony configuration nothing works. If you crawl through bolts code you'll see bolt doesn't use the same configuration pattern. Once you use the undocumen

[2018-05-14 19:47] GwendolenLynch commented on #7483
We might be … It's been a long and stressful few weeks … I'll have a reread in the morning when I've had some sleep, mate :smile_cat:

[2018-05-14 19:48] cdowdy commented on #7483
Haha no worries get back to it when you can!

[2018-05-15 06:52] #7482 closed, assigned to rossriley

[2018-05-15 17:50] cdowdy commented on #7483
To add to this I was also developing a theme and wanted to use webpack's hot module replacement (coupled with webpack dev server ) and the `base_urls` / `base_url` options - as seen here http://symfony.com/doc/current/reference/configuration/framework.html#packages - aren't implemented.

just to give a little info on webpack-dev-server / hmr and a bolt we could use the  `config_local.yml` file and

[2018-05-16 15:54] RodrigoBalest commented on #7484
Ok.
I'll change *Novo* to *Criar* (Create) on the translations, since verbs doesn't have genders in portuguese.
I think it will suffice.
Thanks!!

[2018-05-16 15:54] #7484 closed, assigned to nobody

[2018-05-17 07:34] ToBe998 commented on #7389
Any news on how to resolve this in the docs and when deprecation hits?

[2018-05-17 21:57] SvanteRichter commented on #7271
To be clear: this is a bug. The publish date should be the date when it was published, not when it was created.

So if anyone want's to work on it I think it'd get merged pretty easily.

[2018-05-18 07:03] GwendolenLynch commented on #7483
OK, still not seeing your point here.

Our docs link to [Symfony's templating page](http://symfony.com/doc/current/templating.html#templating-assets), whereas what you reference is for Symfony Framework's asset bundle configuration. We've never used the framework within Bolt.

This is coming in v4, but prior to then I stand by my first comment here.

[2018-05-18 11:29] cdowdy commented on #7483
Which symfonys docs links to the framework bundle on asset versioning.

If you all didn't use the symfony version then why is there a  bolt json manifest version strategy and version strategy provider?

If the bolt asset function is a complete custom one off thing then why even link to symfonys docs on the asset function. You can't do anything mentioned in the symfony docs on how to version assets

[2018-05-18 11:49] ToBe998 opened #7487 "[Bug] Recent articles in content menu in backend empty for non-root"
Inside Bolt's backend, on the content menu (the dark part on the left, starting with "overview") shows entries for each contenttype. When you hover over a contenttype there, it will shows a link for the contenttypes overview and a link to create a new item.
Below those two, you can see a list of the most recently edited articles.

**Problem**
The list is correctly showing recent items when logged

[2018-05-18 11:51] ToBe998 commented on #7487
I did some debugging and could at least see that:
- The recent items get loaded from storage and added to the menu entry
- The items get the permission "contenttype:<contenttype slug>"
- The items arrive inside the menu builder

that's as far as i got

[2018-05-18 12:46] GwendolenLynch commented on #7483
Care Factor Zero … They also link to the rest of their docs, that doesn't mean we implement the whole damn framework. That is rather an insulting comment btw.

[2018-05-18 12:58] cdowdy commented on #7483
so me.. stating a fact that the docs bolt passes off to symfony and then symfony passes the to the symfony framework edition is insulting? Well I apologize then for whatever slight that may have caused.

and me. offering to fill in the gaps of the documentation, document bolts undocumented use of something is care factor zero? alright then

[2018-05-18 13:14] bobdenotter commented on #7487
I can confirm this behaviour. I'll see if I can figure out where it goes wrong.

Good find, @ToBe998 👍

[2018-05-18 14:08] cdowdy commented on #7483
heck you yourself @GawainLynch did the json manifest pull request with the differing config https://github.com/bolt/bolt/pull/7305

I was asking if we could update the docs with appropriate, actually documented examples. But since I had  go through symfonys docs - which bolt links to for "For a more in-depth description of the asset function, see the Symfony documentation on assets." - I figured t

[2018-05-18 15:14] bobdenotter commented on #7487
Turns out this is a duplicate of the dreaded "Configuration error: Permission 'everyone' is not granted to any roles. You should add a role for this permission to  permissions.yml. (5 minutes ago)" issue..

![screen shot 2018-05-18 at 17 12 25](https://user-images.githubusercontent.com/1833361/40242784-d5e549ca-5abe-11e8-9388-1a57862fa5d2.png)

Still digging..

[2018-05-18 16:02] SvanteRichter commented on #5533
@rossriley do you know if we ever fixed this? I can't seem to find any commits/PR's relating to it.

[2018-05-19 10:04] #7487 closed, assigned to bobdenotter

[2018-05-19 10:49] bobdenotter commented on #5533
I'm not @rossriley, but I don't think so. 😇

Let's re-open and add a `keep` label

[2018-05-19 23:32] zomars commented on #7373
I'm still doing this

[2018-05-22 07:51] maetthu commented on #7390
It is still relevant. The performance hit for keyword search is quite substantial.

[2018-05-22 08:41] ToBe998 commented on #7487
Is there some hack for the permissions.yml to fix this in Bolt 3.4 too?

[2018-05-22 09:41] motivecodex opened #7492 "Bolt 3.4.9 page layout goes rough with inner block"
On Bolt 3.4.9 the page layout goes rough when using blocks inside of another block or blocks inside of a repeater.

![screenshot-2018-5-22 idea erstellen bolt](https://user-images.githubusercontent.com/2242015/40354445-2d7b9d5e-5db4-11e8-99bd-9d4e57e462b5.png)

[2018-05-22 10:08] GwendolenLynch commented on #7492
That is due to blocks and/or repeaters not being supported for use inside other blocks/repeaters.

See https://docs.bolt.cm/fields/block

[2018-05-22 10:08] #7492 closed, assigned to nobody

[2018-05-22 10:09] bobdenotter commented on #7492
https://media.giphy.com/media/RgaVJ150nYExi/giphy.gif

[2018-05-22 10:10] bobdenotter commented on #7492
![](https://media.giphy.com/media/RgaVJ150nYExi/giphy.gif)

[2018-05-22 11:00] motivecodex commented on #7492
Is this reality, or is this fantasy?

[2018-05-23 07:43] jadwigo commented on #7487
Probably by adding a single line to your `permissions.yml` as in the change: https://github.com/bolt/bolt/pull/7488/commits/7963589cd8d041fae46e3b2cae620a69bb4510ff

[code]

[2018-05-23 07:50] bobdenotter commented on #7487
@ToBe998 In addition to that, add `everyone: [ everyone ]` to make other users also see the "latest entries".

[2018-05-23 10:17] JarJak opened #7496 "[BUG] Field with same name as other one inside repeater overwrites config of the first one"
Bug summary
---

If field in repeater has the same name as other field outside of this repeater, then the first one takes configuration from the second. Configuration of field in repeater is overwritten.

Details
-------

 - Relevant Bolt Version: 3.5.1

Reproduction
------------

Content type config:
[code]
With this config, enter Article edit page and you can notice that `Detail type` select has

[2018-05-23 10:19] bobdenotter commented on #7496
I think this is a duplicate of an existing issue.

[2018-05-23 11:22] JarJak commented on #7496
Probably related to #7461 but not the same. Both cases should be tested after fix.

[2018-05-24 14:59] jadwigo opened #7497 "Unable to add a relation with setRelation()"
When I import records in a custom bundle, I can't add a relation between entities.

There seems to be a mismatch between `setRelation()` in `Storage/Entity/Content`
https://github.com/bolt/bolt/blob/3.5/src/Storage/Entity/Content.php#L256-L259
and  `setRelation()` in `Storage/Entity/ContentRelationTrait`
https://github.com/bolt/bolt/blob/3.5/src/Storage/Entity/ContentRelationTrait.php#L104-L109

A

[2018-05-25 12:14] JarJak commented on #7328
This bug still exists in 3.5.2 and 3.6. #7291 does not fix it.

[2018-05-25 22:37] #7374 closed, assigned to nobody

[2018-05-26 12:27] bobdenotter commented on #7136
Added `keep` label

[2018-05-26 20:25] curtchan opened #7499 "[RFC] Extended theme configurations"
Won't it be good to have... more tailored, ready-to-use out of the box themes?
As someone who is still learning about Bolt, but has a lot of experience in WP, i was actually suprised that the themes in Bolt feel quite limited.

But what all the fuss about? I was searching through available Bolt Themes to see how they solved their own problems, and came to conclusion that a lot of them... solve the

[2018-05-27 06:17] Boorj commented on #7405
hey hey)

[2018-05-27 06:18] Boorj commented on #6229
hey hey

[2018-05-27 06:20] Boorj commented on #6229
![image](https://user-images.githubusercontent.com/2145313/40583064-ac651050-61b0-11e8-8551-6132b9457b14.png)

Some sketches to keep topic updated

![image](https://user-images.githubusercontent.com/2145313/40583066-b85a858e-61b0-11e8-950c-b298808a1fe8.png)

[2018-05-27 06:27] Boorj commented on #7401
By the way, i think file size limit should relate only to `upload` button, not to `"select from server"`

[2018-05-29 12:24] jadwigo opened #7500 "[RFC] haveibeenpwned integration for backend login / user admin pages"
It seems it is possible to add a simple query to the api of haveibeenpwned on login forms.
https://github.com/OktaSecurityLabs/passprotect-js - Use of previously pwned passwords will then be discouraged.

More information on what happens: https://www.troyhunt.com/pwned-passwords-in-practice-real-world-examples-of-blocking-the-worst-passwords/

Do we want it in Bolt too?

Details
-------
 - Relevan

[2018-05-29 13:10] ldaguise commented on #7116
I experience this issue too.
👍

[2018-05-29 13:21] bobdenotter commented on #7500
We already have this: https://github.com/bolt/bolt/blob/3.6/app/view/twig/firstuser/firstuser.twig#L88-L94

They say `passprotect-js` is secure, but regardless of whether that is true, I assume a ton of people will object to adding a functionality to password fields that's basically a benign keylogger.

[2018-05-29 14:32] jadwigo commented on #7500
This script does not send the password anywhere - it only sends the first 5 or 6 charaters of the sha-1 hash. Locally the full sha-1 hash is compared to the api result.

Yup, you could call it's a _benign_ keylogger, and the same goes for the bolt back-end itself, because that uses the hashed password too.

The API is very simple, we could also make a custom script to do that if we don't want to u

[2018-05-30 07:54] Boorj commented on #7395
hey

[2018-05-30 07:54] Boorj commented on #7422
hey

[2018-05-30 07:54] Boorj commented on #7423
hey

[2018-05-30 07:54] Boorj commented on #7413
hey

[2018-05-30 07:54] Boorj commented on #7410
hey

[2018-05-30 07:54] Boorj commented on #7408
hey

[2018-05-30 12:54] GwendolenLynch commented on #7423
Closing as there is nobody stepping up to work on this. Usual stuff, if someone wants to that is welcomed.

[2018-05-30 12:54] #7423 closed, assigned to nobody

[2018-05-30 12:55] GwendolenLynch commented on #7410
Closing as there is nobody stepping up to work on this. Usual stuff, if someone wants to that is welcomed.

[2018-05-30 12:55] #7410 closed, assigned to nobody

[2018-05-30 19:13] hannesl opened #7501 "Not possible to filter content overview by combining taxonomy and free text"
We recently upgraded from 2.2 to 3.5. Our client is sad because they used to be able to search a content type (in the backend) by combining a category with a freetext search in such a way that the two limit the results – i.e. combined by an `AND`, not an `OR`. In other words, they want to be able to search for content in the "animals" category containing the word "dog". This was possible in 2.2 ap

[2018-05-31 00:38] rossriley commented on #7116
I'll check this out, looks like we have a regression somewhere

[2018-05-31 07:12] Boorj commented on #7410
@GawainLynch i can do that, but i thought that there's only one person, who is responsible for JS part.
Anyway.. if there's one table editor wih extra functions, can we use the same to that list?
I'd could do this task, and i need some directions, what to use. Couple advises should be enough.

[2018-05-31 07:15] Boorj commented on #7423
@GawainLynch - again, i was waiting for comments (!). I've done that on my local project, so i can repeat it for core.

[2018-05-31 07:17] Boorj commented on #7410
@GawainLynch @bobdenotter  Do we have any label, like "high hanging fruit" that could be assigned to useful but non-urgent task? So you can assign that to an issue and close it. And if someone wants to spend time on improving bolt, he (or she) can filter closed issues by that tag and do the job.

[2018-05-31 07:17] Boorj commented on #7424
hey

[2018-05-31 13:46] Boorj commented on #7424
hey

[2018-05-31 13:56] Boorj commented on #7424
fixing that.

[2018-05-31 13:56] bobdenotter commented on #7424
👍 😊

[2018-05-31 14:50] Boorj commented on #7467
Please, make this feature optional. That will definitely break standard behavior.
If all labels are placed in one column, and one small checkbox will be at left, some not experienced users can miss that.

If you put checkbox at left on this draft (taken from #6229 ) :
![image](https://user-images.githubusercontent.com/2145313/40788975-873160c2-651b-11e8-80fc-b560a1feb79b.png)
this will break the d

[2018-05-31 16:29] SvanteRichter commented on #7467
@Boorj This wouldn't break anything. It just adds functionality that is currently not present, the default remains the same.

[2018-05-31 17:59] curtchan commented on #7500
IMO good idea, but seems more suitable for extension rather than core element of bolt.

[2018-06-01 06:14] Boorj commented on #7467
1
---

@SahAssar that was a kind of dialog:

Will be it marked with `variant-left` ?

2
---
Btw i suggested extra field, which adds comment to checkbox. What do ya thing about it?

[2018-06-01 12:38] #7424 closed, assigned to nobody

[2018-06-01 16:13] eduardomart commented on #7467
@Boorj
Did you read the original message? the idea is to simply use the `variant: inline` property that is currently not being used for checkboxes. This would keep the available options in field types consistent.

Adding comments is already possible with `prefix` and `postfix`

[2018-06-02 02:52] rossriley commented on #7496
Different Bug confirmed

[2018-06-02 14:07] rossriley commented on #7389
OK, been thinking about this one a bit. I think the crux of this is that we probably won't deprecate the `getStorageOptions()`at least until we've got something viable to replace it with.

The overall goal for Bolt 4.0 and beyond is to try and reduce the amount of work that each field has to do, because there's a danger of them turning into the mini-God objects of Bolt since fields like blocks, re

[2018-06-02 14:08] rossriley commented on #7403
stalebot, you're drunk

[2018-06-02 15:35] Boorj commented on #7467
2 - @eduardomart  sometimes you need to explain what will happen exactly, if box is chosen. And yes, i'm using postfix for that. And sometimes it goes nicer, when it goes like `[ ] enable some stuff`

If that doesn't break typical behaviour and is optional - i'm ok with that.

[2018-06-02 17:19] eduardomart commented on #7467
I honestly don't understand what you're talking about, in your example:
`[ ] enable some stuff`

"enable some stuff" is the `label`, nothing is changing there.

[2018-06-02 19:12] GwendolenLynch commented on #7467
What @eduardomart said.

This doesn't currently use Symfony Forms, but in v4 it will. That is not negotiable. At that point, it is either an upstream improvement or an implementation detail.

[2018-06-03 00:18] rossriley commented on #7497
OK, first the simple answer, the way we do it in core is like this:

[code]

Now the longer answer which I've just realised when looking through this issue is that we've lost some of the originally designed functionality when we optimised the collections to be lazy.

Each of the related contenttypes is supposed to expose itself as an attribute on the entity, so for instance in your page record you

[2018-06-03 09:26] #7461 closed, assigned to rossriley

[2018-06-04 08:47] SvanteRichter commented on #7499
Bundling contenttypes in themes has been discussed, and IIRC nobody was really against it, but it has never been implemented.

[2018-06-04 11:56] #7337 closed

[2018-06-04 14:02] nlemoine opened #7507 "[BUG] New content parser"
When when setting `setcontent_legacy: false`, the following notice is raised:
[code]

Details
-------

 - Relevant Bolt Version: 3.5.3
 - Install type: Composer install
 - PHP version: 7.1
 - Used web server: Apache 2.4

Reproduction
------------

### Bug summary

I tried to dig a bit further to figure out where this issue could come from.
- On the [frontend controller](https://github.com/bolt/bol

[2018-06-04 14:16] rossriley commented on #7507
Yes, I know about this one and it's already fixed in the mega PR #7291.

There's quite a few bugs fixed in that PR so until it lands I'd recommend not using the flag for legacy off since it's not really stable enough. As soon as that lands most of these bugs will disappear and it will be ready for some more indepth testing.

[2018-06-04 19:47] nlemoine commented on #7507
Thanks for your reply @rossriley, I'll close the issue and will reopen it if necessary.

[2018-06-04 19:47] #7507 closed, assigned to nobody

[2018-06-04 21:36] steiha opened #7508 "Content Type // Repeater // Checkbox // Default // Checked // NOK"
Can not have a checkbox in repeater set which is checked by default.

Details
-------

 - Relevant Bolt Version: 3.5.3
 - Install type: Composer install
 - PHP version: 7.0
 - Used web server: Apache

Reproduction
------------

contenttypes.yml
[code]

### Bug summary

Can not have a checkbox in repeater set which is checked by default.

### Steps to reproduce

- add a repeater set to a content ty

[2018-06-05 00:13] #7419 closed, assigned to nobody

[2018-06-05 00:16] rossriley commented on #7403
Assuming #7291 is in 3.6 then I also have some work in progress on optimising loads for relationship joins. ref: #7183

[2018-06-05 16:27] ToBe998 opened #7509 "[BUG] Loading of content in taxonomy pages extremely inefficient"
The Frontend Controller has a method for taxonomy pages. In this method, it will load the records array for the current taxonomy slug. It does this in a very inefficient way.

**Current process**
This is the current process:
 - One Query loads all matching contenttypes and contentids for the current taxonomy
 - A Loop goes through each found contentid/type
 -- the record for this contentid/type is

[2018-06-07 14:55] #7437 closed, assigned to nobody

[2018-06-07 15:41] nestordedios opened #7512 "Save button does not work sometimes"
Hi everyone!

It seems the Save button sometimes does not work when saving a record.

It is not easy to reproduce but I have managed several times. The way I have done it is:

- Install a fresh Bolt v3.5.3.
- Prefill Database with 10 record of each default Contenttype.
- Open the prefilled record in several Tabs and wait for some time.
- After a minute or 2 start pressing the Save button of each o

[2018-06-09 17:45] ghost commented on #7351
Hello Developers,

Something has changed in Bolt or Maps, so unfortunately the map view only shows the world map including the equator.

I have this Maps code.

     {{ dump(record.geolocation) }}
     {{map(
     latitude = record.location.latitude,
     longitude = record.location.longitude,
     html = record.body,
     icon = "fa-map-marker",
     record = record,
     google_options = {

[2018-06-09 20:04] ghost commented on #7351
Ok, my Problem is solved!!

[2018-06-10 10:40] #7496 closed, assigned to rossriley

[2018-06-11 12:04] JarJak commented on #7438
Valid request for very useful feature.

[2018-06-11 15:04] Boorj commented on #7425
@bob @GawainLynch  If you tell that it's ok - i can do that

[2018-06-12 03:47] rossriley commented on #7497
Closing this as hopefully it should be covered via #7506 once 3.6 is released.

[2018-06-12 03:47] #7497 closed, assigned to rossriley

[2018-06-12 03:48] rossriley commented on #7465
Fixed hopefully in #7503
Feel free to reopen if there's still any issues.

[2018-06-12 03:48] #7465 closed, assigned to nobody

[2018-06-12 10:47] GwendolenLynch commented on #7512
OK, so this is just a race.

Basically, if you open the tabs **slowly** (i.e. let it finish load/render) and then open the next — or, refresh an existing one — everything repeatedly works fine:
- Initially: Tabs 1 to 9 fail, tab 10 works
- Refresh/reload: Tabs 1-10 work

It is all to do with the CSRF token.

So, if the form token exists in the current persistent session data, all 10 tabs can be op

[2018-06-12 10:52] GwendolenLynch commented on #7512
Oh, and in case the "obvious" is just in my own head, the invalid token means the form fails validation — as it should — and a full page render is returned instead of the JSON, as further POST handling is skipped at that point, also a wanted outcome.

[2018-06-12 11:47] bobdenotter commented on #7512
Sounds plausible.

Is it something we can improve? (ie. creating and saving it immediately?)

[2018-06-12 11:49] GwendolenLynch commented on #7512
I'm out of ideas myself. But … It is an edge-case, and doing the save during the request will hurt everyone.

For those really bothered by it, they can take their site in their own hands and disable CSRF protection :stuck_out_tongue_winking_eye:

[2018-06-12 12:13] bobdenotter commented on #7512
Could we have the 'overview' controller/page trigger the generation of a valid token, if there isn't one?  If we can do that, it'll most likely circumvent this issue.

[2018-06-12 12:50] GwendolenLynch commented on #7512
Yes, make the overview Form based :stuck_out_tongue_winking_eye:

It might work for most of the time this is hit, but not all.

[2018-06-12 13:01] bobdenotter commented on #7512
“Most” would make the case much edgier, and we all strive to be edgy, right? 😉

[2018-06-12 13:03] GwendolenLynch commented on #7512
Well given this is the first report of it in 6 years, I'd say it is already pretty edge case :wink:

[2018-06-12 20:46] #7512 closed, assigned to nobody

[2018-06-14 18:30] bobdenotter commented on #7425
I would prefer - instead of an option - to just `slugify` the folder name instead. Options are "another choice that has to be made" for the user.

I think i remember you overriding the slugify anyways, so for you it would also remain consistent.

[2018-06-14 18:50] Boorj commented on #7425
not exactly, that was about **file** upload. And this one is creating public folders that will become a chunk of full file part. like `site.com/files/folder%20name/neat-slugified-filename.jpg` . Filename is slugified without a prompt, and folder name is currently left as is, only url encoded.
So slugifying filename is easy, and slugifying new folder takes another php methods. So it's different.

B

[2018-06-15 11:09] Boorj commented on #7405
This case looks like one of those small tiny things, that are easy to loose.
@GawainLynch @bobdenotter i think this issue should be revised again, i read it again and found many good arguments.

[2018-06-15 16:29] Boorj commented on #7411
@GawainLynch , why did you close that?
It, actually have sense. On current project that error is causing tons of troubles.

[2018-06-15 16:37] Boorj commented on #7411
# bug:

I have these values in select field. And When i select these values:
![image](https://user-images.githubusercontent.com/2145313/41479130-5e0d5b58-70f4-11e8-9b89-63dde9ec051c.png)

Bolt saves to database next field:
![image](https://user-images.githubusercontent.com/2145313/41479153-705d81fc-70f4-11e8-93a3-5f0e997330af.png)

[2018-06-16 07:15] tomas-zemres opened #7530 "Uncaught Exception with space in filter(lookup) field in admin / list entires/pages"
I go to admin / list entries (or list pages)

http://localhost:8000/bolt/overview/entries
or
http://localhost:8000/bolt/overview/pages

I enter " test" (with leading space) to filter field and submit this filter.

It raises exception:

 Uncaught Exception: QueryParseException .
 QueryParseException in QueryParameterParser.php line 306:
 No matching value found for "%%"

Details
-------

 - Relevan

[2018-06-16 08:34] Boorj commented on #7411
# Yay! 😆
Looks like i found the problem !

![image](https://user-images.githubusercontent.com/2145313/41497180-853db25a-717a-11e8-9263-2ca539eaec40.png)

@GawainLynch , in `Form\Resolver\Choice.php` ( [here](https://github.com/bolt/bolt/blob/3.5/src/Form/Resolver/Choice.php#L108)  ) you apply array_slice. And it breaks all indices.

[2018-06-16 08:43] Boorj commented on #7426
@bobdenotter i disagree.
 In #7411 the problem is not in PHP, it's in incorrect usage. And also in that issue problem is in `Form\Resolver\Choice.php`, and it doesn't relate to taxonimies. It **looks like** this issue, but it **doesn't equal**. See more details in that issue.
So, i suppose, this deserves to be reopen, sorry.. 😊  😢

[2018-06-16 08:45] Boorj commented on #7411
This function, i suppose, sanitizes the array of values. Or applies the limit.

[code]

[2018-06-17 03:20] rossriley commented on #7501
I'll leave this open for others to add some input on. The current behaviour was designed to function as it is, the UI specifies that you are selecting a taxonomy OR a text filter and the code has been implemented to match this.

It does seem a little counter-intuitive to me since the actual need for doing an OR query here seems like it wouldn't really make sense, so if noone disagrees I'm happy to

[2018-06-17 03:21] #7389 closed, assigned to rossriley

[2018-06-17 03:41] rossriley commented on #5284
OK, so as of 3.6 when you can opt to move to the new storage system this has effectively been dealt with since iterating over a taxonomy now gives you a Taxonomy object so you will be able to do the following for the `stages` taxonomy

[code]

It won't be ported back to legacy storage which will continue to work as is.

[2018-06-17 03:41] #5284 closed

[2018-06-18 09:45] hannesl opened #7534 "Backend: Filter is lost when clicking "1" in the pager"
In the backend, on a content type overview. When you filter the overview, go to page 2 and then click on page 1 again, the chosen filter is lost.

Details
-------

 - Relevant Bolt Version: 3.5.1
 - Install type: Composer install
 - PHP version: 7.2
 - Used web server: Apache 2.4.18
 - For UX/UI issues: Chrome 66 (prolly not relevant)

Reproduction
------------

### Steps to reproduce

* Go to a c

[2018-06-18 12:31] hannesl opened #7535 "Missing "View (saved version) on site""
In Bolt 2.x there was the option to view the saved version of a post by clicking the arrow next to the Preview button (there's an image in [this old issue](https://github.com/bolt/bolt/issues/4342)).

In 3.5 the button only does "Preview", and there is no way that I can find of jumping to the saved version of the post in the frontend. Users complain that they have to search for content in the fron

[2018-06-18 12:34] GwendolenLynch commented on #7535
Do you mean like this one?
![screenshot from 2018-06-18 14-33-18](https://user-images.githubusercontent.com/1427081/41536005-9004d14c-7304-11e8-8474-04291685d789.png)

Just a quick sanity check, the record is published?

[2018-06-18 12:42] bobdenotter commented on #7535
@hannesl The button for 'view saved version' is not shown if the contenttype is `viewless`.

[2018-06-18 12:49] hannesl commented on #7535
Thanks for responding so quickly! I'll look into it more deeply then – I was too quick to assume that it was just missing functionality. I've done some custom stuff with routing/controllers so maybe there's something going on there. The content type is not viewless.

[2018-06-18 13:24] hannesl commented on #7535
OK, so in `_aside-preview.twig` there are references to the `contentlink` route in `routing.yml`. I have disabled this route and instead rely on custom routes for different content types.

If I change this:

    {% if context.content.status == "published" and context.content.link is defined and 'contentlink' in config.get('routing')|keys %}

to this:

    {% if context.content.status == "published

[2018-06-18 14:31] bobdenotter commented on #7535
~@hannesl Did you remove the `contentlink` route from `routing.yml`?~

 Edit: Ah, yes.. You did. Short answer: You shouldn't. Removing _other_ code from the Bolt core to make your specific workflow work, won't be good for other users.

The easiest "fix" is to not remove the `contentlink` route, because there shouldn't be any drawbacks to keeping it intact. Just move it _down_ a bit, if you want to

[2018-06-18 14:51] #7534 closed, assigned to bobdenotter

[2018-06-18 16:26] #7439 closed, assigned to nobody

[2018-06-18 20:48] hannesl commented on #7535
That seems to work, thanks!

The only downside is that there are now two active URLs for the same posts, but I can live with that. The Canonical meta tag should prevent any SEO issues.

[2018-06-18 20:48] #7535 closed, assigned to nobody

[2018-06-20 11:52] JarJak opened #7537 "Prevent saving entry with empty slug"
As an admin when I clone an entity, change it's title and quickly click save, it gets saved without a slug. This is because slug takes time to generate. So I think that clicking 'save' should be disabled until slug gets generated.

It should be done somewhere here:
https://github.com/bolt/bolt/blob/3.5/app/src/js/widgets/fields/fieldSlug.js#L238
I am not familiar with bolt js stuff... how can I ca

[2018-06-24 19:13] #7447 closed, assigned to nobody

[2018-06-25 12:53] jadwigo commented on #7440
This is probably not fixed in bolt yet.. and not in the documentation either. Unfortunately I did not have time to improve the documentation for all use cases.

And then I inadvertedly removed the branch so https://github.com/bolt/docs/pull/896 was automatically closed.

@JarJak do you have more ideas about how we can update the documentation?

[2018-06-25 13:00] GwendolenLynch commented on #7440
There is nothing to fix in Bolt itself, but documentation needs updating (correctly).

As this is a docs issue, I'll close this one and if someone has the time to dig in and write this up properly in bolt/docs that'd be great :+1:

[2018-06-25 13:00] #7440 closed, assigned to nobody

[2018-06-27 12:33] blaues0cke opened #7539 ""default" property not respected in contentblocks"
So I try to set a default for fields used in `contentblocks` but the `default` field is not respected. If I move the fields directly to the fields of the parent `contenttype` everything works as expected.

Contenttype to try with:

[code]

This will render the following page directly after pressing the "add new" button:

![image](https://user-images.githubusercontent.com/5159398/41973846-7e147fc8-

[2018-06-27 17:31] Boorj commented on #7425
@GawainLynch please, don't close that, until pull request is merged 😊

[2018-06-27 17:33] Boorj opened #7540 "Nested arrays in RequestSanitiser cause ContextErrorException"
When you suddenly delete any required route from `routing.yml` (like `'homepage'`), on the login page you get a non-informative error:
![image](https://user-images.githubusercontent.com/2145313/41989404-674a1a5c-7a69-11e8-91cb-5f2c6fa44017.png)
When you put routes back - it works ok. This refers to #7175 .

1. Can we detect those missing required routes and show more informative error?
2. Can we m

[2018-06-27 18:46] scotteuser commented on #7500
FYI, I've created this as an extension, extending the default Bolt login class to add this additional password policy option:
https://market.bolt.cm/view/scotteuser/passwordhaveibeenpwned

[2018-06-27 18:51] scotteuser commented on #7500
It's worth noting that with V2 of the API, the code doesn't actually send the password: just the first 5 characters of a hash (not the bolt hash) and it returns hundreds of possible hashes which it then compare against server side.

[2018-06-28 10:20] psanchezg opened #7541 "Incorrect replace in excerpt"
When entering multiple space characters or adding it to the end in searching, the replacement of terms is incorrect for excerpt function.

Details
-------

 - Relevant Bolt Version: 3.x
 - PHP version: 7.0 | 7.1
 - Used web server: Apache | Nginx

Reproduction
------------

Add and space at the end of a search.

### Patch
[code]

[2018-06-28 10:56] bobdenotter commented on #7541
Hi,

Can you give an example of how it goes wrong? I assume it'll introduce a bunch of "empty" `<mark>` tags, but that shouldn't give a visual malfunction, right?

Other than that: Feel free to make a PR for this fix, so we can merge it in. 👍

[2018-06-28 12:01] psanchezg commented on #7541
This is the html output of a new 3.5.4 site with Dummy Content generated
Just add a final space in your search.

`<p><mark></mark>�<mark></mark>��<mark></mark>est<mark></mark>, <mark></mark>et<mark></mark> <mark></mark>quod<mark></mark> <mark></mark>externum<mark></mark>, <mark></mark>id<mark></mark> <mark></mark>in<mark></mark> <mark></mark>casu<mark></mark> <mark></mark>est<mark></mark>.    &lt;

[2018-06-29 08:30] Boorj commented on #7540
Also the same problem appeared, when i was trying to access database folder without permissions.
![image](https://user-images.githubusercontent.com/2145313/42081001-82f2590e-7bae-11e8-81a7-2dc89ba70f66.png)

## Where the problem is
in incorrect implode of associative array.
![image](https://user-images.githubusercontent.com/2145313/42081871-c98f87c2-7bb0-11e8-81da-ad42905a391e.png)

In [`RequestSa

[2018-07-01 12:45] #7541 closed, assigned to nobody

[2018-07-02 09:39] xiaohutai opened #7546 "Search does not close `<mark>` tags properly when ending in trailing space"
When you search for keywords, and have a trailing space, the `<mark>` does not perform correctly.

Details
-------

 - Relevant Bolt Version: [ 3.3 | 3.4 | 3.5 ]
 - Install type: [ Zip/tarball install ]
 - PHP version: [ 5.6 | 7.x ]
 - Used web server: [ Apache | Nginx ] version [ version ]
 - For UX/UI issues: [ browser name and version ]

Reproduction
------------

- Install Bolt
- Pre-fill cont

[2018-07-02 09:41] GwendolenLynch commented on #7546
Can you test with `3.5-HEAD` as there was #7542  merged yesterday-ish

[2018-07-02 09:45] xiaohutai commented on #7546
Oh, totally missed that one. I think that's the same issue.

Yeah, I'll test it with HEAD 👍

[2018-07-02 09:55] xiaohutai commented on #7546
@GawainLynch Indeed. Fixed in `3.5-HEAD`.

[2018-07-02 09:55] #7546 closed, assigned to nobody

[2018-07-03 14:58] zomars commented on #7382
I'm having a similar issue using SQLite in PHP 7.1 also. The site is returning `Type error: Return value of Doctrine\DBAL\DriverManager::_checkParams() must be an instance of Doctrine\DBAL\void, none returned`.

On my localhost works fine tho.

[2018-07-04 14:56] rossriley opened #7547 "[BUG] Regression on select choices for Templatefields"
This side effect seems to have been introduced via the fix in #7505

Templatefields options don't match the same structure so the select choices need to be built in the same way that repeaters/blocks were changed.

Reproduction, config in theme.yml:

[code]

No select options showing in the editcontent screen.

credit to @mikenosko for the bug report.

[2018-07-04 16:17] eduardomart opened #7548 "[BUG] title_format not working (possibly a regression)"
Details
-------

 - Relevant Bolt Version: [ 3.5.3, 3.5.4 ]
 - PHP version: [ 7.2 ]
 - Used web server: [ Apache ]

### Bug summary

`title_format` has no effect

### Steps to reproduce

Add `title_format: [ title, description ]` or `title_format: [ description ]` or `title_format: [ description, title ]` and go the the backend list view of record, the display won't change

### Expected result

Fi

[2018-07-05 08:21] ToBe998 opened #7549 "[BUG] Taxonomypages dont exclude unpublished when paging"
When a taxonomy page fetches content, it will load the specified number of linked records from the database ordered by date, ignoring their status and publish dates. The status will only checked after the correct number of pages has been fetched.
This means, if the taxonomy is configured to fetch 10 records and 3 of those are currently set to draft, the list will only show 7 records on this page e

[2018-07-05 09:26] otrelin opened #7550 "Content changes are not saved in backend"
Sometimes I observe the situation that changes in content through the backend are not saved.

Details
-------

 - Relevant Bolt Version: [ 3.5 ]
 - PHP version: [ 7.2 ]
 - Used web server: [ Apache ]

Reproduction
------------

### Bug summary

I make changes to the contenttype item, click the Save button and I see a message under the button that the last save was a few seconds ago.
![153078160841

[2018-07-05 09:33] GwendolenLynch commented on #7550
Probably a duplicate of #7512 in which case it should be covered in #7529 and released in v3.5.4 … could you confirm for us, please? :+1:

[2018-07-05 09:43] otrelin commented on #7550
Yes, my version is 3.5.3.
I'll try to upgrade to version 3.5.4 and watch for this.

[2018-07-05 12:41] #7453 closed, assigned to nobody

[2018-07-06 12:15] jadwigo opened #7551 "setcontent changes date value in query"
If you usee setcontent with a zero date - `'0000-00-00 00:00:00'` in a datettime field the query is modified to  `'-0001-11-30 00:00:00'`. This is weird, and it might be a bug.

-------

 - Relevant Bolt Version: 3.5.4
 - Install type: Composer install
 - PHP version: 7.2.7
 - Used web server: Nginx version nginx/1.14.0 (Ubuntu)
 - For UX/UI issues: -

Reproduction
------------

### Steps to repro

[2018-07-06 12:40] SvanteRichter commented on #7551
This is not a bug, it's just how dates work in php since they allow 0 to mean the previous month or day.

So '0000-00-00 00:00:00'  is parsed as the month preceding the first month in the preceding year (which equates to 12), the day preceding the last day of that month (which turns it into the last day in november).

There is no good way to parse 0000-00-00 since it is not a valid date, there is

[2018-07-06 12:40] #7551 closed, assigned to nobody

[2018-07-06 16:05] otrelin opened #7552 "Incorrect canonical URL"
In all my pages (of contenttype pages) there is tag `<link rel="canonical">` which contains the URL of homepage.
`<link rel="canonical" href="http://mydomain.com/">`
Because of this, the pages of the site have lost their positions in the search engines.

When I manually set canonical link (field "Canonical Link" from SEO extension), it is displayed correctly.
But why is it wrong by default? I do n

[2018-07-09 16:14] JarJak opened #7553 "[BUG][3.6][New Storage] Pager related errors"
Details
-------

 - Relevant Bolt Version: 3.6 with setcontent_legacy = false

Reproduction
------------

### Bug summary

In newest Bolt 3.6 (with the New Storage Layer by @rossriley ) setting setcontent_legacy to false breaks almost every page, while going back to true makes everything working.

### Specifics

Error I get is:

[code]

`partials/_header.twig` line 6 looks like this:

[code]

I do

[2018-07-10 08:30] xiaohutai commented on #7552
What's the correct canonical in your case then?

There's [a `canonical` setting in `config.yml`](https://github.com/bolt/bolt/blob/3.5/app/config/config.yml.dist#L61-L66).

[2018-07-10 08:56] otrelin commented on #7552
Correct canonical in every page is it's URL (but not the homepage).
`canonical` setting in my `config.yml` is commented out, as you show in your link.

Now I have:
- page `http://mydomain.com/` -> `<link rel="canonical" href="http://mydomain.com/">`
- page `http://mydomain.com/about` -> `<link rel="canonical" href="http://mydomain.com/">`
- page `http://mydomain.com/contact` -> `<link rel="canonic

[2018-07-10 09:02] xiaohutai commented on #7552
By default it should do exactly as what you described. Then something is wrong in your setup, but I don't know what.

[2018-07-10 09:14] otrelin commented on #7552
What else can change canonical?
It's only on `pages` contenttype. I use [ContentType overrides](https://docs.bolt.cm/3.5/configuration/routing#contenttype-overrides) for `pages` contenttype - this can be?
Dev-team please help!

[2018-07-10 09:23] GwendolenLynch commented on #7552
I would say with great certainty that this is related to the SEO extension, and not Bolt core, as this works on literally thousands of sites and is covered under unit test.

[2018-07-10 09:35] otrelin commented on #7552
Well I also thought so. But when I removed SEO extension nothing changed.
And Sitemap extension has the same problem.
So I didn't know to which issue tracker I need to report this so posted it here.

[2018-07-10 09:38] GwendolenLynch commented on #7552
Oh, here is fine for now … the conversation is in motion.

Disable **all** extensions and test, then reenable one-by-one would be the best way to start. If we can find a way to reproduce we can either help you, or fix a bug if there is one. :smile:

[2018-07-10 09:46] bobdenotter commented on #7552
Please post the relevant section of your `routing.yml` that does that. :-)

[2018-07-10 09:52] xiaohutai commented on #7552
I've done the following (based on your description):

- Install Bolt 3.5.4
- Install SEO
- Install Sitemap
- Add `pagebinding` in `routing.yml`

I can't reproduce your issue 🤔

![worksforme](https://user-images.githubusercontent.com/4630335/42502984-bc486c5c-8437-11e8-8fe4-7877a26a7a00.png)

[2018-07-10 09:55] otrelin commented on #7552
I made multisite on one installation, so contenttype "pages" are different for german and english site (`seiten` and `pages` respectively). The problem is only in these two contenttypes. In all others (there are six) everyting is ok.
[code]

Variables `DOMAIN_DE` and `DOMAIN_EN` are set in `.env`.

[2018-07-10 10:02] bobdenotter commented on #7552
@otrelin You can only have _one_ route that has `path: /{slug}`. I also don't think it should have the `host:` there. Try removing those, and see what happens.

[2018-07-10 10:07] otrelin commented on #7552
@bobdenotter when I'll remove `host:` I'll can do this trick only for one domain (which will be the first) and in this case German content type `seiten` will be present both in german and english sites.

[2018-07-10 10:09] bobdenotter commented on #7552
Yes, I believe that's correct. That's how Bolt works, i'm afraid.

[2018-07-10 11:03] otrelin commented on #7552
Hmm... I've uninstalled all extensions, removed contenttype override from `routing.yml` but it's still the same, even by URL `http://mydomain.com/page/about`
In pages of other contenttypes its still everything is ok.
Very strange...

[2018-07-10 11:15] otrelin commented on #7552
Where does this tag adds to the page? Maybe I'll try to debug or to find where it rewrites.

[2018-07-10 11:44] bobdenotter commented on #7552
@otrelin It does this in `function addSnippets()` in `src/EventListener/SnippetListener.php`. See also `src/Routing/Canonical.php` for how it's set.

[2018-07-10 11:46] bobdenotter commented on #7552
That said, I'm _quite_ certain it does work as it should under normal circumstances. Are you certain the routing doesn't mess with it? Check the "Routing" panel in the profiler toolbar for details on which route was used.

Did you clear the cache, after removing the override?

[2018-07-10 13:02] otrelin commented on #7552
@bobdenotter You are right.
My first route rules are:
[code]
So for every pages uses this rule (for german and english domain respectively). When I delete this rules, canonical URL shows correct.
The question is - how to set route rules for homepage when GET is empty? And where to insert it?

[2018-07-10 13:26] otrelin commented on #7552
And it's also interesting - why for pages uses the `homepageen` route, and the content is displayed on the `pagebindingen` route? The content of the pages is shown correctly.

My `routing.yml`:
[code]

[2018-07-10 15:08] JarJak commented on #7553
OK I have tried it on Fresh Bolt 3.6 install and got 2 different errors.

First (unrelated):
![screen shot 2018-07-10 at 17 00 26](https://user-images.githubusercontent.com/4981490/42518722-cf1d4976-8462-11e8-9c84-03180d174da5.png)

line 5 is: https://github.com/bolt/themes/blob/master/base-2018/partials/_header.twig#L5

after commenting out that line I've got second error.

Second (probably relat

[2018-07-10 18:00] GwendolenLynch commented on #7553
Instead of `bolt-vanilla`, you could try `bolt-chocolate-chip`?

[2018-07-10 19:53] GitHubinat0r opened #7556 "[Symfony\Component\Debug\Exception\UndefinedFunctionException]"
A brief description of the issue goes here.
  Installation fails with the below error:

  [Symfony\Component\Debug\Exception\UndefinedFunctionException]
  Attempted to call function "filter_list" from namespace "Symfony\Component\HttpFoundation".

Details
-------
 - OS: [FreeBSD 11.2]
 - Relevant Bolt Version: [ 3.5.0 | 3.5.1 | 3.5.2 | 3.5.3 | 3.5.4 | master ]
 - Install type: [ tarball install ]

[2018-07-11 07:17] bobdenotter commented on #7556
Hi @GitHubinat0r,

`filter_list` is a built-in PHP function. See here: http://php.net/manual/en/function.filter-list.php
My firm guess is that your PHP setup is not correct, because it's missing one or more of the built-in functions.

[2018-07-11 08:26] GitHubinat0r commented on #7556
Hello @bobdenotter

You are correct, it's my PHP installation. I should have done a simple 'hello world' php test earlier.

Thanks for such a prompt response!

[2018-07-11 08:26] #7556 closed, assigned to nobody

[2018-07-11 08:33] bobdenotter commented on #7556
@GitHubinat0r Glad you found it! 👍

[2018-07-12 12:49] stryxx opened #7558 "("Notice: Undefined property: Bolt\Storage\Field\Collection\FieldCollection::$collection")"
I found the bug during serialization of FieldCollection.
https://github.com/bolt/bolt/blob/3.6/src/Storage/Field/Collection/FieldCollection.php#L148
There you have $this->collection, which is non-existing property of class. There should be

`foreach ($this as $field) {` instead of `foreach ($this->collection as $field) {`

Details
-------

 - Relevant Bolt Version: 3.6
 - Install type: composer in

[2018-07-14 10:54] bobdenotter commented on #7540
If I remove the `homepage` route, I get the following error:

![screen shot 2018-07-14 at 12 53 10](https://user-images.githubusercontent.com/1833361/42723768-e132d798-8764-11e8-8320-00d03beec50b.png)

This is different from what you've posted, and it does explain what the issue is, right? (ie. "don't remove the homepage route").

Can you still reproduce this?

[2018-07-14 11:36] bobdenotter opened #7561 "Timed publish is triggered only once per hour."
A while ago, this popped up. I'm now adding it as a bug, so we don't forget about it:

Setup:

 * Set up a Bolt install, with default contentypes and some dummy content.
 * Set one item to be “timed publish”:

[code]

* Verify it’s set to timed:

![screen shot 2018-06-20 at 20 14 44](https://user-images.githubusercontent.com/1833361/41677142-c9e0e15c-74c7-11e8-92bd-2b5afcbcc1b6.png)

* Run the cro

[2018-07-14 11:38] GwendolenLynch commented on #7561
NOTABUG, working as expected, as we discussed.

[2018-07-14 15:37] Boorj commented on #7540
@bobdenotter i think that was because of several reasons, one of them was missing route. BUT problem that caused error shown on screenshot was incorrect `chmod` access rights on linux folder. So this is still a bug.  See the 2nd comment with screenshot.

### repro:
Try to lock database folder, and you'll get that `RequestSanitiser` problem. Stack trace is on the 2nd screenshot above.

---

Anyway,

[2018-07-15 15:00] #7469 closed, assigned to nobody

[2018-07-16 13:13] #7558 closed, assigned to nobody

[2018-07-17 14:15] bobdenotter commented on #7561
@GawainLynch No, it's not. I showed you and you said you saw the issue, but it'd need to go into 3.6. It most certainly is not working.

[2018-07-17 16:22] ziselive opened #7568 "Slug numbers will not increase？"
Details
-------

 - Relevant Bolt Version: [  3.5  ]
 - Install type: [ Zip/tarball install ]
 - PHP version: [ 7.1.15 ]
 - Used web server: [ Apache  ] version [ 2.4 ]
 - For UX/UI issues: [ browser name and version ]

Reproduction
------------
Slug numbers will not increase
Sending several articles in a row, Slug numbers has always been 1
/entry/
/entry/1
/entry/1
/entry/1
/entry/1

[2018-07-18 04:43] Boorj commented on #7540
try to remove access to database folder, maybe that helps to reproduce?

[2018-07-19 07:46] #7540 closed, assigned to nobody

[2018-07-20 20:22] #7481 closed, assigned to nobody

[2018-07-22 15:25] nlemoine commented on #6928
The embed field in Bolt only uses the `oembed` provider from the [Embed](https://github.com/oscarotero/Embed) library.

This library provides other ways to get some data, even when oEmbed isn't officially supported. In my case, I tried to get some bandcamp.com iframes. Works on the demo here: https://oscarotero.com/embed3/demo/

But Bolt doesn't return any information. Would you consider supportin

[2018-07-23 23:33] rossriley commented on #7553
These specific errors are dealt with in the recent PRs so closing now.

[2018-07-23 23:33] #7553 closed, assigned to rossriley

[2018-07-24 10:48] doenietzomoeilijk opened #7573 "Changelog can't handle changed contenttypes with repeater fields"
If you enable the changelog and change a contenttype that has a repeater field, displaying that changelog entry will throw an error (array to string conversion) from twig.

Details
-------

 - Relevant Bolt Version: 3.5
 - Install type: Composer install
 - PHP version: 7.1
 - Used web server: built-in dev server
 - For UX/UI issues: -

Reproduction
------------

* Install Bolt as per usual
* Enabl

[2018-07-24 11:37] xiaohutai commented on #7573
Might be related to https://github.com/bolt/bolt/pull/7336

[2018-07-24 12:04] doenietzomoeilijk commented on #7573
Oh, that certainly seems to be related - in fact, I'm fairly certain that issue will fix this one.

@bobdenotter any thought about getting #7336 moving again, now that #7291 seems to, in fact, have landed? :) And do you agree that this specific bug would be fixed by that, as well?

[2018-07-26 01:28] Ed-V opened #7574 "Repeater field html and textarea not displaying properly"
When using html or text area with repeater field the content stored gets messed up and shows up improperly when pulled.

Details
-------

 - Relevant Bolt Version: [ 3.2 | 3.3 | 3.4 | **3.5** | master ]
 - Install type: [ Zip/tarball install | **Composer install** | GitHub checkout ]
 - PHP version: [ 5.5 | 5.6 | **7.0** | 7.1 | 7.2 ]
 - Used web server: [ **Apache** | Nginx ] version [ version ]

[2018-07-26 08:18] Boorj commented on #6229
not in this life, stale bot

[2018-07-26 08:20] Boorj commented on #7401
up

[2018-07-27 06:39] #7373 closed, assigned to nobody

[2018-07-27 09:14] Ed-V commented on #7574
Read around and fixed it by using `|raw()` which is apparently hackish. Not sure if this was intended or not.

[2018-07-28 18:21] eduardomart commented on #7019
I am seeing this in Bolt 3.5.5, but when trying to use the search function in the front end:

![image](https://user-images.githubusercontent.com/1833020/43359524-5a5bd57c-9258-11e8-9ed2-6a22e077a754.png)

[2018-07-29 11:46] Boorj commented on #7395
not this time, not this time, Stale bot...

[2018-07-29 11:47] Boorj commented on #7422
this is still actual

[2018-07-29 11:48] Boorj commented on #7398
nnoopppee. i even suggested the solution :)

[2018-07-29 11:49] Boorj commented on #7408
let's keep that in focus!

[2018-07-29 11:50] Boorj commented on #7409
@bobdenotter we should check out, probably this one is solved...

[2018-07-29 11:51] Boorj commented on #7413
still no solution. And it spoils the party, have issue reports from my clients.

[2018-07-29 11:56] Boorj commented on #7395
@bobdenotter  i think prefixing names is a good solution. And removing prefixes after serialization, before sending to server

[2018-07-29 13:10] bobdenotter commented on #7568
Seems like this is correct.. If you leave the title (or other field to fill the slug) empty, it doesn't properly generate a good slug.. If you input even a single character in the title field, it will work correctly:

![screen shot 2018-07-29 at 15 08 45](https://user-images.githubusercontent.com/1833361/43366638-77f6af0a-9341-11e8-83d3-f154992e50ad.png)

[2018-07-29 21:27] eduardomart opened #7575 "Search functionality breaks if there isn't at least one text field"
If you define a content type that doesn't have at least a single text input field, the front end functionality of your site will break.

Details
-------

 - Relevant Bolt Version: [ 3.5.5 | master ]
 - PHP version: [ 7.0 ]

Reproduction
------------

- Create a content type such as:
[code]

- Go to your front page and use the search box

### Specifics

- This is the error that you will see:
![imag

[2018-07-29 22:44] rossriley commented on #7574
@Ed-V it is a bit hackish, we've got a proper fix coming in 3.6 which means that using raw won't be necessary any longer, but for now it is the correct way.

[2018-07-30 03:01] ziselive commented on #7568
@bobdenotter  Slugs can be generated automatically if the title is in English or numbers.However, if the title text is a multi-character font, it will not automatically generate slug.

[2018-07-30 15:53] xiaohutai commented on #7568
It seems it doesn't slugify those characters by default (probably assumes English).

You could make your own extension, or something like https://github.com/SahAssar/internationalslugs
that handles your language/locale, and for example, for Chinese: https://github.com/cocur/slugify/pull/195

Edit: It seems we're still on v1.4.1 for `cocur/slugify`. Maybe that can be updated.

[2018-07-31 07:46] jadwigo opened #7576 "[UX] Expired CSRF tokens message is causing confusion"
If you are editing a page sometimes there is a message to warn you that your changes could not be saved as per #7529.

Unfortunately this does not fix the problem in #7550 because even though users are informed some users don't understand the message and there is no helpful message about how to proceed.

This happens a lot for sites where content editors are creating long form content, or are maki

[2018-07-31 07:57] bobdenotter commented on #7576
If this were feasible to fix, we would've.

[2018-07-31 08:34] jadwigo commented on #7576
A way to test this more easily is by adding the following key for session cookie lifetime to `config.yml`

[code]

This will decrease the session cookie lifetime to 120 seconds - so after two minutes the CSRF token will expire.

If you set the session cookie lifetime to zero, the session should last until the browser is closed.
[code]

This does not seem to have any effect on the authentication co

[2018-07-31 08:50] jadwigo commented on #7576
And some more testing - Firefox makes it even more complicated.

### Steps to reproduce

 - Set session.cookie_lifetime to 120
 - Start firefox, start editing a page
 - Wait for 2 minutes
 - Try to save the page
 - Get CSRF expired message
 - Refresh page
 - Try to save the page
 - Get CSRF expired message

### What happens

If you do not close your browser firefox will *keep* the changed form dat

[2018-07-31 09:13] GwendolenLynch commented on #7576
NOTABUG

[2018-07-31 09:28] bobdenotter commented on #7576
Sorry @GawainLynch, but it _is_ a problem people are bumping into. It might not be easy to fix or resolve, but it warrants an issue on the tracker.

[2018-07-31 09:29] #7576 closed, assigned to nobody

[2018-07-31 09:38] jadwigo commented on #7576
@GawainLynch Do you know if the `config.yml` setting has any unwanted side effects?

[code]

Otherwise making that setting the default would probably solve the problem.

[2018-08-02 13:08] Boorj commented on #7467
whats up ?

[2018-08-02 13:21] Boorj opened #7579 "Crash in TimedRecords"
**norepro 😢  **

I'm having a crash in prod environment (linux centos).
![image](https://user-images.githubusercontent.com/2145313/43585849-4e592d9c-9690-11e8-97b7-cc353b611127.png)
When i copy that same base to dev environment (windows) - and everything works ok.

#### callstack
![image](https://user-images.githubusercontent.com/2145313/43585877-5e08b1d6-9690-11e8-9287-0fde6392d11b.png)

<details

[2018-08-02 13:24] GwendolenLynch commented on #7579
This is your database connection parameters, or the DB instance not being online at the time.

[2018-08-02 13:25] Boorj commented on #7579
hm.. looks like it reads all data from DB, so it's on air

[2018-08-02 13:38] #7579 closed, assigned to nobody

[2018-08-04 06:12] Mohit0 opened #7581 "~~~"

[2018-08-04 06:15] #7581 closed, assigned to nobody

[2018-08-04 08:10] Mohit0 opened #7582 "~~~"

[2018-08-04 08:11] #7582 closed, assigned to nobody

[2018-08-06 09:14] ToBe998 commented on #7509
Please remove stale. The issue has a big impact and is easy to fix. The solution is already in the ticket.

[2018-08-07 04:55] willhertz opened #7587 "If first contentype field is not text, the reminding fields won't render"
Probably related with #7575

When you create a contentype if the first field is not a text field the rest of the fields won't render in the backend (haven't tested frontend since can't even populate the fields).

There are no error messages

As soon as you place a text field as the first field all the fields render properly.

Details
-------
Bolt 3.5.3
Composer install
PHP 5.5.9-1ubuntu4.21
Apache

[2018-08-07 13:14] chungf commented on #7382
Tested in Bolt 3.5.6 and found to be by: https://github.com/bolt/bolt/pull/7570

[2018-08-07 13:17] GwendolenLynch commented on #7382
Oh, good point @chungf … I've not been doing my housekeeping properly :innocent:

[2018-08-07 13:17] #7382 closed, assigned to nobody

[2018-08-07 18:38] GwendolenLynch commented on #7561
So, form the [event subscriber](https://github.com/bolt/bolt/blob/3.6/src/Events/CronEvent.php#L74-L81) you can see the following:

[code]

This means that if [`isDuePublish`](https://github.com/bolt/bolt/blob/3.6/src/Storage/EventProcessor/TimedRecord.php#L72-L75) or [`isDueHold`](https://github.com/bolt/bolt/blob/3.6/src/Storage/EventProcessor/TimedRecord.php#L80-L83) return `true` then timed pu

[2018-08-07 19:11] bobdenotter commented on #7561
The following fixes the problem on my end. Let's discuss when you're available.

https://github.com/bolt/bolt/compare/3.6...bobdenotter:feature/add-cron-minutely-for-timed-publish?expand=1

[2018-08-07 20:37] SvanteRichter commented on #7561
Can I just what is expected in these scenarios if we assume that the cron has never run before in each of these scenarios?

---

**Scenario 1:**
 * 00:01: page/1 is set to timed publish at 00:02.
 * 00:03: The hourly cron is run, so page/1 is published.
 * 00:04: page/1 is set to timed publish at 00:05.
 * 00:06: The hourly cron is rerun.

Outcome: Is/should page/1 published at 00:07?

---

**Scen

[2018-08-07 20:55] bobdenotter commented on #7561
In my opinion:

Scenario 1, current outcome: Page/1 is set back to "timed" at 00:04. At 00:06 the cron 'skips' because it already ran. At 00:07, it's still set to "timed"

Scenario 1, desirable outcome: Page/1 is set back to "timed" at 00:04. At 00:06 the cron runs again, publishing the record. At 00:07, it's set to "published"

Scenario 2, current outcome: Page/2 is set to "timed" at 00:04. At 00

[2018-08-07 21:15] SvanteRichter commented on #7509
@ToBe998 I added the keep label which keeps the stalebot away. Could you please PR your solution so it can be reviewed as such? Thanks!

[2018-08-07 21:30] SvanteRichter commented on #7561
So currently the cron is hourly *in bolt* then, and running it multiple times in an hour does not change the outcome. In that case perhaps instead of (or as a complement to) the minutely cron we should add a --all/--now or similar cron that actually runs all checks regardless of bolts scheduling?

[2018-08-07 21:38] bobdenotter commented on #7561
Yes, it runs once per hour.. Unless, as Gawain describes above, you flush the cache, and set `general/performance/timed_records/interval`. However, that does not seem like a good workarond, since it would require one to flush the cache at a time when you're likely not around (hence why you set it to "timed").

Using a `--all` or `--now` flag might work, but is probably pretty bad for performance.

[2018-08-07 21:48] SvanteRichter commented on #7561
The point of that flag would be to be able to schedule it as you want and which fits your site. If we move the scheduling out of the bolt cache it can be scheduled as often as is needed. Since cron jobs are already scheduled I don't see the point of having another scheduler in bolt, but I'm probably missing some point here.

[2018-08-07 21:55] SvanteRichter commented on #7561
Oh, and the point by saying

Was mostly just because I wasn't sure if the hourly/daily/weekly units in bolt actually scheduled tasks or only did different tasks.

I would assume the latter, that `hourly` is a group of tasks that are recommended to run hourly, not that bolt didn't run them if they had been run in the last hour.

[2018-08-07 22:00] bobdenotter commented on #7561
I think a "minutely" scheduler is a good idea, because it (like you say) allows the user to set it up as often as they wish. Well, as often as once a minute, that is.

[2018-08-08 04:44] GwendolenLynch commented on #7561
It would be "minute" not "minutely" and have fun with Bolt, I'm out! Fuck you!

[2018-08-08 07:11] security-breachlock opened #7589 "~~~"

[2018-08-08 07:14] GwendolenLynch commented on #7589
Please note that I have reported your account to GitHub for both spam and inappropriate use of the issue tracker. Please desist.

[2018-08-08 07:14] #7589 closed, assigned to nobody

[2018-08-08 07:32] bobdenotter commented on #7589
Regardless of whether this is a security issue or not, this is remedied in #7583

[2018-08-08 14:21] bobdenotter opened #7590 "[3.6] Saving with New Storage gives error"
Editing a Record with `setcontent_legacy: false` throws an error, when trying to save:

![screen shot 2018-08-08 at 16 18 13](https://user-images.githubusercontent.com/1833361/43842969-bcd062e6-9b26-11e8-9e99-c9953d14129f.png)

Looks like this is because `$contenttype` is an Object now, instead of an Array. @rossriley, could you look into this?

[2018-08-08 14:26] bobdenotter commented on #7587
Hi,

I've created a contenttype like this:

[code]

For me, this works as expected:

![screen shot 2018-08-08 at 16 26 04](https://user-images.githubusercontent.com/1833361/43843399-c6446be6-9b27-11e8-9d11-9f67d8654c78.png)

Can you give more info on how to reproduce this?

[2018-08-08 14:27] bobdenotter commented on #7573
Yes, certainly the same issue.. I'll continue working on that one.

[2018-08-08 14:34] bobdenotter commented on #7568
Seems like `cocur/slugify` is at 3.1 already, but it seems like it's still compatible with PHP `5.5.9`. So yes, let's see if we can update this

[2018-08-08 14:39] bobdenotter commented on #7574
Closing this one! Not because it's a bad issue, but because it's resolved in 3.6, and i'd like to clean up the list a little. 😇

[2018-08-08 14:39] #7574 closed, assigned to nobody

[2018-08-08 14:50] rossriley commented on #7590
sure, checking

[2018-08-08 15:25] bobdenotter commented on #7575
This bug happens in both 3.5 as well as in 3.6.

In 3.6 the error is different though, and in fact it's fixed by #7584

[2018-08-08 16:07] ToBe998 commented on #7509
@SahAssar I added a code sample above. There is not a real PR yet as in my experience, my code style is not your desired one. I think it's probably much faster and less effort for both of us if one of you guys adapts the code. Also i don't know how that will fit in with all those storage layer changes.

I can of course create a PR if you think that will work?

[2018-08-08 16:42] bobdenotter commented on #7550
Most likely a duplicate of #7575, yes.

[2018-08-08 16:45] bobdenotter commented on #7422
This will most likely be fixed by #7489

[2018-08-08 20:43] willhertz commented on #7587
That was like 1am when I posted the Issue.
 Now watching it with a new light **it was a grouping erro**r (the non-text field was ungrouped.)

Just saw this after viewing your answer

![screenshot_1682](https://user-images.githubusercontent.com/16229776/43863068-8d954296-9b29-11e8-99a9-7059ee1d11ad.png)

Problem that didn't exist: solved

Sorry. Completely my bad!
Please close this and my sincerest

[2018-08-08 20:44] #7587 closed, assigned to nobody

[2018-08-08 21:06] bobdenotter commented on #7587
No apologies required! Glad it's working. :-)

[2018-08-08 22:13] eduardomart commented on #7548
It does appear that this is related to the field explicitly being named `title` as you mentioned in Slack, @bobdenotter. It does work with other fields as expected.

However, as long as the field named `title` exists in the contenttype defs, `title_format` will not work at all, renaming the field is not an ideal solution because if you have records already saved under this contenttype you have to

[2018-08-08 22:22] eduardomart commented on #7548
Also (I hate to be the nitpicker) expanding on this a little bit, it'd be nice if the fields that are being used in the title are skipped in the 'excerpt' portion of the backend list view.

For example if I have a contenttype with 'year', 'tagline', 'about' fields and  do this:
`title_format: [ tagline ]`

The backend list will display something like this:
[id] [ **<u>this is my tagline</u>** 2017

[2018-08-09 14:22] sbonardt commented on #6229
FYI/Status update
------------------
I've talked with Bob about the process for the new backend design and how this is taking a long time now. We're planning to get things back up to speed, but for now we'll be taking some steps back to work on a solid base:

- first: create wireframes of the current backend
- second: adapt, improve and enhance those wireframes for the future design

From there on

[2018-08-10 03:41] Boorj commented on #7422
@bob it could be stored as `[ ['value', 'label'], ...]` , by the way.
I mean, options could be stored as a nested array , or `[{key: 1, value: 'red'}, ...]`

[2018-08-10 03:48] webching opened #7592 "wrong locale for zh/zh_cn in ckeditor"
in config.yml: locale: zh_CN,
but in ckeditor, zh.js is used instead of zh_cn.js.

[2018-08-10 07:50] bobdenotter commented on #7592
We'll look into this!

[2018-08-10 09:24] #7499 closed, assigned to nobody

[2018-08-10 13:45] bobdenotter opened #7594 "[Tracker] Bolt 4.0 backend design"
Steps:

 * [x] Bolt 3.X wireframes (#7595)
 * [x] Discuss design changes
 * [x] Bolt 4.X wireframes
 * [ ] Bolt 4.X implementation

[2018-08-10 13:55] sbonardt opened #7595 "[Tracker] Wireframes Bolt 3.x backend"
To get to a solid design process, we'll need to document and create wireframes of the current Bolt backend. These wireframes will subsequently be the basis for the new 4.0 wireframes: We can modify, enhance and build upon all the work already done.

This issue is to document this first step of getting to a base wireframes set. As we are making the wireframes based on the current status, there's no

[2018-08-10 14:09] sbonardt commented on #7595
Looking at the current Bolt backend, the next set of wireframes are planned:

**Content editing:**
- [x] Dashboard
- [x] Dashboard - overview of navigation items, overlays, popups etc
- [x] Content type listing/overview page
- [x] Edit content page (general base fields)

**Configuration:**
- [x] Users & permissions
- [x] Roles
- [ ] (Database check/update) - edit, might skip

**Other:**
- [x] File

[2018-08-10 15:18] sbonardt commented on #7595
# Content editing Wireframes Bolt 3.x #
Here are the first versions for the "Content editing" part of the backend wireframes. I've created small screen/mobile and large screen/desktop wireframes.

Note these wireframes are high in detail! Sometimes I've used specific texts from the backend in stead of 'Lorem ipsum', as those parts are important functionally for the UI/user experience.

The wirefra

[2018-08-10 15:58] webching opened #7596 "option for selecting which group to show in the overview sectioin"
In the overview section, when there are multiple taxonomy types in grouping for one contenttype,
only one of the taxonomy is grouped and showed.
So, how to configure it to select which taxonomy is grouped?
(refer to: the twig file: _sub/_record_list.twig  --  content.group  )

[2018-08-11 10:09] bobdenotter commented on #7592
Fixed in #7597

[2018-08-11 11:04] bobdenotter commented on #7561
See #7598

[2018-08-11 14:32] #7592 closed, assigned to bobdenotter

[2018-08-11 14:49] SvanteRichter commented on #7438
This is definitely useful, but currently not worked on by anyone. If you'd like to work on it that'd probably be merged.

[2018-08-11 14:52] SvanteRichter commented on #7594
Added basic steps, please expand/change as needed

[2018-08-11 16:17] #7561 closed, assigned to nobody

[2018-08-12 16:42] bobdenotter opened #7602 "[3.6] `record.excerpt` doesn't work in new storage."
To reproduce, go to `/showcases` or `/search?search=ipsum` on a stock Bolt 3.6 setup. The `listing.twig` outputs content using `{{ record.excerpt }}`, only nothing shows.

Output on 3.6:

<img width="1228" alt="screen shot 2018-08-12 at 18 41 10" src="https://user-images.githubusercontent.com/1833361/44004226-646eaf18-9e5f-11e8-9d88-16d1b2a2ce23.png">

Output on 3.5:

<img width="1216" alt="screen

[2018-08-13 07:27] sbonardt commented on #7594
Added ref to issue #7595, Bolt 3.x wireframes

[2018-08-14 12:27] bobdenotter commented on #7602
PR in the queue: #7604

[2018-08-14 14:21] sbonardt commented on #7595
<h2>Users - 01</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097013-0c87ba68-9fdd-11e8-8728-980437fda55f.jpg">
<br><br>

<h2>Roles - 01</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097012-0c6febcc-9fdd-11e8-985b-cb5eed2db2d9.jpg">
<br><br>

<h2>File management - 01 small screens</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097054-231

[2018-08-14 14:27] sbonardt commented on #7595
OK. So all defined screens are in for Bolt 3.x I suggest we use this as a basis for creating the set for 4.x

I'll create separate issues per screen, so we can focus on the functionality, changes and additions on each screen separately. It'll be a lot of extra issues, but that will also allow us some proper tracking, commenting, and feedback.

[2018-08-14 14:51] sbonardt opened #7606 "[tracker] Bolt 4.0 Wireframes - Dashboard page"
The Bolt 4.0 Dashboard page Wireframe(s)

Starting point will be what's set up as wireframe for the Dashboard from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

## Dashboard - 01 small screens ##
<p align="center">
<img src="https://user-images.githubusercontent.com/5597447/43964394-11c49e88-9cbd-11e8-9681-ecbdcaf70c99.jpg"

[2018-08-14 14:51] sbonardt opened #7607 "[tracker] Bolt 4.0 Wireframes - Main navigation"
The Bolt 4.0 Main Navigation Wireframe(s)

Starting point will be what's set up as wireframe for the Main navigational elements from Bolt 3.x.

For now:

- Are the main navigational elements (main menu, header nav links) good as is, or do we need improving for B4

## Navigation Overlays - 01 small screens - popups ##

<p align="center">
<img src="https://user-images.githubusercontent.com/5597447/4

[2018-08-14 14:51] sbonardt opened #7608 "[tracker] Bolt 4.0 Wireframes - Content Type overview page"
The Bolt 4.0 Content type overview page wireframe(s)

Starting point will be what's set up as wireframe for the Content Type overview page from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

## Content type overview - 01 small screens ##
<p align="center">
<img src="https://user-images.githubusercontent.com/5597447/43964391-

[2018-08-14 14:51] sbonardt opened #7609 "[tracker] Bolt 4.0 Wireframes - Edit content page"
The Bolt 4.0 Edit Content page wireframe(s)

Starting point will be what's set up as wireframe for the Edit Content page from Bolt 3.x. I suggest we leave the tabbed/grouped fields version out of the equasion. Default the no tabs/groups CT is in place. And Grouping only divides fields into tabs, does not change field layout or influence field functionality

For now:

- What improvements can be mad

[2018-08-14 14:58] sbonardt opened #7610 "[tracker] Bolt 4.0 Wireframes - Content Fields"
The Bolt 4.0 Content fields page Wireframe(s)

Starting point will be what's set up as wireframe for the Content Fields page from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

<h2>All content type fields - 01 small screens</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097051-22e166ba-9fdd-11e8-8fbe-9f55

[2018-08-14 14:58] sbonardt opened #7611 "[tracker] Bolt 4.0 Wireframes - File Management page"
The Bolt 4.0 File Management page Wireframe(s)

Starting point will be what's set up as wireframe for the File Management page from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

<h2>File management - 01 small screens</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097054-23133d52-9fdd-11e8-8a2e-e0a4db1a7d

[2018-08-14 14:58] sbonardt opened #7612 "[tracker] Bolt 4.0 Wireframes - Roles/Permissions page"
The Bolt 4.0 Roles page Wireframe(s)

Starting point will be what's set up as wireframe for the Roles page from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

<h2>Roles - 01</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097012-0c6febcc-9fdd-11e8-985b-cb5eed2db2d9.jpg">
<br><br>

[2018-08-14 14:58] sbonardt opened #7613 "[tracker] Bolt 4.0 Wireframes - Users page"
The Bolt 4.0 User page Wireframe(s)

Starting point will be what's set up as wireframe for the User page from Bolt 3.x.

For now:

- What improvements can be made?
- Are there items/functionalities missing or useful to add?
- ...

<h2>Users - 01</h2>
<img src="https://user-images.githubusercontent.com/5597447/44097013-0c87ba68-9fdd-11e8-8728-980437fda55f.jpg">
<br><br>

[2018-08-14 15:02] sbonardt commented on #7594
Bolt 3.x wireframes for the screens specified in #7595 are defined. I've created separate trackers for every screen. These will be the working tracking issues for the Bolt 4 wireframes

See the Milestone page for all issues: https://github.com/bolt/bolt/milestone/26

[2018-08-14 17:11] bobdenotter commented on #7405
Let's see if we can do something about this.

[2018-08-14 20:17] #7602 closed, assigned to rossriley

[2018-08-15 07:11] sbonardt commented on #7611
#7401

[2018-08-15 07:12] sbonardt commented on #7611
#7401

[2018-08-15 07:13] sbonardt commented on #7467
#7610

[2018-08-15 07:18] sbonardt commented on #6886
#7608

[2018-08-15 07:19] sbonardt commented on #6229
https://github.com/bolt/bolt/milestone/26

[2018-08-15 07:46] sbonardt commented on #7606
To me, the dashboard page always felt a bit not like a dashboard. It kind of shows the same lists as a Content Type overview page does. It could get streamlined a bit better IMO.

- I would opt to remove the overview of last edited items _per content type_, and make a list of recently created/edited content. This list would show the latest 10 post/items from all users in the backend, with the edit

[2018-08-15 08:20] martinsotirov commented on #7607
@sbonardt I'm not so sure about the sidebar with news and notifications where I edit my content. Maybe it makes sense on the Dashboard (like in WordPress) but on content admin pages it's a bit unnecessary.

[2018-08-15 08:34] sbonardt commented on #7607
@martinsotirov Thanks for your comment! If you check the wireframe issue for the Edit content page #7609 there is no news and notification there now, and not suggested. This issue is about the Main navigation wireframes in Bolt by the way. Did you maybe mix up where you intended to put this comment?

[2018-08-15 08:45] martinsotirov commented on #7607
@sbonardt ah, yes. I got confused by the "content type" menu item that looks active but I guess that's just the hover state. Never mind my comment.

[2018-08-15 08:49] sbonardt commented on #7607
- For the main navigation in the Bolt backend I like how it's in place now and how it behaves on small screens and larger screens. On small the extra actions appear on click, and on larger screens it's a popup. The "collapse feature" on larger screens is not something I use a lot but it works. Would be nice to know if others use it a lot and like it...

- The user menu on the top right is proven a

[2018-08-15 08:58] sbonardt commented on #7608
OK. For your info, the grouped view for this is left out for now. Maybe that's better for a separate task/process. There are some things with it and how it behaves. There is an issue referenced, see comment above this one

[2018-08-15 09:12] sbonardt commented on #7608
This page does what it should and I believe it could use some minor tweaks.

- The "Actions for [content type]" block feels a bit weird to me. I would suspect it in the place where it is, but the functionality in it needs some work. The "(Add) New [content type] " button is fine off course, and in a logical place. It could also work top page. On small screens the (Add) New" btn is all the way down

[2018-08-15 09:16] sbonardt commented on #7609
One thing for this page is I feel when there is a template select field, it should be on the Meta info part of the content type. Not between fields.

[2018-08-15 09:16] sbonardt commented on #7609
Also the preview functionality is something to check. When you haven't saved the page you get a preview option that uses the default template on 'the fly'. When you 'preview' saved version (unpublished) I believe you do see the item with the correct template and ont a rpeview default template. (Hope this is still the case... :) )

[2018-08-15 09:27] sbonardt commented on #7612
This page needs love! Functionally it's all good. We see the fields/info that is needed, but it needs structuring and a better presentation. Now the user has no clear view on permissions and roles.

The HTML structure and design should change for the permissions.

What would help is when we adopt a more Drupal like approach. Show a table with all permissions as rows, and all roles as columns. This

[2018-08-16 07:07] bobdenotter commented on #7501
Yeah, let's keep this for now. I can see how it can be convenient for people to do an `AND` instead. :-)

[2018-08-16 09:08] dhalucario opened #7616 "[RFC] Bootstrap col- and row- for Markup Editor"
I would love to have bootstrap column and row in the markup editor. It would make it alot easier to create "prettier" content, especially when people have something like a blog. It would give the editors a bit more playroom when they work with big spaces and blog posts wouldn't look all the same.

How can you help?
-------------------------------
I'm currently doing college so I have only time at

[2018-08-16 10:33] GaneshKandu commented on #7329
Hi,

Getting same issue in Bolt 3.5.7
getting this error after renaming .dist files
and i think its because ```.bolt.yml```
[code]
```Bundle\Site\CustomisationExtension``` is in ```.bolt.yml```
Bolt is looking for ```Bundle\Site\CustomisationExtension``` class which is not exist

i am configuring bolt.yml for custom bolt directory

[code]

Install type: Zip
PHP Version : 5.5
Mysql Version : 5.5
Ap

[2018-08-16 10:47] bobdenotter commented on #7329
@GaneshKandu I think you didn't read the installation instructions carefully. IF you follow this, it'll work:

https://docs.bolt.cm/3.5/installation/quick-install

If you extracted the tgz or zip manually, it says:

![screen shot 2018-08-16 at 12 46 46](https://user-images.githubusercontent.com/1833361/44204354-7bba5780-a152-11e8-9127-8ede283c9d16.png)

See here: https://docs.bolt.cm/3.5/installat

[2018-08-16 11:48] Boorj commented on #7610
Should we number suggestions here?

1. cool feature: ability to dragndrop image anywhere on the screen => overlay appears, which suggests " here are image fields, where do you want to drop dragged image ?"

**upd:**
For example you have 3 image fields (meeting poster / facebook share image / speaker avatar ) . And it asks you where you want to drop image.

[2018-08-16 11:55] Boorj commented on #7610
2. suggestion: emphasize field titles. After my research i decided for myself that bullets + bold font is the best option to do that.
![image](https://user-images.githubusercontent.com/2145313/44206919-8c37f580-a185-11e8-8ed6-1559c8ec10b2.png)

![](https://user-images.githubusercontent.com/2145313/33704397-e676bd76-db5e-11e7-9dad-1eefdf32bd8e.png)

[2018-08-16 11:59] Boorj commented on #7609
#### Sticky footer
Often users come to editcontent page just to fix some data. Later they need to scroll to save button.
Probably, we can add sticky footer, which holds save and other action buttons, also, probable some useful text.

Reposting [this suggestion](https://github.com/bolt/bolt/issues/6229#issuecomment-348755912)
![image](https://user-images.githubusercontent.com/2145313/33582492-0e8ee

[2018-08-16 12:14] GaneshKandu commented on #7329
@bobdenotter
Oh! Thanks  :+1:  My mistake :smile: :smile:

[2018-08-16 17:49] eduardomart commented on #7616
You can do this with the `block` field type:
https://docs.bolt.cm/3.5/fields/block

Here's an example of it being used:
http://recordit.co/0LYTbypUGr

[2018-08-16 20:20] SvanteRichter commented on #7616
@eduardomart I think they are talking more about being able to add it in the editor itself rather than having a preconfigured block for it.

Personally I'm against this, it couples content to layout to much, and having it be "col-" or "row-" even more couples it to a certain framework.

[2018-08-16 20:24] SvanteRichter commented on #7609
@Boorj Isn't that why there is a save button in the left column?

[2018-08-17 08:02] jadwigo commented on #7616
I think this might be a job a Bolt extension that injects CKEditor add-ons into the back-end. These add-ons like https://ckeditor.com/cke4/addon/ckeditor-bootstrap-templates or https://ckeditor.com/cke4/addon/bootstrapTabs add a button or other options to CKEditor which add bootstrap specific options.

There's more options on https://ckeditor.com/cke4/addons/search/plugins/bootstrap

I think this

[2018-08-17 08:35] dhalucario commented on #7616
It doesn't have to be bootstrap in first place. I wouldn't mind doing a recreation of the col/row system bootstrap uses. Or we use the minimum grid file bootstrap uses. I don't want it to be completely forced using bootstrap.

Its more about giving the user a good bit more control about how something is placed. This isn't supposed to be a replacement for a complete page layout. I wouldn't mind usi

[2018-08-17 09:12] jadwigo commented on #7616
If you are adding a col/row system in the html editor you also have to take the website theme into account - maybe that theme uses bootstrap and then it is logical to use one of the bootstrap add-ons for CKEditor. But if your theme does not use that the bootstrap grid anything you do with bootstrap in the html fields will probably look out of place.

Bolt is built as a system that is independent f

[2018-08-17 10:42] dhalucario commented on #7616
I suppose its fine if you wanna stay away from frameworks and the frontend CSS. I just ported one of the CKEditor plugins to my bolt installation as an extension. Im gonna mention it here when its completely done for future users who need the same thing as I do.

[2018-08-17 12:06] Boorj commented on #7609
@SahAssar , imagine 5 textarea fields and 20 more fields. Maybe also on mobile or something. you need to scroll to save button.
Probably, that could be solved by "go to top"  button. But in 2 clicks.

[2018-08-18 11:04] hrjt opened #7622 "Crash on adding a videofield with youtube link having extended characters"

[2018-08-18 14:21] webching opened #7626 "failed to save tags in editcontent"
it is ok to save tags in English words, but not for non-english words.

i can fix the display bug for tags, by modifying this file:
vendor/bolt/bolt/src/Storage/Entity/ContentTaxonomyTrait.php
Line 85, added: if(empty($slug)) $slug = $name;

How to fix it for the editcontent part?

[2018-08-18 15:03] #7438 closed, assigned to nobody

[2018-08-18 15:37] hrjt commented on #7622
A quick work around would be to manually edit the youtube title before saving record. Currently video title appears under "Matched Video" below youtube preview, after the details are fetched from youtube.
Proble is thie title input box is "READONLY" by default. Just make the title input field EDITABLE and change title before saving such videos.
To make title field editable:

1. open file:   app/vi

[2018-08-18 19:04] #7622 closed, assigned to nobody

[2018-08-19 15:04] rossriley commented on #7611
Things I can think of from common feedback/feature requests.

1. No ability to rename files, an OS like double click to inline edit would be good.
2. Organising the Filesystems, Bolt has one filesystem for uploads, one for a theme, another for config... maybe rebranding these as 'Spaces' or something similar as a top-level nav that would allow users to switch.
3. Maybe think about the 'Stack' it d

[2018-08-20 06:07] Boorj commented on #7611
### problem
**4. no ability to select several files and process them.**

### suggestion:
Probably we could find a **library for file management**? Like

- [Jquery FancyTree](http://wwwendt.de/tech/fancytree/demo/)
  http://wwwendt.de/tech/fancytree/demo/index.html#sample-3rd-jQuery-contextMenu.html
  ![image](https://user-images.githubusercontent.com/2145313/44781363-58f65d00-abae-11e8-8673-9d53e0

[2018-08-20 10:26] jadwigo commented on #7611
The stack could be renamed to "Your most recent files"

[2018-08-20 11:04] bobdenotter commented on #7622
Hi @hrjt,

Why did you close this one? Did it turn out it wasn't a bug after all?

[2018-08-20 15:32] jadwigo commented on #7616
I'm closing this issue for now.
When the extension is ready you can submit it to the bolt markeplace https://market.bolt.cm/

[2018-08-20 15:32] #7616 closed, assigned to nobody

[2018-08-20 18:14] ToBe998 opened #7629 "Improvement of internal service structure"
I'd like to propose a change in the current service infrastructure of bolt. In my oppinion, there currently is a rather large problem with **close coupling** and **unclear concerns**.

# The Problem
Currently, most logic for a single component is not done within the service (or at least a entry point to a group of services) but wherever it is needed. For example, let's check the user component. Wh

[2018-08-20 18:28] bobdenotter commented on #7629
Is this something you'd like to do for 3.x? Or when we have a scaffold for 4.0, and then move over the components one by one, and tidy them up?

[2018-08-20 18:37] ToBe998 commented on #7629
Not sure how far away 4.0 is so i was rather aiming at 3.x. Im also not sure if the changes to sf4 could also already include these changes.

On the other hand, if you do it in 3.x and then move the changed services to 4.0, it could make refactoring the services so much easier. You would have to refactor a mach smaller number of exposed methods of the services.

[2018-08-20 18:44] bobdenotter commented on #7629
4.0 _is_ quite far away, but I'm not sure it it's wise to invest this effort into the 3.x branch now. If it's up to me, 3.6 and potential other 3.x releases will focus mainly on stuff that prepares a transition to the 4 branch.

So, in that vain, it _might_ be useful. At the same time, I think the User repository might not be a good example, because i'm pretty sure i'd like to replace most of the

[2018-08-20 18:48] ToBe998 commented on #7629
Well, the proposition to use the user service isnt random of course. I actually needed to replace the login with our sso solution for quiet some time now and was simply unable to without refactoring many parts of the code.
So, I'd still rather use that one and for the closer future. It could also help replacing the code with a sf4 standard easier. (Even if i hope that doesnt finally make the compo

[2018-08-20 19:18] bobdenotter commented on #7629
In that case: By my guest! Just so you know, it might break when it's time to move to 4.0. :-)

[2018-08-21 01:44] rossriley commented on #7629
big :+1:  from me

[2018-08-21 14:59] emik commented on #2534
@rossriley were multiple relations to the same content type ever implemented for v3? I cannot find it in the docs.

[2018-08-22 07:41] #7530 closed, assigned to nobody

[2018-08-22 12:43] bobdenotter commented on #7547
Update: Seems related to #7505

[2018-08-24 12:57] Boorj opened #7631 "Error when converting embed → textarea contenttype"
Looks like a bug:

1. create `embed` contenttype field
2. update db
3. fill something into that field and save
4. change embed type to `textarea`
5. open editcontent page again
6. Yadaaa 💥  "array to string conversion" error..

[2018-08-24 14:46] bobdenotter commented on #7631
This is one example of the underlying problem that was being addressed in #7489

[2018-08-25 01:56] eduardomart opened #7634 "switch/case statement doesn't work as expected"
Found some strangeness working with the `switch/case` statement

I have the following CT:
[code]

If I do the following, in my template, it all works as expected:
[code]

And if I do this:
[code]

The `header` field will be output but not the `texblock`

---

I don't know this qualifies as a *Bolt* bug or if it's maybe an actual *Twig* bug

***Using: Bolt 3.5.7***

[2018-08-25 06:41] hansgrinwis commented on #7634
Hi eduardomart,

Does it qualifiy as a typo? `texblock` vs `textblock`.

[2018-08-25 06:46] eduardomart commented on #7634
hi @hansgrinwis

yes that is indeed a typo, however I tried with other field types and I was not getting any output, I cleared the cache, and I am not sure if that did anything but I am now seeing the switch work again.

[2018-08-25 07:21] nlemoine opened #7635 "[RFC] Repository mappings on existing content types"
I recently used repository mappings (as described [here in docs](https://docs.bolt.cm/3.5/extensions/advanced/storage-repositories)). This feature is great when using custom controllers. But I would be even better if mapped entity were also called in Bolt controllers.

When using a custom controller with my custom repo, I get an entity of `Namespace\Entity\MyEntity`, perfect, I can take advantage

[2018-08-25 07:32] hansgrinwis commented on #7552
Hi @otrelin,

My routing knowledge is not super. These are my thoughts, anyway...

[code]
`contenttype: seiten` will:
_Flag this route as "preferred" (canonical) for that ContentType [...]._
(see https://docs.bolt.cm/3.5/configuration/routing)

So this will set the canonical to `/` for all `seiten`.

Removing `contenttype: seiten` from `homepagede:` and `contenttype: pages` from `homepageen:` migh

[2018-08-25 07:46] hansgrinwis commented on #7634
So it's related to your `caching:` settings in `config.yml`?

[2018-08-26 13:33] #7537 closed, assigned to nobody

[2018-08-26 19:49] eduardomart commented on #7634
Actually I am not sure anymore, it might also have to do with the fact that the preview doesn't work with blocks. I am a bit confused about this now so I'll put it aside.

[2018-08-26 19:49] #7634 closed, assigned to nobody

[2018-08-27 10:22] otrelin commented on #7552
Hi @hansgrinwis,

When I removed `contenttype: seiten` from `homepagede` and `contenttype: pages` from `homepageen` all my pages began use routes `pagebindingde` and `pagebindingen` respectively.
The canonical url for the start page is `http://sitename.com/homepage` - according to the `pagebindingde` route (although I want the url `http://sitename.com/`).
The question arises - maybe routes `homepa

[2018-08-27 15:39] rossriley commented on #7635
We just merged this feature into the 3.6 branch so it will be available in the next release.

It's configurable via contenttypes.yml via the `class` setting.

Here's the PR for more details: https://github.com/bolt/bolt/pull/7571

[2018-08-27 16:14] Boorj commented on #7425
@bobdenotter - this topic needs several tests  to be rewritten. but it works like a charm, see the PR #7532

[2018-08-27 16:23] nlemoine commented on #7635
Great news! Thanks for your feedback.

[2018-08-27 16:23] #7635 closed, assigned to nobody

[2018-08-27 18:20] #7547 closed, assigned to rossriley

[2018-08-28 04:37] Boorj opened #7637 "Contenttype preview while constructing it"
When i started making contenttype (and not yet checked that out to database) now i can't see any effect in admin interface.

### proposal 1
When you started creating contenttype and it's not yet sync with database, we can show it with label: "WIP" or kind of.
![image](https://user-images.githubusercontent.com/2145313/44700953-4f89c980-aab6-11e8-9508-0d3706e12ae8.png)

### proposal 2
Also we can ma

[2018-08-28 04:37] Boorj commented on #7637
The goal is to preview it, before i put that to database.

[2018-08-28 04:41] Boorj commented on #7609
#### Add ability to move description
Can we move description to the place beneath header? OR add a flag `show_description_below_header`? sometimes i need to give more information, leave _some instructions_ to clients or editors.
![image](https://user-images.githubusercontent.com/2145313/44701123-5533df00-aab7-11e8-99f0-a3ddbfe738be.png)

[2018-08-28 05:09] Boorj opened #7639 "Update to fontawesome 5+ ?"
![image](https://user-images.githubusercontent.com/2145313/44701828-c032e500-aaba-11e8-94d3-d6f91763aa98.png)

Several icons should be renamed, according to [4→5 upgrade manual](https://fontawesome.com/how-to-use/on-the-web/setup/upgrading-from-version-4)
including dashboard:
![image](https://user-images.githubusercontent.com/2145313/44701926-27509980-aabb-11e8-816a-4fd1b2c09220.png)

[2018-08-28 05:44] Boorj opened #7640 "Update erases some paths in .bolt.yml"
When i updated 3.5.3 ➡️ 3.5.7 , bolt erased `themebase` field. I know that it could be legacy field, but can't you add previous versionof bolt.yml below new lines, commented?

[2018-08-28 14:02] michaelborn commented on #6955
@SahAssar The slack channel has been great for developer questions, and you folks have been very kind to answer them, but in my opinion, good docs will save everyone lots of time and frustration. So from here on, expect (and solicit?) random documentation PRs. :)

[2018-08-28 16:46] Boorj commented on #7395
Also we can put `elemets: ...` to restricted contenttype field names.

[2018-08-29 08:11] sbonardt commented on #7609
@Boorj A sticky footer or something in that respect might seem like a good addition. I would opt to only implement this for larger screens. Scrolling on mobile/tabs does not seem a issue to me, and we need the screen real estate. But on larger/desktop screens in stead of a sticky footer we could also let the sidebar sticky upon scrolling, so it always stays in place and does not scroll out of view

[2018-08-29 08:15] sbonardt commented on #7609
@boorj a description is present in the actions field now. It would be an idea to add that to the top. But adding another flag option show_description_below_header would seem a bit too much I think. That would give another config option and not make it more simple.
I think we would just need to place the description and info thats's now in the actions block, in a more robust and fitting place. If i

[2018-08-29 08:21] sbonardt commented on #7611
@rossriley

1. Renaming seems a good idea! But how will this work when renaming already linked files in for instance saved content type items text fields/file fields? Seems tricky...
2. Don't know about this. Seems like a bit step. Something for @bobdenotter I think
3. Definitely some UI sugar and more explanation. And another name would help 👍

[2018-08-29 08:31] sbonardt commented on #7610
@Boorj

Good idea to number the options 👍

1. Isn't there a sort of drag and drop in place already? Per field? I'm not a fan of the drag and drop that highlights the whole screen. More in favor of ability to drag and hover on the area and see visual clues about ability to drop on that specific field. Adding a extra UI layer with all options highlighting seems too much. Also, with allowed file type

[2018-08-29 09:15] Boorj commented on #7609
#### Description

i agree 100%.

- there could be a block below header
- it could have ✖️ button . Which will close the block and remember the choice, so experienced users will be not getting this text each time. BUT, to explain user that "close" action is reversable, we can collapse text block, not close.
- when the block is collapsed - header could have _dimmed_ button `❔ help` or   `ℹ️ instruct

[2018-08-29 09:21] Boorj commented on #3714
@bobdenotter  Can we reopen this issue?  And move to v4 discussion?
Imagine, when you need to change 100 records - it's a hell to do that.

Try to select several rows here: https://editor.datatables.net/examples/simple/multiRow.html and press `Edit`. It could save tons of time!

Anyway, that wouldn't be a thing with `vue.js`. And can become a killer feature and one of the most notable updates for

[2018-08-29 10:21] Boorj commented on #7611
Guys, for ready-to-use file browser google for 'javascript file tree' (browser, manager etc - works worse)

### [Fancy tree](http://wwwendt.de/tech/fancytree/demo/#sample-multi-ext.html)
https://github.com/mar10/fancytree/
is my personal favourite:
  ![image](https://user-images.githubusercontent.com/2145313/44781530-d8842c00-abae-11e8-9cd2-d99f0a2f75ce.png)

Could be used on other pages to select

[2018-08-29 10:33] Boorj commented on #7611
### 5. add panel at right
see the image below

### 6.a. add ability to process several files,
Probably that could depend on extension, like "resize" for jpegs/png.
![image](https://user-images.githubusercontent.com/2145313/44782284-ea66ce80-abb0-11e8-9e03-27e489397689.png)
For example
* "optimize jpg size".
* "resize"
* convert to database values (for csv / excel / xml / json) dropped by users.

#

[2018-08-29 13:32] jadwigo commented on #3714
If you are mass editing records you already noted that Bolt is not the best way to do it at the moment.

A table editor is also not a good solution even if there are javascript components with examples that show a table editor. The integration with Bolt of one of those components is not simple, just to name a few of the problems with that: What should happen in the interface if the record has 200

[2018-08-29 16:39] Boorj commented on #3714
@jadwigo i dramatically disagree. The case is not so difficult as it could seem.

I will answer step-by-step.

## 💭   Generally
I suggest to
- make a page for each contenttype with table, presenting all records (maybe filtered)
- row will present rows, columns - all or _selected_ fields in `contenttypes.yml`
- each value will have it's own editor, based on types
- table should support pagination O

[2018-08-29 17:06] Boorj commented on #7610
2. okay, that will depend on context. But now i suppose there will be tons of text, and we will several levels of hierarchy. So probably interface will need bullets.

[2018-08-30 01:33] eduardomart commented on #7403
Scrap bullet point 1 from this, as it's already merged into 3.6
;-)

[2018-08-30 12:58] Boorj opened #7641 "Let's shorten <title/> of contentedit page"
When localized, phrase `"Edit %contenttype%"` in contenttedit page's <title/> could take whole space of browser tab, being truncated at right with ellipsis/fadeout. Take a look:
![image](https://user-images.githubusercontent.com/2145313/44852851-831f4c00-ac8e-11e8-8221-7819208dc20a.png)

## Example
Imageine, you're editing  *5 pages*, of contenttype `Article`. Localized it will be:
[code]
But in b

[2018-08-30 13:24] Boorj opened #7642 "[rfc] Use emoji with (or instead) fontawesome icons in contenttypes?"
How do you think, if we will allow webmasters to use emoji instead of fontawesome as icons in contenttypes? We can use **both**.

- Many users have emoji support in their mobile/desktop browsers
- Big [variety](https://www.webfx.com/tools/emoji-cheat-sheet/)
- People got used to emoji, **understand their meanings**
- We can use it in page titles: `<title>Editing  📑 Article "Learning Javascript is

[2018-08-30 13:25] Boorj commented on #7641
Same idea is in #7024 . But my idea is still : shorten titles. Not only insert emoji.

[2018-08-30 13:34] Boorj commented on #7641
## Suggestion 3
We can even make a set of favicons for different actions (creating record, editing record)
![image](https://user-images.githubusercontent.com/2145313/44854897-02fbe500-ac94-11e8-8672-eee487c3ee26.png)
It's really easy to do;) I can do that ;)

[2018-08-30 13:34] Boorj commented on #7024
from [here](https://github.com/bolt/bolt/issues/7641#issuecomment-417320965):
![image](https://user-images.githubusercontent.com/2145313/44854897-02fbe500-ac94-11e8-8672-eee487c3ee26.png)

[2018-08-31 11:24] blaues0cke commented on #7539
This is still an issue. I will try to fix this on my own but I have to dig deeper into bolt first.

[2018-09-01 15:11] rossriley commented on #7539
Marked to keep active.... yes the issue here is that traditionally `default` was passed through to the database as a default column value. Obviously fields in repeaters and blocks aren't saved as columns in a database table and thus why they don't work the same.

So we need to modify each field to take a default value as an argument and then just prefill that when null.

[2018-09-02 19:26] hansgrinwis commented on #7552
Hi @otrelin,

Again, my routing knowledge is not super.

However, what you are trying to do is, using a route for `seiten` (`pagebindingde`), but one `seite` gets a special treatment. It should not set its canonical to `http://sitename.com/{slug}` but to `http://sitename.com/` I think Bolt has a hard time getting that done if you set `contenttype: seiten` for the `pagebindingde`.

What you might d

[2018-09-02 19:58] #7500 closed, assigned to nobody

[2018-09-03 09:11] otrelin commented on #7552
Hi @hansgrinwis,
Thank you for your help!

But it's also did not work as I need.

When I deleted routes `homepagede` and `homepageen` my start page (in both domains) began use default system route `homepage`. Other pages use my custom routes `pagebindingde` and `pagebindingen` as before.

But with route `homepage` and using `controller.frontend:homepage` record for start page takes from general co

[2018-09-03 10:28] hansgrinwis commented on #7552
Hi @otrelin,

That's good!

Try deleting `homepage: seite/homepage` from your `config.yml`. That way Bolt is not able to understand you are using a `seite` for your homepage and cannot set the canonical to `http://sitename.com/{slug}`. It will not try to retrieve the homepage record. We will do that _inside_  `index.twig`.

Then, in `index.twig`, try to determine which language should be displayed

[2018-09-03 11:26] otrelin commented on #7552
@hansgrinwis, yes, I did exactly as you described.

I mean, when I set content to variable `record` inside `index.twig` then I have correct data for page content, but I have no meta-title and meta-description for this page, which I entered in backend with SEO Extension.

So, I guess, value in my `record` variable is visible only inside `index.twig` template and in `_master.twig` partial it is empt

[2018-09-03 12:30] jadwigo commented on #7642
Emoji are very nice, but they have drawbacks that make them unsuitable for this purpose:
- They are displayed differently on all major platforms: https://emojipedia.org/black-square-for-stop/ https://emojipedia.org/black-rightwards-arrow/
- They are missing important icons that are used in interfaces like CMS systems - some examples: https://emojipedia.org/search/?q=blog https://emojipedia.org/sea

[2018-09-03 12:33] jadwigo commented on #3714
You are correct that is it possible, and that there is a demand for it.

My point is that we do not have enough programmers to build it.

The good thing is that people who need it can use excel or phpmyadmin to do what they need to do.

[2018-09-04 05:10] Boorj commented on #3714
I can build it. Realization is not so hard as it seems. I started making that, done in 75%, but had no time to finish that.
Probably i'll need some logical help to find the best optimal solution for backend questions. And solve some dilemma on frontend: for example, if user selects 1st row, then goes to 5000 row on 50 page, and presses shift-select. Will it select 5000 rows (from 1st to 5000). And

[2018-09-04 05:20] Boorj commented on #7642
We can use predefined set of icons (as png spritesheet) for sidebar, and title icons will be shown with system font, no problem. Idea is to give people metaphors, that they got used to use. And we can help them.

 Visual chaos is debatable. On picture above it's ok for me. Also, people are allowed to use strictly one of those options, if they prefer..
Webmaster could set up their icons, being orie

[2018-09-04 08:24] sbonardt commented on #7642
I don't know. I think the Fontawesome icons thing is a nice solution as is. It might need some polishing. But not custom emoji's... If a dev really wants that, they can override it themselves I guess. Also, IMO the idea kind of goes against:

[2018-09-04 09:31] bobdenotter opened #7643 "[3.6] `record.user` is not set."
Under "legacy", `{{ dump(record.user) }}` and `{{ record.user.displayname }}` outputted the `user` details. Using new storage, it doesn't yet.

New storage:

![screen_shot_2018-09-04_at_11_28_31](https://user-images.githubusercontent.com/1833361/45023091-0e556480-b036-11e8-97aa-215fa2a2e8ff.png)

Legacy:

![screen_shot_2018-09-04_at_11_27_50](https://user-images.githubusercontent.com/1833361/45023

[2018-09-04 10:31] bobdenotter commented on #7642
If it's totally optional, it's up to the implementor to use as they see fit. As such, i'm not against this idea, but IMHO i think the effort to make this work should be invested on Bolt 4, and leave it for Bolt 3 as-is.

[2018-09-05 07:05] Boorj commented on #7642
@bobdenotter I agree, Bolt 4 could have this as a new "visible" feature.

@sbonardt

No simple way to do that.

And also emojis don't make bolt more complex, since they are 100% optional

[2018-09-06 13:13] ToBe998 commented on #7629
As discussed. Atm not possible without a huge amount of effort as the current logic and it's distribution into components is a bit to unstructured for this. As 4.0 will bring a major service restructuring anyways, we'll wait for that. Sry

[2018-09-06 13:13] #7629 closed, assigned to nobody

[2018-09-06 15:33] bobdenotter opened #7645 "[3.6] Preview doesn't work with new storage."
See screenshots:

![screen_shot_2018-09-06_at_17_33_08](https://user-images.githubusercontent.com/1833361/45168195-fda21b80-b1fa-11e8-82a8-c7e29cda23b3.png)

![screen shot 2018-09-06 at 17 31 31](https://user-images.githubusercontent.com/1833361/45168134-e2371080-b1fa-11e8-8056-d1664504467a.png)

[2018-09-06 15:34] bobdenotter commented on #7645
@rossriley I think this is also one for you..

[2018-09-06 15:42] bobdenotter opened #7646 "[3.6] "taxonomylink" pages don't show"
Another one for you, @rossriley

With New Storage, `taxonomylink` pages like `/tag/batshitinsane` show a 'white screen of death' instead of the listing page with that taxonomy.

![screen shot 2018-09-06 at 17 41 36](https://user-images.githubusercontent.com/1833361/45168682-2d055800-b1fc-11e8-87de-8c08ec729e9c.png)

[2018-09-07 15:05] bobdenotter commented on #6398
Should be under `mailoptions:`, I think

[2018-09-09 05:04] Boorj opened #7650 "[RFC] Put wordforms for contenttypes in translations"
## Problem
When you create a contenttype, it's name in some languages is placed in incorrect word forms on many headings, signs and button captions. So it sounds like "I go Job".

But in each language there's different number or wordforms (plural, case, decline etc). So...

## Solution

### 1. Let translators make a list of all possible word forms for a language
So that will be in a file named `co

[2018-09-09 07:32] bobdenotter commented on #7650
I'm not against doing it like this, but please be aware that the translation layer will be quite different in v4, so any effort you invest into this at this moment, might have to be re-done when we're working on v4 properly. :-)

[2018-09-09 07:34] Boorj commented on #7650
@bobdenotter that solution seems to be atomic, you can't reduce that. Or avoid declaring forms. Syntax could change, but you need to point somehow , which form you're using in your sentence. So anyway, we can take all my "investments" and just transform that to new system.
so..
1. should i do PR for that?
2. let's make a convention about file names and location
3. can you point me, which system wi

[2018-09-09 07:47] bobdenotter commented on #7650
That depends.. How much work will it be to do? Are we certain it'll have no sideeffects?

Let's follow what Symfony does: https://symfony.com/doc/current/translation.html

Well, I wouldn't call it close. I hope we're close to _actually_ getting _started_. :-)
That said, I've done some cursory comparison between Crowdin and Transifex, and I think I'd prefer Crowdin.

[2018-09-09 16:19] Boorj commented on #7650
i want to avoid rewriting all `Trans::__(...)` call. So i will add little check in function. If it's "contenttype" and if it has suffix. Changes will affect only translation tables (yamls). In other cases it will skip any processing and do the same flow that it does now. So i suppose that will allow to avoid any side effects.

In crowdin or transifex - we will need to define variables injections s

[2018-09-10 08:14] JarJak commented on #7645
@bobdenotter this should be fixed by https://github.com/bolt/bolt/pull/7567

[2018-09-10 09:15] ToBe998 commented on #7549
Please add keep. Bug is still there.

[2018-09-10 11:45] Jabolek opened #7651 ""No results found" - select field inside repeater field"
Values for dynamic select field (based on `contenttype`) inside the repeater field (inside a template) doesn't populate values when editing the page.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.5.4-3.5.7
| Install type                   |  Composer install
| BC Break                     | yes
| PHP version                 | 7.2

[2018-09-10 12:46] bobdenotter commented on #7651
This is an unfortunate side-effect of how Content is stored.. Not sure if it's feasible to fix.

[2018-09-10 12:47] bobdenotter commented on #7590
Fixed in #7599

[2018-09-10 12:47] #7590 closed, assigned to rossriley

[2018-09-10 12:48] bobdenotter commented on #7596
Do you have more than one taxonomy that has "grouping"?

[2018-09-10 12:50] bobdenotter commented on #7626
That'd mean the 'slug' of the taf becomes the non-slugged version, like the name, which is not good. There should be an issue on the tracker somewhere, that deals with allowing non western-european characters in slugs.

[2018-09-10 12:53] bobdenotter commented on #7641
See also #7024

[2018-09-10 13:19] bobdenotter commented on #7645
@JarJak Nope, not fixed by #7567, although the error message is slightly different. ^_^

![screen shot 2018-09-10 at 15 19 21](https://user-images.githubusercontent.com/1833361/45299795-e91c9680-b50c-11e8-94b7-8ee1322d12e9.png)

[2018-09-10 20:41] bobdenotter commented on #7549
Added

[2018-09-11 03:55] webching commented on #7596
yes more than one

[2018-09-11 06:19] bobdenotter commented on #7596
That doesn't really work. You should have only one, which will then automatically be the one that's grouped on. You can use others as "regular" categories, and filter on them if needed.

[2018-09-11 08:04] rixbeck commented on #7483
:disappointed:

[2018-09-11 14:58] JarJak opened #7653 "[BUG][3.6][New Storage] Can't enter admin area"
Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6.0 beta 4

Reproduction
------------

### Bug summary

Admin area does not work. Setting setcontent_legacy to true or false does not change error message.

### Specifics

Error message:
Type error: Too few arguments to function Bolt\Legacy\Content::__construct(), 0 passed in vendor/bo

[2018-09-11 14:58] JarJak commented on #7653
@rossriley ^

[2018-09-11 15:08] JarJak commented on #7653
Ok, this was caused by my contenttype's custom class extending Legacy Content class. But it worked previously with `setcontent_legacy: true` so looks like this config option does not work anymore?

[2018-09-11 15:14] JarJak commented on #7653
OK, after I fixed my classes to not extend Legacy Content, when I try to edit any content in admin, I get (with setcontent_legacy: false):

FatalThrowableError in EntityManager.php line 490:
Call to a member function getContent() on null
in EntityManager.php line 490
at EntityManager->getContent('articles/1') in Edit.php line 139

[2018-09-11 15:17] bobdenotter commented on #7653
@JarJak That sounds like a duplicate of #7645. 😇

[2018-09-11 15:23] JarJak commented on #7653
@bobdenotter not really, that issue is about preview page, here I can't even enter edit page.

[2018-09-11 15:26] bobdenotter commented on #7653
It's breaking on the exact same line, at `EntityManager.php line 490`, though.

[2018-09-11 17:06] JarJak commented on #7653
@bobdenotter found a fix to my issue and now I see the same error in preview page as in #7645 :)

[2018-09-11 19:07] bobdenotter commented on #7645
Fixed by #7564

[2018-09-11 19:07] #7645 closed, assigned to rossriley

[2018-09-11 19:07] bobdenotter commented on #7653
Fixed by #7564

[2018-09-11 19:07] #7653 closed, assigned to nobody

[2018-09-11 19:58] JarJak commented on #7645
Actually Preview does not fully work yet, eg. Content does not have relations filled. @rossriley could you look at it later?

[2018-09-11 20:51] bobdenotter commented on #7646
Fixed in #7655

[2018-09-11 20:51] #7646 closed, assigned to rossriley

[2018-09-11 21:42] JarJak opened #7658 "[3.6][New Storage] Previewed record has empty relations"
Splitted from #7645
Preview almost works, but the record's relations are not filled with POST data.
@rossriley

[2018-09-11 23:28] hannesl opened #7659 "Duplicate tags in tag field"
When a post is saved with a tag that contains special characters, the
tag selector upon subsequent page loads contains two different items for the same tag.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.5
| Install type                   | Composer install
| BC Break                     | no
| PHP version                 | 7.2
|

[2018-09-12 05:19] bobdenotter commented on #7658
Fixed in #7660

[2018-09-12 05:19] #7658 closed, assigned to rossriley

[2018-09-12 05:31] bobdenotter commented on #7287
This has been fixed by Ross for 3.6, in #7571

[2018-09-12 05:31] #7287 closed

[2018-09-12 07:10] JarJak commented on #7328
Fixed on newest 3.6 :)
EDIT: not really...

[2018-09-12 07:10] JarJak commented on #7645
FIxed in newest 3.6 :)

[2018-09-12 08:55] Boorj commented on #7641
Suggestion 4
---
We can lay emoji / fontawesome contettype icon  onto  the bolt's icon.
So if you have emoji in your contenttype, when you'll be editing that - you will see the contenttype icon on browser tab.

[2018-09-12 13:05] bobdenotter commented on #7328
Re-opening!

[2018-09-12 13:54] JarJak commented on #3714
Looks like perfect candidate for an extension.

[2018-09-12 13:59] bobdenotter commented on #3714
Re-opening, although I agree with @JarJak: IMHO this is a candidate for an extension :-)

[2018-09-12 14:02] bobdenotter commented on #7643
Fixed in #7656

[2018-09-12 14:02] #7643 closed, assigned to rossriley

[2018-09-12 14:03] Boorj commented on #3714
If an extension can inject it's menu items into standard (beside overview, create new), i'm ok with that ;)

[2018-09-12 17:41] bobdenotter commented on #7328
Re-closing! ;-)

(see #7663)

[2018-09-12 19:32] bobdenotter commented on #7483
@cdowdy Hey Cory, hop on the Bolt Slack, if you will.. I'd like to have a brief chat with you.

[2018-09-13 05:53] bobdenotter opened #7666 "[3.6] "getUri" not yet implemented for new storage."
Showed up in #7665.

New storage doesn't yet have `getUri` implemented, as used when creating a new record:

Go to `/async/makeuri?title=pom+pom+poms&contenttypeslug=entries` to see it:

<img width="999" alt="screen shot 2018-09-13 at 07 52 23" src="https://user-images.githubusercontent.com/1833361/45469474-00849b00-b72a-11e8-9c0f-9f5176d1f5f8.png">

[2018-09-13 06:01] bobdenotter opened #7667 "[3.6] Omnisearch doesn't work in New Storage"
Also showed up in #7665.

To see in action, go to `/async/omnisearch?q=lorem`

<img width="922" alt="screen shot 2018-09-13 at 07 59 10" src="https://user-images.githubusercontent.com/1833361/45469780-29f1f680-b72b-11e8-8b70-d3d781b8d9de.png">

[2018-09-13 09:57] Infactis opened #7669 "Adding BOLT to an existing project - problem installation"
Hello,
I was looking for a lights CMS easily configurable with symfony. And when I check out BOLTCMS, it looks perfect to me to what i want to do. (Just some very light CMS on my website)

My project is a symfony 3.4.15 - PHP 7.2, (not linked to any database yet)

I'm having trouble in the installation.
So basically when I'm running  _php composer.phar require bolt/bolt 3.5_
They ask me to install

[2018-09-13 10:10] bobdenotter commented on #7669
You can't really use Bolt _inside_ a another symfony project. What's going wrong here, is that Bolt uses Symfony 2.8 components, and you have Symfony 3.4. That's bound to clash.

[2018-09-13 10:14] Infactis commented on #7669
Oh really ? argh

Worth a try to downgrade sf to sf 2.8 ?
Or Do you recommand me to look somewhere else

[2018-09-13 10:25] bobdenotter commented on #7669
We usually treat bolt as "the platform".. If you need a CMS, you can use Bolt, and maybe put it on `news.yousitename.com`, or somesuch.

[2018-09-13 10:26] Infactis commented on #7669
Yes I think I should change how I implemant BOLT in my project

I'm actually doing this part of the documentation : https://docs.bolt.cm/3.5/installation/composer-create-project/adding-to-an-existing-project

Thank for your help

[2018-09-13 15:58] bobdenotter commented on #7666
Fixed in #7668

[2018-09-13 15:58] #7666 closed, assigned to nobody

[2018-09-13 15:58] bobdenotter commented on #7667
Fixed in #7670

[2018-09-13 15:58] #7667 closed, assigned to nobody

[2018-09-14 14:24] JarJak opened #7674 "[3.6][BUG][New Storage] record.related() returns array of Relations entities instead of real entities"
According to the [docs:](https://docs.bolt.cm/3.6/contenttypes/relationships#relations-in-templates)
_To get the actual related records, use the function related()_

**But it never happens.**

Consider there is a relation maintype -> relatedtype.

If you call `{{ dump(mainrecord.related('relatedtype')) }}` you get `Bolt\Storage\Collection\LazyCollection<Bolt\Storage\EntityProxy>`

If you call it f

[2018-09-14 14:29] jadwigo commented on #6398
Whaddayaknow - it already was under `mailoptions`, just not used everywhere

[2018-09-14 19:22] SvanteRichter commented on #6955
@mborn319 We welcome all docs PRs, and we tried to enforce them for new features/changes for a while. The problem we saw was that it slowed feature development to a crawl in some cases since usually devs write good code and bad (or no) docs. I haven't given up hope on better docs, but the way there does not seem simple.

[2018-09-14 19:44] SvanteRichter commented on #2534
@emik No, not really.

[2018-09-14 20:49] SvanteRichter commented on #7650
A question: How would you handle languages that don't just have singular and plural? How would you know the gender of the contenttype? How would you handle 0-singular like in french? How would you handle 2-3-4 plural being different than all other plural (Polish)? How would you handle any plural greater than 20 being different than another plural (Romanian)? How would you handle contextual possess

[2018-09-14 20:57] SvanteRichter commented on #7024
IMO this still would be better in the favicon.

[2018-09-14 21:05] SvanteRichter commented on #7611
Isn't this some serious feature creep? Sure the ability for extensions to do stuff is nice, but does bolt core really need to batch move/rename /extract files?

[2018-09-16 10:46] Boorj commented on #7611
I agree. Probably yes.

[2018-09-16 10:58] Boorj commented on #7650
There's a good site for different (i suppose all) possible word forms for all languages (CLDR):
http://www.unicode.org/cldr/charts/33/supplemental/language_plural_rules.html
And it looks quite scary:
![image](https://user-images.githubusercontent.com/2145313/45595599-d573a300-b9d8-11e8-8beb-b2002e9fba9c.png)

So my idea is quite universal: you **allow native-language-speakers-translators 👫  make t

[2018-09-17 04:59] bobdenotter commented on #7642
I'm not sure I agree with that.. "options" are not 'free'. Every option makes a product sligtly more complex, because the user has to make a mental choice on whether ot not the option in question is relevant to them. :-)

[2018-09-17 05:01] bobdenotter commented on #7639
For Bolt 4, i'm considering to go with Material Design Icons: https://materialdesignicons.com/

There's a ton of them, and the license makes it a much better fit for an Open Source project than Font Awesome does. A minimal working set is comparible, filesize-wise:

<img width="566" alt="screen shot 2018-09-17 at 06 54 34" src="https://user-images.githubusercontent.com/1833361/45606689-7e58e700-ba4

[2018-09-17 10:22] peterboorsma opened #7677 "User able to add items to singleton contenttype"
Current behaviour:
If you create a singleton contenttype, a user is able to add more items to that contenttype with the 'Add ..." button on the dashboard page. See attached file.
![screen shot 2018-09-17 at 11 21 44](https://user-images.githubusercontent.com/2750653/45617882-094fd680-ba74-11e8-9ee5-3db311c586e5.png)

Preferred behaviour:
It should not be possible for a user to add items to a singl

[2018-09-17 12:56] Boorj commented on #7642
@bobdenotter i think, that won't create a new Entity in user's head. That could be accepted as unified field of icons. Just different prefixes. `fa-*` for fontawesome and `emoji-*` for emojis. So adding emojis won't increase amount of new information (almost at all). So this case, i think is not making Bolt more complex.

[2018-09-17 13:02] Boorj commented on #7639
What a dramatic economy :)

Chech this link out: https://getbootstrap.com/docs/4.1/extend/icons/
List of icon sets.

And beside that all - Bv4 is far away, and we can switch to new icons right now ;)

[2018-09-19 05:11] hannesl commented on #7659
An additional observation which makes things worse: it seems that when re-saving a post which is tagged with a tag containing special chars, the tag name end up being the slug value. So, if I create an article tagged with 'bölt', it records a taxonomy item as `boelt: bölt`, as it should. When I re-load that article in Bolt, the `<item>` has 'boelt' as value, which then gets sent to the backend and

[2018-09-19 14:43] Boorj commented on #7642
EmojiOne is nice:
![image](https://user-images.githubusercontent.com/2145313/45760750-fea06780-bc54-11e8-9b06-1ce16b86f4f2.png)

Even having a free license:
https://www.emojione.com/licenses/free

[2018-09-19 17:34] SvanteRichter commented on #7642
Wouldn't using a font like EmojiOne remove the biggest plus of this (that they are shown in page titles)?

[2018-09-19 18:49] rixbeck commented on #7642
I really like our backend's simple, minimal design. I'm afraid also of - mentioned above - "visual chaos"...

[2018-09-20 04:07] Boorj commented on #7642
@SahAssar

Title font depends on system installed fonts. Anyway, we can't get 100% consistency for all users. But there are workarounds:
- for **titles** on modern systems : default font
- for **titles** on old systems (Win7 and below) - fallback to unicode. Btw, we can also guess http agent in PHP or client's OS on the fly, and modify `<title/>` with small js code.  That will minify possibility t

[2018-09-24 08:46] JarJak opened #7679 "[3.6][BUG][New Storage] Setcontent returns single record even without returnsingle"
Setcontent returns single record even without returnsingle **if run without params and after some returnsingle query**.
The record is not a singleton.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6 with new storage enabled

Looks like ContentQueryParser remembers directives between queries.

Reproduction
------------

### Steps

[2018-09-24 15:51] JarJak opened #7680 "[3.6][BUG] Cannot remove repeater field"
If you add more than one repeater set and try to remove one, js error occurs:

Uncaught Error: Please specify a message
    at lib.js?863b9697e6:11

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6
| For UX/UI issues        | Chrome

This can be related to not existing translation message as I use Polish language in Bolt.

Reproduc

[2018-09-24 23:24] rossriley commented on #7679
Can't reproduce any issue here.

On latest 3.6 `setcontent` always returns a `QueryResultset` that is counted at the correct number. eg. `{% setcontent pages = 'pages' %} {{ dump(pages|length) }}` shows `6` which is the default pagination number similarly for records with only one row in the database I'm seeing the same result with one record, but still coming out as a QueryResultset with a `|leng

[2018-09-24 23:34] rossriley commented on #7674
The lazy collection is still the array of entities, you can iterate and use them as normal, just that they are loaded just in time.

[code]

This will give you an actual instance of `Entity\Content` as expected

We can possibly look at changing this behaviour, the plan is to make the loading strategy configurable and I have a WIP branch for this but it's going to target a follow-up release since i

[2018-09-25 11:46] JarJak commented on #7679
@rossriley

I have corrected bug description and steps to reproduce.

If you look here:
https://github.com/bolt/bolt/blob/3.6/src/Storage/Query/ContentQueryParser.php#L209
Directives are reset between queries only if the second query has any params.
Forcing it to clear fixes the bug.

[2018-09-25 12:17] JarJak commented on #7674
@rossriley thanks, it works :) However, how can I get it from inverse side of relation?

[2018-09-25 23:33] rossriley commented on #7679
Nice, got it reproduced now. Fix coming up. thanks @JarJak

[2018-09-29 13:52] Boorj commented on #7409
nope. never

[2018-09-29 13:53] Boorj commented on #7408
naaaan

[2018-09-29 13:53] Boorj commented on #7398
noooo

[2018-10-01 09:21] #7401 closed, assigned to nobody

[2018-10-01 19:36] opotemkin opened #7682 "Exception in market.bolt.cm"
I open some page in the market.bolt.cm and saw error:
![image](https://user-images.githubusercontent.com/1541100/46311236-f2b09000-c5da-11e8-99bb-1d16f039c51b.png)

I do not know how serious this problem is. I wrote on the security@bolt.sm description of the problem, but the letter does not go away.
Can I show a full stack of exception?

[2018-10-02 09:05] Boorj commented on #7608
Have you forgot status icon on wireframe or am i getting something wrong?
![image](https://user-images.githubusercontent.com/2145313/46339393-df460900-c65c-11e8-8140-9d4d3bfc0694.png)

[2018-10-02 09:46] Boorj commented on #7401
no way bot!

[2018-10-02 09:47] Boorj commented on #7401
hey, this is not fair! ) i can do a PR!

[2018-10-02 09:48] Boorj commented on #7413
nope

[2018-10-02 09:49] Boorj commented on #7176
hm.. looks like it works

[2018-10-02 09:50] Boorj commented on #7235
i think this should be attached to v4 design branch

[2018-10-02 09:56] Boorj commented on #7609
Taken from #7637 👍

Mark WIP contenttypes (not synced with DB):
![image](https://user-images.githubusercontent.com/2145313/44700953-4f89c980-aab6-11e8-9508-0d3706e12ae8.png)

Mark unsaved fields:
![image](https://user-images.githubusercontent.com/2145313/44701019-ad1e1600-aab6-11e8-9d48-a9bcceadec30.png)

[2018-10-02 09:59] Boorj commented on #7607
My #7235  suggest:

- add **website avatar**
  ![](https://user-images.githubusercontent.com/2145313/33584237-038a3dfe-d991-11e7-848b-9899d24cecec.png)

- Allow to customize / totally **rearrange main menu**

[2018-10-02 10:02] Boorj commented on #7610
### Show maximum upload size
Details here: #7401

[2018-10-02 10:21] sbonardt commented on #7608
In the Bolt 3 wireframe it's the icon next to the date I think. But it wouldn't harm to have it functionally and explicitly named. Thx 👍

[2018-10-02 11:10] bobdenotter commented on #7401
@Boorj In that case, please do the PR. ;-)

[2018-10-03 04:02] Boorj commented on #7401
copy that
@bobdenotter
1. where should i put text message (in messages.yml) ? How should i call it ?
2. should i only add message or fix usage?
3. should i make filesize variable consistent (see above)?

[2018-10-03 05:45] Boorj commented on #7608
Actually, Bolt lacks ability to easily customize the overview list.
I had issue for that previously:
**[RFC- custom formatting of listing item](../issues/4816)**   #4816
Please, have a minute and take a look there.

[2018-10-03 07:39] taakberg opened #7684 "Newly created bolt/passwordlib package breaks compatibility with PasswordLibFactory"
Bolt uses the passwordlib/passwordlib library to hash passwords. Since there is no stable-tagged version of this library, the bolt/passwordlib library was created. This replaces the former, but with a stable tag.

Since the bolt/bolt package requires `passwordlib/passwordlib ^1.0@beta`, the `passwordlib/passwordlib 1.0.0-beta1` package used to be installed by composer. Now that the `bolt/passwordl

[2018-10-03 17:00] bobdenotter commented on #7684
Thanks for bringing this up. Bolt 3.x should remain compatible with PHP 5.5.9 and up..

I've tried it on PHP 5.5, and didn't see any errors when doing some quick monkeytesting, and Travis passes as well. When exactly are you seeing this error?

![screen shot 2018-10-03 at 18 57 36](https://user-images.githubusercontent.com/1833361/46426295-6a4b0000-c73e-11e8-86ba-557b44e671ef.png)

[2018-10-03 17:20] taakberg commented on #7684
On php5, the notice is only visible in the php error logs when opening bolt in the browser. When any `nut` command line is run, it shows the error. On php7 however, since errors are now exceptions, you do see it right away when opening bolt in the browser.

I've now updated to the 3.6 (beta) version and this resolves the issue though.

[2018-10-03 18:21] bobdenotter commented on #7684
If you're on 3.5, you shouldn't even be getting bolt/passwordlib, right? The `composer.json` for that version states `"passwordlib/passwordlib": "^1.0@beta",` still. See: https://github.com/bolt/bolt/blob/3.5/composer.json#L44

I mean, it's probably something I messed up, just not certain what it is, yet. :-)

[2018-10-03 18:43] taakberg commented on #7684
If I'm not mistaken, this has to do with one of the packages required by bolt/bolt that in turn requires bolt/passwordlib. Since the bolt/passwordlib composer.json states that it replaces the passwordlib/passwordlib package, it uses the bolt/passwordlib instead.

I didn't dig deep into the dependency tree to see which package requires which, but imagine that this is the case here.

[2018-10-03 19:21] bobdenotter commented on #7684
Oh, that might be the case.. Will also dig in 👍

[2018-10-03 20:45] bobdenotter commented on #7684
Ok, I still can't reproduce this.. running `composer` update on an existing 3.5 setup just pulls in the stuff it needs:

[code]

Updated correctly:

[code]

[code]

Could you do a `composer why bolt/passwordlib` on your setup, to see which dependency causes it?

[2018-10-04 06:29] taakberg commented on #7684
This is the output of the command you requested:

`$ composer why bolt/passwordlib`
[code]
`$ composer why passwordlib/passwordlib`
[code]
`$ ./nut database:check`
[code]

_However_, I think I figured out why this is happening. Along with some other changes, I've changed the `minimum-stability` to `stable` in my composer.json file. In principle, it looked like this:
[code]

I removed the entire `/

[2018-10-09 06:44] Boorj commented on #7422
nope

[2018-10-11 06:20] blaues0cke commented on #5102
@dispicio Can you please share the code that finally managed it? I also try to overwrite a backend template but I got stuck injecting the new directory:

(Edit: Moved my question to stackoverflow: https://stackoverflow.com/questions/52754936/overwrite-backend-template-in-bolt-cms)

[2018-10-11 07:54] blaues0cke commented on #1173
I am still stuck with this (bolt 3.5). Does someone has a working solution he can share with me?

https://stackoverflow.com/questions/52754936/overwrite-backend-template-in-bolt-cms

[2018-10-11 09:44] yawicz opened #7688 "After Upgrade 3.5.7 --> 3.6: [Symfony\Component\Debug\Exception\ContextErrorException]"
Hi all!
Maybe a short disclaimer upfront:
I'm not the best coder on this planet, but I try my best and absolutely love Bolt and its community for making it possible for people like me to start their own projects and websites with the opportunity to customize every single detail and learn a lot by doing so! Thanks a lot for your great work! :-)

**Problem:**
I just upgraded via composer update from

[2018-10-11 11:18] bobdenotter commented on #7688
Hi @yawicz,

Looks like you're right at first glance! Hopefully i'll have some time today to verify your findings and put out a small update for the translate extension to get it working again.

Thanks for the extensive report! 👍

[2018-10-11 12:13] bobdenotter commented on #7688
See https://github.com/BoltTranslate/Translate/pull/178

I've tagged BoltTranslate 4.1.3. It will take a few hours to show up in the market, and then it should work again. Thank you again!

[2018-10-11 14:07] yawicz commented on #7688
Hi @bobdenotter ,

Great, thanks for the fast response and implementation, I'm happy I could help and will try to continue contributing whenever I should find something else.
Keep up the great work!

Best,
yawicz

[2018-10-11 14:07] #7688 closed, assigned to nobody

[2018-10-12 13:42] sbonardt opened #7689 "[tracker] Wireframes Bolt 4.0 backend"
General tracker for the Bolt 4.0 Wireframes
====

We've set up a base wireframe for Bolt 4.0 with Adobe XD. After the initial wireframe tracker issues here, we've found there are a lot of good ideas and wishes from the community for Bolt functionality in V4. However, we need to work from a solid base and it looked like we were getting snowed in by a lot of changes and wishes, next to loosing focus

[2018-10-14 10:37] Boorj commented on #7467
nonono

[2018-10-14 15:59] #7573 closed, assigned to bobdenotter

[2018-10-14 15:59] #7568 closed, assigned to nobody

[2018-10-14 16:59] #7575 closed, assigned to nobody

[2018-10-14 23:52] #7548 closed, assigned to bobdenotter

[2018-10-16 06:21] #7550 closed, assigned to bobdenotter

[2018-10-16 07:14] #7679 closed, assigned to nobody

[2018-10-16 23:32] gagarine opened #7690 "Allow image upload by default in the wysiwyg"
After install it's not possible to add an image in an HTML field without editing the config.yml like that:

[code]

This is quiet confusing as a new user. I tried to drag&drop image from the stack (but only the thumbnail was added). I try to edit the field config. Etc..

I'm not alone https://stackoverflow.com/questions/29239651/what-does-the-stack-do-in-bolt-cms

I think changing this settings to

[2018-10-16 23:36] gagarine opened #7691 "Drag&Drop from the stack to HTML Field"
Now you can drat&drop from the stack to an HTML field, but it's not going to display the right image. You can even drag&drop if the HTML field do not support image.

Instead it should be supported like the image field and insert the image properly. In case the HTML field do not support image:
[code]
Then the UX should clearly show that the user can not drop the image in this field.

[2018-10-17 00:24] gagarine opened #7692 "Track content revision (edit history)"
Would be nice to keep all edit version so it's easy to track, revert and compare different version.

It's very useful if you are different person editing the website, and want to check what an other did. It's also nice if you made a mistake, you can quickly revert an older version.

[2018-10-17 00:35] gagarine commented on #7692
Oh my bad, their is this feature https://bolt.cm/feature/changelog

[2018-10-17 00:35] #7692 closed, assigned to nobody

[2018-10-17 10:05] gagarine commented on #7691
Apparently it should works #2947 ?

[2018-10-20 08:48] evertalbers opened #7693 "Contenttype in 2 taxonomies not showing ordernumber when "has_sortorder: true" comes second"
I noticed that if a contenttype goes into 2 taxonomies and the second taxonomy is a
`    behaves_like: grouping`
with a
`has_sortorder: true`
the sortorder number works OK behind the _taxonomy tab_ in every single record but is not always shown in the _contenttype overview page_ in the Bolt backend.

In a recent example (where `projecttypes` is the one with a sortorder, `programlines` is a categor

[2018-10-20 08:52] evertalbers commented on #7693
![screenshot_2018-10-20 overview projects streeff bolt cms](https://user-images.githubusercontent.com/3974120/47253636-fb67e980-d455-11e8-9371-9b2a558e41ff.png)

This is the ordernumber that may or may not be shown, in case the written decription is not entirely clear. (And don't you love those huge 4K monitor screenshots?)

[2018-10-20 15:18] #7595 closed, assigned to sbonardt

[2018-10-21 12:40] #7613 closed, assigned to nobody

[2018-10-21 12:40] #7612 closed, assigned to nobody

[2018-10-21 12:40] #7606 closed, assigned to nobody

[2018-10-22 15:43] Spomsoree opened #7694 "Creating a custom field that works as a block and a content type field"
I've made an extension which can save multiple links to different social media sites.

I add the field to my block, underneath the `type: block` fields:
[code]
It does the same as the seo extension, which collects all field values via javascript and stores them as a json string.

This works pretty good so far.

As soon as I add my field to an contenttype, like the seo extension does, I get the fol

[2018-10-23 14:15] nestordedios commented on #7694
Hi @Spomsoree, you are saying that you want to store the data as `json` but I have the feeling that here
you are saving it as `text` instead.

[code]

If you change `text` for `json` does it still break?

[2018-10-23 14:40] Spomsoree commented on #7694
@nestordedios Thank you for your answer, sadly this does not fix my problem. I've decided to store the json as text, because I'm encoding it to a string before saving it.

[2018-10-23 15:09] nestordedios commented on #7694
You are welcome @Spomsoree. I'm sorry to hear that didn't work.

Have you check some Documentation on how to provide new Filed Types? https://docs.bolt.cm/3.6/extensions/advanced/fieldtypes#writing-the-field-type-class

Maybe you find your answer in there. I had quick look and it seems there might be missing some `hydrate` and `persist` methods.

I hope this helps you.

[2018-10-23 15:11] psanchezg opened #7695 "Generate slug (/async/makeuri)"
When you click "Generate slug" the method "/async/makeuri" always returns an empty response.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6.0
| Install type                   |  Composer install
| PHP version                 | 7.0 / 7.1
| Web server                  | Apache / Nginx / Built-in

Reproduction
------------

Edit a

[2018-10-23 15:24] ToBe998 opened #7696 "[3.6] Extensions report error with private method"
I just updated a Bolt website from 3.5.7 to 3.6 and now get an error in my custom extensions.

[code]

Line 16 is the class header and it extends `Bolt\Extension\SimpleExtension`
Here are some possibly relevant parts of the file (not a complete file!)
[code]

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6.0
| Install type

[2018-10-24 05:38] tiito78 opened #7697 "select field values in repeaters"
Looks like this commit made by rossriley https://github.com/bolt/bolt/commit/c4cae8b on the file app/view/twig/editcontent/fields/_repeater-group.twig have not been merged on bolt 3.6.

I can verify that when updating this file on bolt 3.6, values from select field in repeaters will work.

[2018-10-24 12:23] DanaturCode opened #7700 "Bolt.cm Market Extension URL from Gitlab"
The URL of my extension repo is ``https://gitlab.com/Danatur/bolt-extension-twitch/``, so the market links the extension icon to ``https://gitlab.com/Danatur/bolt-extension-twitch/master/icon-twitch-extension.png``

However, on Gitlab you can only access the extension icon under ``https://gitlab.com/Danatur/bolt-extension-twitch/raw/master/icon-twitch-extension.png``

It would be nice to have a fi

[2018-10-24 14:51] JarJak commented on #7680
This _might_ be related to https://github.com/bolt/bolt/pull/7627

[2018-10-24 15:30] JarJak commented on #7680
Yes it was related and I could fix it by myself :)

[2018-10-24 15:34] #7680 closed, assigned to nobody

[2018-10-25 14:57] bobdenotter commented on #7695
Hi, @psanchezg. I'm not able to reproduce this just yet.. In my attempts, it works as it should.

Have you got more details? Errors in the browser's developer tool, or elsewhere? Screenshots?

[2018-10-26 08:46] lardyNiji opened #7702 "[3.6] Composer install problem without dev deps"
When installing Bolt with ```composer install``` all work as expected.
If i use ```composer install --no-dev``` this break app/nut cmd line for database:* actions

[code]

Timer.php need Carbon Class and with the installation without dev dependencies (--no-dev) the autoloader does not load the Carbon Class.

[code]

The same grep with ```composer install --no-dev``` give no result

Details
-------

[2018-10-26 09:40] markehb opened #7703 "Previewing content using {{record.field}} displays html in output for text/editor field type"
When previewing content using a template that outputs the the property/field of the record object (e.g. {{ record.body }} ), it encodes the html stored in the field value and outputs that.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6.0
| Install type                   |  tar.gz
| BC Break                     | yes/no
| PHP ver

[2018-10-26 13:10] bobdenotter commented on #7703
Hi @markehb, This is a known issue, and not easy to fix in Bolt 3.x, i'm afraid. It shouldn't show up in the _normal_ view of the page, right?

[2018-10-26 13:35] markehb commented on #7703
Hi @bobdenotter

It's fine when viewing normally, just when viewing the preview this occurs. There no plans to resolve this before 4.0?

[2018-10-26 14:03] lardyNiji opened #7704 "[3.6] Config.yml with environment variables are not parsed before Extensions boot time"
There is a problem with boot time order for Services Providers, indeed ExtensionServiceProvider is initialized before ConfigServiceProvider then when an extension need some config from Bolt that embed environment variables, those config have not yet been replaced.

I've the case with animal/translate extension that init database connection at extension boot time.

I’ve tried to move
[code]
after t

[2018-10-26 15:28] Spomsoree commented on #7694
These `hydrate` and `persist` methods are not required as far as I understood. I still tried, but could not get it running.

`Table bolt_pages is not the correct schema: invalid column social` is the error I get after updating the database, which lets me think that the error occurs while updating or reading the updated database.

But thats just a guess.

Here are the changes bolt is trying to comm

[2018-10-27 04:05] bobdenotter commented on #7702
Try `rm -rf vendor/; composer install`, and it should work.

[2018-10-27 04:07] bobdenotter commented on #7703
@markehb It's far from trivial to fix, because of historical reasons.. Fixing it, breaks it in different ways.

[2018-10-28 08:51] psanchezg commented on #7695
Hi @bobdenotter. Finally I found how to reproduce this issue in a new bolt installation. Just change 'title' by 'titulo' (spanish translation) in pages contenttype, and change use in slug by 'titulo'.

You see nothing except the slug field empty (no errors in console)

[2018-10-29 09:49] lardyNiji commented on #7702
Hello @bobdenotter

It was a composer.lock problem from my side, when i've updated bolt to 3.6 my composer.lock still had carbondate/carbon. Now i've deleted it and it have the correct dependency.

Thank you and sorry for the disturbance.

[2018-10-29 09:49] #7702 closed, assigned to nobody

[2018-10-29 10:37] bobdenotter commented on #7702
@lardyNiji Thanks for the followup, glad it works now! 👍

[2018-10-29 10:50] nestordedios commented on #7694
@Spomsoree I just tried your code and it is working for me in Bolt 3.5.7. If you add more info how to reproduce the issue that would be very helpful.

You can always use Bolt's guideline for opening Bug Reports.

[code]

[2018-10-30 11:22] markehb commented on #7703
Ok, thanks bob.

[2018-10-30 11:22] #7703 closed, assigned to nobody

[2018-11-02 09:34] SvanteRichter commented on #7697
Fixed in #7701

[2018-11-02 09:34] #7697 closed, assigned to nobody

[2018-11-02 09:38] SvanteRichter commented on #7690
In my experience most users should not be given this option, they try to upload 10+MB images and those don't get resized if they are not in an image field. Add a separate image field instead, or turn this on if your users can handle it and need it.

[2018-11-02 09:38] #7690 closed, assigned to nobody

[2018-11-02 11:46] otrelin commented on #7552
It's still actual

[2018-11-02 18:39] #7425 closed, assigned to nobody

[2018-11-03 06:19] Boorj commented on #7395
nope

[2018-11-03 06:19] Boorj commented on #7425
@bobdenotter - this topic needs several tests to be rewritten. but it works like a charm, see the PR #7532

[2018-11-03 06:21] Boorj commented on #7395
@bobdenotter this is a bug that doesn't allow to use a field named "elements" in content types. So can you please put "keep" tag?

[2018-11-03 11:56] bobdenotter commented on #7425
You've mentioned the tests before.. I don't think I have time to do this for v3, as i'm focusing most of my time on v4. If you write tests, and they're working, i'll happily merge them in, but I think there's a slim chance that somebody else will write the tests for you.

[2018-11-03 12:01] bobdenotter commented on #7395
For this one I also think it's more feasible to fix in Bolt v4. I've just verified, and so far there's no problem naming fields using restricted names. See `where`, `select` and `elements` in screenshot below:

![screenshot 2018-11-03 at 13 00 17](https://user-images.githubusercontent.com/1833361/47951959-8a055c00-df68-11e8-87e9-6cc769518b52.png)

[2018-11-03 18:15] Boorj commented on #7425
can you put keep tag?

[2018-11-05 13:21] jadwigo commented on #7395
@Boorj It's probably easier to just name the field `sidebar_elements` or something similarly specific and avoid the problem.

----
@bobdenotter  - the test you did is not representative.

A **text field** called **elements** will not trigger this, a **select field** called **elements** will add javascript events to that field.. and the name **elements** apparently has collisions in the jQuery libr

[2018-11-05 13:32] bobdenotter commented on #7395
I was merely pointing out that the issue @Boorj was bringing up ("Reserved terms in SQL and/or jquery") is no longer an issue in Bolt 4, so far.

[2018-11-05 18:42] Ichag commented on #7408
I just encountered the same issue while using nginx+php-fpm.
There is also nothing suspicious in the debug log :(

Has anyone an idea? The limit I encounter is by around 2M

[2018-11-05 19:24] bobdenotter commented on #7408
@Ichag Have you raised the file size limit in Nginx? https://easyengine.io/tutorials/php/increase-file-upload-size-limit/

[2018-11-05 20:38] Ichag commented on #7408
nginx:
client_max_body_size 20M;

php.ini:
upload_max_filesize=30M
post_max_size=30M

I found one, coming from nginx
`client intended to send too large body` but only if filesize is definitely to big for client_max_body_size.

If its between 2M and 20M the error message is still there but nothing in the logs..

[2018-11-06 02:36] rossriley commented on #7694
It looks like the issue is with the default field definition, may be running into issues with `null` vs `""` in mysql values. Could you perhaps try manually editing the database column to set the default as an empty string.?

[2018-11-06 02:40] rossriley commented on #7704
There's a little helper that we use elsewhere in the Bolt codebase that might be useful for you here. For instance in storage:

[code]

So instead of initialising the config at register time you store a link to the future value within config which allows you to still use the computed value at boot time. This is also important if you want to use config stored in environment variables / other extens

[2018-11-06 03:09] rossriley commented on #7696
Try taking out the `use StorageTrait` this is already included on the base class so it could be that that's causing the issue.

[2018-11-06 03:10] rossriley commented on #7682
It's more than likely that this is just an extension listed on market.bolt.cm where the git repository has since been deleted. If you let us know what it is we'll mark the extension as unavailable.

[2018-11-06 08:43] Boorj commented on #7395
yeah, sure, merrily i know the solution

Problem is that i'm the one who faces the problem && _is able to report_ it, when there are plenty of people that are just getting the error silently. And still counting with Bolt's growth. But if @bobdenotter  tells that it's ok and it will be fixed in new bolt - cool

@bobdenotter  by the way, from my point of view, the best and clean solution is to prefi

[2018-11-06 14:14] Thibault-MTZ commented on #7695
Hello !
**To begin, thank you all for this CMS ! Bolt is very cool ;)**

(sorry I'm french and my english is not very good)

So I have the same problem with SLUG.
When it comes to using a slug from another field than "title" then it does not work.

I have the same problem on 3.6.0 and 3.6.1

If on the other hand we use "title" it works and the field "slug" is filled again.
The URL called async is

[2018-11-06 20:04] bobdenotter commented on #7483
Fixed in bolt/docs#944.

@cdowdy You might like to hear that today we landed Symfony Encore 0.21 in Bolt Four, with Webpack 4 and Vue Loader 15. :-D

[2018-11-06 20:49] bobdenotter commented on #7695
@psanchezg @mt24 I can reproduce the issue, thanks!

Expect a fix, and a subsequent Bolt 3.6.2 soon. (Can't promise it'll be tomorrow, but it'll be before the weekend)

[2018-11-07 07:56] Thibault-MTZ commented on #7695
Thx @bobdenotter !
To improve my knowledge on "bolt" I will follow the resolution of this problem.

[2018-11-07 15:31] #7483 closed, assigned to nobody

[2018-11-08 18:16] ntomka opened #7711 "New storage system can't handle empty keyword on search"
Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6
| Install type                   |  any
| BC Break                     | no
| PHP version                 | any
| Web server                  | any
| For UX/UI issues        | -

Reproduction
------------

### Bug summary

If I call search page with empty keyword when content storage

[2018-11-09 08:31] #7711 closed, assigned to rossriley

[2018-11-09 08:32] #7695 closed, assigned to bobdenotter

[2018-11-09 12:33] bobdenotter commented on #7684
Going to close this, because it seems like it's not a _real_ bug..

If somebody read this, and has the same issue, resolve it by running:

[code]

See also: #7699

[2018-11-09 12:33] #7684 closed, assigned to nobody

[2018-11-13 02:14] romulo1984 commented on #7611
I suffered somewhat from the way Bolt manages images, and even extended the application to make images look more robust.

It may be interesting for each image to represent a record, making it indexable, allowing developers to extend and create multiple image crops, audit features, copyrights, and features that professional content publishers need.

Below are some screens of my implementation in pr

[2018-11-14 10:21] ichr commented on #7307
I had the same issue with a new blank install of Bolt 3.6.2 from the tar.gz pack.

The exact file renames are written here:
https://docs.bolt.cm/3.6/installation/manual-download-and-extraction

[2018-11-15 11:22] rainpoiss opened #7715 "Inserting time in datetime field"
When entering a time in time field like 1515 then it will change to 00:00

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.5  3.6
| Install type                   | Zip or tar install / GitHub checkout
| BC Break                     | no
| PHP version                 |7.2
| Web server                  Nginx
| For UX/UI issues

[2018-11-15 11:26] bobdenotter commented on #7715
And if you input it as `15:15`.. Does it work as expected then?

[2018-11-15 12:07] rainpoiss commented on #7715
yes, when i manually insert : then, it will work

[2018-11-15 12:15] bobdenotter commented on #7715
In that case, i'm not sure if it's something that's feasible to fix.. it looks like this is the behaviour of the Javascript thingy we used for this.

[2018-11-16 11:25] bobdenotter commented on #7677
Keep.

[2018-11-16 13:37] #7651 closed, assigned to nobody

[2018-11-16 13:37] #7626 closed, assigned to nobody

[2018-11-16 13:37] #7631 closed, assigned to nobody

[2018-11-16 13:37] #7637 closed, assigned to nobody

[2018-11-16 13:37] #7640 closed, assigned to nobody

[2018-11-17 07:20] #7596 closed, assigned to nobody

[2018-11-18 10:09] #7641 closed, assigned to nobody

[2018-11-18 15:09] #3714 closed

[2018-11-19 12:36] #7669 closed, assigned to nobody

[2018-11-22 12:22] #7650 closed, assigned to nobody

[2018-11-23 13:38] #7639 closed, assigned to nobody

[2018-11-23 17:55] Ichag commented on #7408
Sorry, my fault. Upload-limit was to low. Still the error message is a bit confusing..

[2018-11-25 06:58] #7659 closed, assigned to nobody

[2018-11-26 05:34] #7642 closed, assigned to nobody

[2018-11-26 08:54] doenietzomoeilijk commented on #7642
Personally, I'm not a fan. If this could be done as an extension, making it 100% optional, sure, but otherwise it is, as Bob already noted, added complexity. Especially since you can't 100% rely on the default working, so you have to add packs and workarounds and whatnot.

[2018-11-28 17:22] Spomsoree commented on #7694
To this date, I could not change the database value, because i was not able to create one, because of the error.

Today I fixed the database error, which caused the
`Table bolt_coredata is not the correct schema: invalid column social_media` message.
I added the `'notnull' => false` option, which fixed it.

The second error still appears.
`Type error: Too few arguments to function Bolt\Storage\Ent

[2018-11-29 12:34] otrelin opened #7718 "Error image field on preview page"
I have field `banner` with type `image`.
![default](https://user-images.githubusercontent.com/15085327/49220987-6ce57100-f3e0-11e8-8620-53ffc1f47bbf.png)

On my page template `page.twig` I use this field:
![default](https://user-images.githubusercontent.com/15085327/49221102-cc438100-f3e0-11e8-99fe-00b9f1fcf72c.png)

In front site everything is ok. But when I click "Preview" button in backend
![de

[2018-12-01 13:12] JarJak commented on #7674
dont!

[2018-12-01 13:36] bobdenotter commented on #7674
Added 'keep' :-)

[2018-12-05 15:18] #7409 closed, assigned to nobody

[2018-12-05 15:18] #7398 closed, assigned to nobody

[2018-12-06 15:56] JarJak commented on #7718
This happens because Record for preview is created differently than for normal view and this is not the only difference.
Anyway it is a bug but needs some code rewrite to fix.

You can fix it for now by using:
`{{ asset(record.banner.file | default(record.banner), 'files') }}`

[2018-12-06 15:58] JarJak commented on #7715
We can't make implicit conversion from 1414 to 14:14. 1414 is an invalid field value.

[2018-12-06 16:05] JarJak opened #7721 "[BUG] Image field does not check extension"
Description:
----
I have a field:

[code]
But I am able to select any file (for example pdf file) from file browser to this field. Only the uploader excludes invalid file types.

Steps to reproduce:
----
1. Upload PDF file through another file field.
2. Try to set uploaded PDF as value of image field
3. Save

Expected result:
----
I would expect to not be able to select file other than types defin

[2018-12-08 10:45] #7413 closed, assigned to nobody

[2018-12-08 11:45] #7609 closed, assigned to nobody

[2018-12-08 11:45] #7607 closed, assigned to nobody

[2018-12-08 11:45] #7610 closed, assigned to nobody

[2018-12-09 01:57] joluga commented on #7192
I just discovered Bolt, I was following the instructions to install via command line and had the same problem, some of the files inside the tar file can't be extracted, not even with winrar, or using Power Shell or command line in admin mode.

[2018-12-09 02:06] joluga commented on #7192
Weird. It installed ok using Windows Subsystem for Linux but throw me an error after running the "php app/nut init" coomand:
 [RuntimeException]
  Extension DOM is required.

init [-h|--help] [-q|--quiet] [-v|vv|vvv|--verbose] [-V|--version] [--ansi] [--no-ansi] [-n|--no-interaction] [--] <command>

Then I run the same command in the same folder but with the windows command line and it returned:

[2018-12-09 07:06] #7608 closed, assigned to nobody

[2018-12-09 09:57] bobdenotter commented on #7192
@joluga That last one is not a Bolt error, but it’s PHP saying the DOM extension is not present. Make sure you configure PHP so that it has this extension.

[2018-12-11 05:04] Robonoob commented on #6856
Hi,
The same problem still bugs me.
I fleshly installed bolt v 3.6.2 using [quick install](https://docs.bolt.cm/3.6/installation/quick-install) and entered "composer update" just after the installation.
After the composer update command, I have DBAL v2.9.
I am using php 7.2, sqlite 3.22

[2018-12-11 09:11] pivotx commented on #6856
Hi,

I've written a post about this. Have you tried the suggestions from here?
https://bolt.cm/item/fixing-issues-after-the-recent-doctrine-2-6-update

[2018-12-11 10:46] ToBe998 commented on #7696
This seems to resolve the problem, but i need further testing. I'll get back to you. tnx.

[2018-12-11 14:29] otrelin commented on #7552
Fixed by manipulations with routing rules.
The problem was in `contenttype: seiten` as @hansgrinwis said, as I used it twise for one contenttype.

[2018-12-11 14:30] #7552 closed, assigned to nobody

[2018-12-11 17:19] ToBe998 commented on #7696
Solution is working!

[2018-12-11 17:19] #7696 closed, assigned to nobody

[2018-12-12 10:20] ToBe998 commented on #7696
@rossriley Sidenote: This change introduced a difficult BC break. Before 3.6 you needed to include the StorageTrait, after 3.6 must not use it because of the "private" change. Please do not do such changes on minor version in the future. It's quiet hard to resolve now when an extension is used in multiple bolr instances.

[2018-12-15 07:06] #7422 closed, assigned to nobody

[2018-12-17 15:56] Boorj commented on #7642
It's optional and doesn't make anyone re-config anything. If a user uses `emoji-*` instead of `fa-*`, he accepts a virtual agreement, that something could go not as he expected. All other users won't get any discomfort or complexity. Can @doenietzomoeilijk you explain, what is the complexity in this case? no extra keys in `config.yml`, no fallbacks, no default values, no extra code in core. What i

[2018-12-17 15:58] Boorj commented on #7422
😿

[2018-12-17 16:34] jadwigo commented on #7642
The extra complexity is in the area of extra options, as @bobdenotter stated

- Every option needs to be maintained by developers
- Every option needs to be tested for compatibility (does an emoji work in a tab or window title)
- Every option needs to be tested for usability (Do the emoji work on you mobile and on MSIE 11)
- Every option needs to be explained in the documentation

The effort these

[2018-12-17 16:39] bobdenotter commented on #7422
We're working as hard as we can to get Bolt 4 into shape! ;-)

[2018-12-18 05:33] Boorj commented on #7422
Problem with select fields is one of the biggest problems on my sites now, because it really breaks behavior  for final users and spoils some data.
To fix that we need to break BC - store data in other way.
1 Can all issues about select field be grouped to one group?
2 If solution includes BC break, can we do this in v4 ?

[2018-12-18 05:35] Boorj commented on #7642
Mates, i supposed we were speaking about usage complexity, not development complexity.

[2018-12-18 08:52] bobdenotter commented on #7422
It's basically rebuilt in v4, so we shouldn't introduce new breakage here. Instead, focus on getting it right in v4.

[2018-12-19 03:08] #7689 closed, assigned to nobody

[2018-12-19 03:08] #7594 closed, assigned to nobody

[2018-12-19 13:22] evertalbers commented on #7693
Reviving. This may still deserve someone's attention, I think.

[2018-12-20 20:45] #7467 closed, assigned to nobody

[2018-12-22 15:07] ctuxboy opened #7726 "Install on subdomain"
Hello,
I don't know if this the right place for my problem. Sorry about that :-/

It's my first Bolt install for trying.

Made a subdomain https://bolt.webkusthosting.be/
Uploading the files in the subdir **../public_html/bolt/**
But the page gives an error.
It is shared hosting, so i can't change the server-settings.
Adding this to .bolt.yml:

[code]

Noting happens, the error still there.

Move

[2018-12-23 14:14] #7691 closed, assigned to nobody

[2018-12-27 06:09] Boorj commented on #7422
@bobdenotter  - glad to hear that it will be rebuilt, wonderful. Think if (when) this will be fixed, we can close this issue again. Open and close 😸

[2018-12-28 16:11] Spomsoree commented on #7694
A description can be found at the top.

Details
-------

| Question                      | Answer
|----------------- | ------
| Relevant Bolt Version | 3.6
| Install type                   |  composer install
| PHP version                 | 7.1
| Web server                  | Laravel Valet

Reproduction
------------

If you're filing a bug, please describe how to reproduce it. Include as much
rele

[2018-12-30 16:47] #7700 closed, assigned to nobody

[2019-01-01 23:48] niclashoyer commented on #7697
Is this bug still present on 3.6.3? I'm using select fields in a repeater for the first time and if I try to get the value of the selected option I just get the ids, not the actual text values.

[2019-01-03 11:27] JarJak commented on #5329
https://github.com/bolt/thumbs/pull/48 this will provide you a better exception message.

[2019-01-06 04:59] Boorj opened #7728 "Error after clearing cache : cache/production/data is not writable"
This issue looks close to #6562, but i haven't found more relevant issues.

#### Problem is:
1. clear cache with `php vendor/bolt/bolt/app/nut cache:clear`
2. reload webpage
3. it shows "Whoops...":

4. i have to delete production folder in cache.

Problem appeared for a long time for several versions of bolt.

Is there a cure for that?

[2019-01-07 02:32] rossriley commented on #7728
Long running issue here, there is a workaround but it depends on using access control features rather than standard permissions.

The cause is that most people use a separate user to run `nut` commands than the user that runs the web server, and when a user creates a new directory the system default `umask` normally means that other users cannot write to it.

The workaround is to add your site use

[2019-01-07 08:56] JarJak commented on #7728
My workaround if you don't have setfacl:
[code]

[2019-01-09 10:40] chibicitiberiu opened #7730 "[FR] 2 factor authentication support"
Hello,
I think adding 2FA support would significantly improve the security of websites hosted with Bolt. I don't know for sure how complicated it is to integrate.