[2016-07-25 08:13] fadoe commented on #5397
Any updates for this? Is there a problem in bolt or is there anything missing in my config? I need this information for a project.

[2016-07-25 08:20] fadoe commented on #5397
There are also wrong links in Backend for and under Settings/Configuration and Settings/Extends. The other links are correct.

[2016-07-25 09:14] GawainLynch commented on #5397
Unsure on this one. Might be worth trying Slack as a few people there might have tried something similar.

[2016-07-25 09:24] fadoe commented on #5397
I found the problem in the backend: All brocken links are generated via:
`$path = $this->rootEntry->getUri() . '/dbcheck';`
The correct way should be:
`$path = $app['url_generator']->generate('dbcheck');`

[2016-07-25 09:27] GawainLynch commented on #5397
Oh wow … that's awesome, thank you!

[2016-07-25 09:37] GawainLynch commented on #5397
PR #5577 submitted … thank you again :smile:

[2016-07-25 09:51] fadoe commented on #5397
Your'e welcome.

The frontend problem is a little bit harder: When I am right the URL are created at MenuBuilder on line 163:
`$item['link'] = $this->app['resources']->getUrl('root') . $path;`
How we can use the url_generator on this place?

[2016-07-25 09:54] SahAssar commented on #5397
@fadoe It should use the link property from the records if they are correctly entered: https://github.com/bolt/bolt/blob/858d652e49c3b61fef7e0f66f47750a4fe97d766/src/Menu/MenuBuilder.php#L193-L219

[2016-07-25 10:00] fadoe commented on #5397
Hej @SahAssar. On this place $content has already the incorrect link. This link is generated before this method is called.

[2016-07-25 10:07] GawainLynch commented on #5397
Yeah, front-end has a legacy cut-over problem … it could be hard(er) to solve.

We do some magic currently to build that link that needs to :fire: … and it is caught in between the two storage layers

[2016-07-25 10:17] fadoe commented on #5397
I will look at this later. When I solve this problem I will tell you.

This must be fixed when i use bolt for this project ... tz tz tz.

[2016-07-25 10:36] nlemoine opened #5578 "[BUG] - index.php isn't redirected"
Hi,

When accessing a bolt install directly with hostname.com/index.php, the page isn't redirected to domain root "/".

Details
-------

 - Relevant Bolt Version: 3.0 | master
 - Install type: any
 - PHP version: [ 5.4 | 5.5 | 5.6 | 7.0 ]
 - Used webserver: Apache

Reproduction
------------

Go to any Bolt website an hit: hostname.com/ + index.php
The page isn't redirected.

This issue triggers ma

[2016-07-25 10:40] PhillippOhlandt commented on #5578
For me, this seems to be a user config problem.

[2016-07-25 10:44] PhillippOhlandt commented on #5578
Update: ah, Bolt comes with an own .htaccess file (nginx user here). Well, I see no problems in doing a PR. ping @GawainLynch

[2016-07-25 10:46] nlemoine commented on #5578
Sure it is, but as you mention, Bolt provides an htaccess file and an nginx config file to deal with both server softwares. And users tend to trust provided files ;)

If @GawainLynch is ok, I'll submit a PR.

[2016-07-25 10:46] SahAssar commented on #5578
Any duplicate content issues should have been fixed in #4793, also, see that issue for some discussion on the redirect.

[2016-07-25 11:01] fadoe commented on #5397
@GawainLynch Okay, I think I fixed the frontend:

`$appBolt['resources']->setUrl('root', '/my-bolt-project/');`

[2016-07-25 11:01] GawainLynch commented on #5578
Where are we looking here? The asset try.bolt.cm is an Aura router install and not Bolt.

[2016-07-25 11:02] nlemoine commented on #5578
You mean https://github.com/bolt/bolt/pull/4794 ?

Fixing this redirection problem on the PHP side isn't the right way to do this. This is a rewrite rule issue.

Fixing the canonical meta tag doesn't mean the duplicate content issue is fixed. Let's say I post some URLs prefixed with `/index.php` of a bolt site on some page crawled by Google. If this the website hasn't set the canonical (which isn'

[2016-07-25 11:03] nlemoine commented on #5578
@GawainLynch, from the showcase page: http://nicalala.com/index.php

[2016-07-25 11:04] GawainLynch commented on #5578
Agreed. We do in the Nginx config, so I am guessing that it just needs to be applied to our *default* `.htaccess`

[2016-07-25 11:06] GawainLynch commented on #5397
How/where are you applying this?

[2016-07-25 11:26] fadoe commented on #5397
I wrote this in my index.php. It's not the best way but it works at the moment.

[2016-07-25 11:30] ToBe998 opened #5579 "Migration of extension to Bolt3 crashes if getname() is used"
If you migrate any extension from Bolt 2 to Bolt 3, you will most probably have a **getName()** method in your old extension, that is returning a string. In Bolt 3 however, this method is already defined in the base classe AbstractExtension. And it is defined as *final*.

Since you are now extending a method defined as **final**, your Bolt will crash. The problem with it is, Bolt's Error handling

[2016-07-25 11:34] GawainLynch commented on #5579
This is not a bug, but programmer error… albeit it easy one to make. :wink:

You are correct, the failing is in the documentation here, and I thought we had but obviously hadn't covered this one.

[2016-07-25 11:37] GawainLynch commented on #5579
Ah, [found it](https://docs.bolt.cm/3.0/upgrading/moving-22-30-advanced#independent-or-local-extensions)

[2016-07-25 11:51] SahAssar commented on #5578
@GawainLynch We don't do it in the nginx config... We pass every request (that's not a file) to the index.php, but we don't redirect requests that contain index.php.

@nlemoine: yeah, but I thought I'd link to the one with the relevant discussion. Also, on the duplicate content thing, the canonical does get set by default to the current hostname if not explicitly set (unless you set it to false),

[2016-07-25 12:28] bobdenotter commented on #5578
As far as I know this is intended behaviour. Symfony / Silex apps do this by default. I'm not sure if this is something we need to "fix".

[2016-07-25 12:28] bobdenotter commented on #5578
And, as @SahAssar says: The canonical is set correctly, so imho this is a non-issue.

[2016-07-25 13:02] bobdenotter commented on #5504
And don't forget also:

    strict_variables: true

[2016-07-25 13:09] nlemoine commented on #5578
They even provide a fallback when mode_rewrite isn't available: https://github.com/symfony/symfony-standard/blob/master/web/.htaccess#L60-L68
Which is the case where the router file is actually needed in URL. And redirect when it's not.

But if you think /index.php/ shouldn't redirect to /, it's ok, let's close the issue, I'll keep these changes in my own settings.

[2016-07-25 13:13] bobdenotter commented on #5578
Well, no, that's not what I meant. I'd _prefer_ it if we silently and unobtrusively got rid of `/index.php`. I just assumed that SF behaved like that for a reason, and didn't dig deeper, because it didn't bother me too much personally.

If we can can fix it without apparent downsides, i'm all for it 👍

[2016-07-25 13:43] cdowdy commented on #5578
Here is how symfony does it specifically to not have `app.php/path-here` https://github.com/symfony/symfony-docs/blob/00aad1e5a2455993a287a39ee73236cc14ed5655/cookbook/configuration/web_server_configuration.rst

[2016-07-25 13:58] ToBe998 commented on #5579
Yep, like I said, the main problem is not that it's final but that it's difficult to find out what's wrong there. ;)

[2016-07-25 14:17] GawainLynch commented on #5397
Reopening until we have a handle / decision on front-end impact.

[2016-07-25 19:25] gandalf3 opened #5585 "[BUG] current() twig filter always returns false when running bolt in a subfolder"
Currently active menu items are not styled any differently.
Dumping `item|current` and `item.record` from within the for loop in  `base-2016/partials/_sub_menu.twig` shows that the `current()` twig function appears to only return false, and [`item.record`](https://docs.bolt.cm/3.0/content/menus) is `null`.

**Added after debugging:** This is because the current() twig filter always returns false w

[2016-07-25 19:32] svivian opened #5586 "[BUG] Unknown argument "skip_uses" for function fields()"
When I use the `skip_uses` example from the bottom of [this page](https://docs.bolt.cm/3.0/templates/fields-tag), I get an error:

To be clear I'm using this in `record.twig`:

    {{ fields(skip_uses = false) }}

Details
-------

 - Relevant Bolt Version: 3.0.11
 - Install type: composer
 - PHP version: 5.5
 - Used webserver: Apache

[2016-07-25 20:23] SahAssar commented on #5586
As far as I can see it was never implemented... Checking the file history with `git log -S'skip_uses' -- src/Twig/Handler/RecordHandler.php` and `git log -S'skip_uses' -- /app/theme_defaults/_sub_fields.twig` show nothing, and the check isn't there in https://github.com/bolt/bolt/blob/release/3.0/app/theme_defaults/_sub_fields.twig#L20-L22...

Should be easy enough to implement though.

[2016-07-25 20:29] SahAssar commented on #5585
Could you post your menu.yml? Cause it seems to work for me (although this is on a git install):

![image](https://cloud.githubusercontent.com/assets/5096632/17116223/152e1f6a-52b7-11e6-8c9a-9c25caa4b97c.png)

[2016-07-25 20:32] gandalf3 commented on #5585
I'm testing this on a fully [default tarball](https://bolt.cm/distribution/bolt-latest.tar.gz) install, nothing modified.

[code]

[2016-07-25 20:42] SahAssar commented on #5585
Hmm, downloaded the tarball and did nothing except setup the first user and prefill the db with some lorem ipsum records... Works for me. Those records exist, right? And the actual links you get on the frontend are like `entry/nam-quid-possumus-facere-melius`, not like `entry/1`, right? Sorry if those questions sound stupid, but better to be sure :)

[2016-07-25 20:51] gandalf3 commented on #5585
I hadn't generated dummy records before, but generating them didn't change anything.

[2016-07-25 20:54] gandalf3 commented on #5585
Here's a screenshot of the menu I get after clicking the "All pages" menu item, taking me to the url `/pages`:

![Screenshot of /pages](https://cloud.githubusercontent.com/assets/11167504/17117025/2abfe914-526f-11e6-81e5-52735bb9f89a.png)

[2016-07-25 21:04] SahAssar commented on #5585
Hmm, that link... You're running bolt in a subfolder, right? I just tried it out while running bolt in a subfolder, and got the same results...

[2016-07-25 21:08] SahAssar commented on #5585
Mind if I edit your issue a bit to make it clearer that this is only when running bolt in a subfolder?

[2016-07-25 21:10] gandalf3 commented on #5585
Of course, go ahead :)

[2016-07-25 21:16] SahAssar commented on #5585
btw, bolt has had some issues with being run in a subfolder previously too, if you want to alleviate this until it is fixed the easiest way is to run it in the webroot.

[2016-07-25 21:26] SahAssar commented on #5551
Closing as it seems like it is Not-A-Bug™, and no reply has come in... Please reopen if I'm wrong! :)

[2016-07-25 21:26] #5551 closed

[2016-07-25 22:07] SahAssar commented on #5494
If using legacy storage it would probably be this: https://github.com/bolt/bolt/blob/502ddba3e8cc4c5077f1788e1fbad0531197017d/src/Legacy/Storage.php#L1043-L1132

But that error does not look like that is the issue to me (based on nothing but gut feeling)... @rossriley, want to pitch in?

[2016-07-25 22:10] SahAssar commented on #5490
Does this also happen if you don't use underscores in the name/slugs? Just trying to see if this is related/the same issue as #5543

[2016-07-25 22:16] SahAssar commented on #5490
In my testing it does not happen if one sets the key and the slug to `regiongroups` in your example while keeping everything else the same. So underscores work in the options keys and the singular_slug, but not as the taxonomy key or the slug.

[2016-07-25 22:18] SahAssar commented on #5543
Pretty sure this is a duplicate of #5490... Feel free to reopen if I'm wrong!

[2016-07-25 22:18] #5543 closed

[2016-07-25 22:26] SahAssar commented on #5469
@saltpeanuts You're right, thanks! :) Closing this as it is a duplicate of #5427

[2016-07-25 22:26] #5469 closed

[2016-07-25 22:29] SahAssar commented on #5427
Btw, since I closed #5469 as it is a dupe of this I'll ask here: Since #5526 (released in v3.0.10) I can't reproduce this, could I just get a verification that it works from one of you guys?

[2016-07-25 22:39] SahAssar commented on #5470
@dantleech I can't reproduce, are you still seeing this in the latest bolt version?

[2016-07-25 22:43] SahAssar commented on #5489
Just like the similar issues with HTML fields I can't reproduce this since #5526 (released in v3.0.10) which seems to have fixed a number of these issues... I'm going to close this, but if it is still an issue in the latest bolt release please reopen and I'll dig deeper!

[2016-07-25 22:43] #5489 closed

[2016-07-25 22:45] dantleech commented on #5470
@seanhussey will check

[2016-07-25 22:46] dantleech commented on #5470
@SahAssar will check

[2016-07-25 22:49] SahAssar commented on #5183
Seems to have been fixed by #5542 (In other words, "it works for me" ;) ) Please reopen if you are still having issues!

[2016-07-25 22:49] #5183 closed

[2016-07-25 23:01] SahAssar commented on #5385
Since I don't have a mysql install on hand right now I'll just ask here: Did it ever get confirmed that is an issue with `prefix`?

[2016-07-26 05:30] #5517 closed

[2016-07-26 06:06] SahAssar commented on #5556
Hey @denis-gorin,

Another potential pre-coffee comment: Reading through your issue again it sounds to me like you are talking about the select field and "selectmultiple" as two different fieldtypes, when they really are the same just with or without `multiple: true` in the field config.

The reason the default is just set on multiple is that that's the only situation where we need to selectfield

[2016-07-26 08:33] ToBe998 opened #5588 "[RFC] Methods to change theme and request zone"
Currently, Bolt uses one theme for all pages rendered by the frontend. In many cases, this is not sufficient. A page needs to be displayed in various variants, requiring different template sets.

Some examples:
- **Google Accelerated pages** display a page with a special set of html tags.
- **Newsletters** Newsletters have a very different html layout as your normal pages.
- **Special "skins"** So

[2016-07-26 08:35] GawainLynch commented on #5588
ping @CarsonF

[2016-07-26 14:15] svivian opened #5589 "No message shown on file upload error"
If a file cannot be uploaded, in some places no error is shown. To reproduce:
1. Set `public/files` directory to not be writable by the server.
2. Go edit a page and click "Upload" in the stack to the right.
3. Try to upload a file.

The file starts uploading with a progress bar, but when it's done nothing happens - the file is not actually saved anywhere and it doesn't appear in the stack. There

[2016-07-26 15:04] ToBe998 commented on #5588
Note: In Bolt 3.0.6 you could at least hack the theme folder like this:
[code]
Now Bolt uses it’s own filesystem and that doesnt seem to work anymore. My best try so far is this, but it just doesnt correctly update the mounted paths…
[code]

The asset rendering seems to be hackable like this:
[code]
Also not nice but at least possible.

[2016-07-26 15:38] ToBe998 commented on #5588
Update: This evil hack (i feel very dirty now) did the job for now. Having a clean solution would be great anyways.

[code]

[2016-07-26 15:52] CarsonF commented on #5588
@ToBe998 What does that hack do for you?

[2016-07-26 16:01] ToBe998 commented on #5588
That hack changes the theme depending on the url.

 * The them is changed to a different one
 * Assets from the normal frontend are blocked if needed (Some themes like amp break if we load them)
* The request is relayed to frontend as usual

For example this url `/customtheme/contenttype/slug` sets the following stuff:
 * `general/theme` is set to `customtheme` (from a config of course, not direct

[2016-07-26 16:27] svivian opened #5590 "[BUG] Blank alert box when deleting folders"
1. Go to the file manager.
2. Delete any folder (by clicking the "Options" dropdown then "Delete foldername").
3. An alert pops up saying "Do you really want to delete foldername?". Click OK.

Expected: the folder to be deleted.

Actual: a second, blank alert box appears. It doesn't appear to do anything as clicking either button continues to delete the file.
## Details
- Bolt 3.0.11
- PHP 5.5
- A

[2016-07-26 16:49] ToBe998 opened #5591 "[BUG] Listing template uses deprecated Twig filter localdate"
The template **@bolt/_base/_listing.twig** uses the deprecated filter `localdate` which now causes a deprecated exception within Twig. The template is used on the dashboard for example.
The strange thing is, that the exception seems to be suppressed in bolt itself. Whe you use the same template to display a list of records in your own code (a widget in my case) it throws the error as show below.

[2016-07-26 16:52] ToBe998 commented on #5591
**Note**
The filter is one of Bolt's own filters and is defined in **src/Twig/TwigExtension** on line 113.

[code]

[2016-07-26 17:06] svivian opened #5592 "[BUG] Display issues with File Manager"
1. Go to the file manager.
2. Upload a small image, such as a 16x16 icon.
3. Click the filename to preview the image.

**Problem 1:** the image thumbnail shown in the file list is blurry and has the wrong aspect ratio. The problem is that the image is linked as `/thumbs/54x40c/icons/pdf-button.png` which resizes/crops images to 54x40, but not if they are smaller than that. But the `<img>` tag has

[2016-07-26 17:13] SahAssar commented on #5466
I got interested and went spelunking for this... the docs were added in [Aug 2013](https://github.com/bolt/docs/commit/0f12f66b1c56e5ebf68f5d3e84b50a844cb96efb), but the functionality doesn't seem to have been added until [Dec 2013](https://github.com/bolt/bolt/commit/8ec4248bc5a4e5e87ae7cd85461a1557023bbc00) and not much seems to have changed since then... So basically the problem was that the ne

[2016-07-26 17:30] svivian opened #5594 "[BUG] Unable to rename files"
Me again, starting to wonder if you've tested your own app at all ;)

Actually this one could be an issue on my side but I can't see what would be causing it. After my earlier bug report I have everything set up with correct permissions, but I am not able to rename files through Bolt.

I've uploaded a file through the file manager in Bolt, so the folder definitely has the correct permissions. I ca

[2016-07-26 17:31] GawainLynch commented on #5594
Related to #5478 and #5582?

[2016-07-26 17:32] SahAssar commented on #5592
problem 1 is one that we should fix anyway in showimage and one I didn't get to during my last run through those parts, basically if `allow_upscale` is false we should max out at the images natural dimensions (and also a check for resize to make sure that we preserve aspect ration if it is resized, not cropped/bordered).

problem 2 should just be the min-width/min-height like you said.

You wanna

[2016-07-26 18:09] SahAssar commented on #4439
This is currently tagged as a 2.2 LTS issue (the only one open right now), and it will not get "fixed" there. I hope to PR some additional checks for a 3.X.X release and perhaps that'll make it work in a way that suits everyone.

Also, since the jury is out on whether it's a bug that one is gone too.

[2016-07-26 18:31] brewneaux opened #5595 "[RFC] Show Contenttype Database alterations through new options in nut CLI"
I'm currently working on a deployment script, to make my own workflow a little easier.  In doing so, I have it run the command `php app/nut database:check`, and I would like to see the alterations proposed when doing so, as you also can on the web interface.

I've already implemented this change on my fork, in [this commit](https://github.com/brewneaux/bolt/commit/cd844b5805fad07ee1a2c7bfa9d8d1668

[2016-07-26 18:42] SahAssar commented on #1832
I'm going to close this again... Sorry, but I just haven't had the time, and this does not exactly seem like an active/requested enhancement. If it comes up in the future or if anyone PR's a fix that'd be very welcome. :)

[2016-07-26 18:42] #1832 closed

[2016-07-26 18:44] SahAssar commented on #2247
I'm going to close this... Sorry, but I just haven't had the time, and this does not exactly seem like an active/requested enhancement. If it comes up in the future I'll reopen it and try to work on it (time forgiving) or if anyone PR's a fix that'd be very welcome. :)

[2016-07-26 18:44] #2247 closed

[2016-07-26 18:52] SahAssar commented on #2909
Alrightio, assigning this to @bobdenotter!

[2016-07-26 18:55] SahAssar commented on #3021
So is this something that we see as possible in the near future, or should this be put on a backburner to-do list?

[2016-07-26 18:58] SahAssar commented on #3192
Assigning this to @rossriley for fix or dismissal! :)

[2016-07-26 19:04] SahAssar commented on #3385
Closing due to lack of response from stakeholders. If these enhancements are still desirable please reopen (and have a plan for when/how to implement) please reopen :)

[2016-07-26 19:04] #3385 closed

[2016-07-26 19:05] SahAssar commented on #3424
Any progress on this?

[2016-07-26 19:07] CarsonF commented on #3424
Nope. We could probably just copy their source.
But there's a reason they deprecated it. It's basically impossible to cache.

[2016-07-26 19:07] SahAssar commented on #3455
@rarila Any good solution to the issue you mentioned Nov 10, 2015? Or is this just one of those that can't be solved by us?

[2016-07-26 19:12] SahAssar commented on #3458
Closing cause bobdenotter's comment and that this has had no activity for almost a year now. Please reopen if it becomes desirable and someone has the time to work on it or propose something.

[2016-07-26 19:12] #3458 closed

[2016-07-26 19:20] SahAssar commented on #3827
Closing due to lack of activity and that we have already had numerous problems with too much in contenttypes getting translated... If you PR your change jkaan (if it's still around...) we'll happily consider it out and make a decision based on that! :)

[2016-07-26 19:20] #3827 closed

[2016-07-26 19:22] SahAssar commented on #4161
@GawainLynch @rarila Is this something that you plan to work on? I'd love to see it fixed, but I'm just worried that a comment from over six months ago is easily forgotten.

[2016-07-26 19:29] rarila commented on #3455
Can't think of a solution

[2016-07-26 19:33] saltpeanuts commented on #5427
Only had chance to give it a quick test but so far it's looking fixed here on 3.0.11. Thanks!

[2016-07-26 19:33] SahAssar commented on #3455
Righto, closing this for now, perhaps we can make this work when the browser/OS behavior is standardized (if ever :mask: ).

[2016-07-26 19:33] #3455 closed

[2016-07-26 19:35] SahAssar commented on #5427
@saltpeanuts Thanks for verifying! Lemme know if there are any issues and we/I will look into them!

[2016-07-26 19:38] rarila commented on #3455
That'll be when they sell :icecream: on the :sunny:.

[2016-07-26 19:41] SahAssar commented on #5027
Okay, so turning back the clock (which is needed when visiting "old issues island") @rarila how feasible is it to fix this in a proper way like you mentioned in [your comment](https://github.com/bolt/bolt/issues/5027#issuecomment-196480519) ?

[2016-07-26 19:45] SahAssar commented on #5043
Is this still relevant? If it is, do I understand things correctly that "all" one needs to to do to generate the missing stings is to visit every possible page once and the PR the changes in that translation file?

[2016-07-26 19:50] SahAssar commented on #5038
Did we ever reach any consensus on this (I know we didn't in this thread, but some conversations happen elsewhere)?

Seems to me like if we follow the Symfony standard and for example have `pt_PT` and `pt_BR` we'd need an additional `pt` translation, right?

[2016-07-26 19:55] saltpeanuts commented on #5427
@SahAssar  No problem, just tested with a markdown field as well, which is also working, so looks like #5489 is fixed too.

(although I did notice a separate issue with markdown content being lost when using Duplicate Set with a markdown field, I can open this as a new issue if it's not already open somewhere)

[2016-07-26 19:58] dantleech opened #5596 "HTML field in repeater doesn't work if not the last in the field set."
I thought I had already created a bug report for this, but I don't think I did.

Works:

[code]

Doesn't work:

[code]

![brok](https://cloud.githubusercontent.com/assets/530801/17153228/8d4024c8-5373-11e6-87e0-9c0780f70be2.png)

Tested with bolt v3.0.10

(super helpful) Javascript error:

[code]

[2016-07-26 19:58] SahAssar commented on #3986
This is the same problem as #4161 (or at least will be solved by the same solution IIRC), so closing.

[2016-07-26 19:58] #3986 closed

[2016-07-26 20:00] SahAssar commented on #5427
@saltpeanuts I think that is the same problem as #5476, so hopefully it will be fixed in the same sweep. :)

[2016-07-26 20:14] saltpeanuts commented on #5427
Duh, thought it seemed vaguely familiar :/ It's well past wine 'o clock :)

[2016-07-26 20:15] SahAssar commented on #3514
I'm gonna (perhaps recklessly) close this again. please reopen with details pertaining to the current master or release 3.X if it does not work since a lot might have changed.

[2016-07-26 20:15] #3514 closed

[2016-07-26 20:20] SahAssar commented on #3734
@rlowry would you be willing to PR that and get a sponsor to work to get it into core?

[2016-07-26 20:29] SahAssar commented on #3744
I'm very late to reply (again), but would it be better to show it like was tried here: https://github.com/bacbos/bolt-menu-editor/issues/31#issuecomment-234263985, basically show a bit of the description and the icon? I was planning to do that for the omnisearch anyway, so the FE work should be basically the same.

A more prominent link in the backend and on bolt.cm would be good too IMO.

[2016-07-26 20:38] SahAssar commented on #3914
@rossriley Is this something that needs/wants to be fixed or is the reccommended fix to just `{% set relatedproj = relatedproj|length < 2 ? : [relatedproj] : relatedproj%}` or something like that?

[2016-07-26 20:46] SahAssar commented on #3943
Fixed in #5441, see
![image](https://cloud.githubusercontent.com/assets/5096632/17154805/d49cc164-5382-11e6-95df-a10502507067.png)

[2016-07-26 20:46] #3943 closed

[2016-07-26 20:53] SahAssar commented on #4057
Sorry, this seems like it will be a part of #574 or because someone actually PR's it... So I'm closing, since I don't think this being open in any way helps it getting fixed. PR'ing this would be very appreciated!

[2016-07-26 20:53] #4057 closed

[2016-07-26 20:58] nbehier commented on #5385
On a bolt v3.0.3, if I change `database` from `sqlite` to `mysql` with `prefix` (with or without underscore on it), I get the Exception. I get the Exception from `php app/nut cache:clear` too. I'll try to test on last version of Bolt to see if happen again.

[2016-07-26 21:03] SahAssar commented on #4545
@rossriley Assigning you for response, fix or both :)

[2016-07-26 21:05] SahAssar commented on #4661
@GawainLynch Assigning this to you!

[2016-07-26 21:12] SahAssar commented on #4760
@CarsonF Is there some version/milestone that you think is realistic to get this done? Not to pressure, but I'm trying to get an estimate on what we can assign and what milestone we can sorta assign it to when it comes to the current issues. That is if it's still something that is wanted in bolt core.

[2016-07-26 21:21] nbehier commented on #5385
I test on v3.0.11, exactly the same.

1. Declare `sqlite` as database provider on my `config.yml`
2. `php app/nut database:check` => correct
3. Update my Bolt with tarball
4. `php app/nut cache:clear`
5. Declare `mysql` as database provider with a `prefix` property on my `config.yml`
6. `php app/nut cache:clear` or `php app/nut database:check` and get the Exception.

=> I could not easily at this

[2016-07-26 21:23] SahAssar commented on #5068
Because of #5545 I'm gonna close this, but if that falls through we will certainly need another approach.

[2016-07-26 21:23] #5068 closed

[2016-07-26 21:36] nbehier commented on #5385
OK, I checked all the same as before, on a new database, but without `prefix` instruction on `config.yml` => perfectly works.

When I checked on `bolt/bolt/src/Storage/Mapping/MetadataDriver.php`, I do not see any prefix code… [comments on line 94](https://github.com/bolt/bolt/blob/release/3.0/src/Storage/Mapping/MetadataDriver.php#L94) seems to be clear on that point.

[2016-07-26 21:47] SahAssar commented on #5385
Assigning @rossriley to this since it that seems to be the area (to my untrained eye)...

[2016-07-26 21:58] SahAssar commented on #3914
Actually, Because of the great discussion in #5067 (which I didn't remember when posting the previous comment) I think that this will be covered there.

[2016-07-26 21:58] #3914 closed

[2016-07-26 22:04] SahAssar commented on #5085
Seems like the "only the published records are displayed" after publish is fixed, but the FUD remains...

[2016-07-26 22:11] SahAssar commented on #5184
Imma guess this has been fixed in the meantime an just not closed (And I think I heard talk about it being fixed in one of the chats)... I'd assume there would be more activity on this otherwise ;)

Anyway, closing, please reopen/comment if it's still around!

[2016-07-26 22:11] #5184 closed

[2016-07-26 22:14] SahAssar commented on #5193
Because of no reply and a similar problem fixed in #4741 I'm going to assume this can be closed... Please reopen/comment if I'm wrong!

[2016-07-26 22:14] #5193 closed

[2016-07-26 22:20] SahAssar commented on #5210
IIRC we had a few of these path issues early in 3.0 and in 3.0-dev.... I'm closing because we seem to have fixed most of them. If this still happens for you in a current 3.X.X please comment or reopen and I/we will further look into it!

[2016-07-26 22:20] #5210 closed

[2016-07-26 22:23] SahAssar commented on #5229
@ToBe998 Are you still interested in working on this?

[2016-07-26 22:28] SahAssar commented on #5242
@GawainLynch I might very well be misremembering here, but didn't you get this one in one of your extension PR's?

[2016-07-26 22:34] SahAssar commented on #5394
@GawainLynch Well, if it isn't a Bolt specific issue, can we do anything about it? Is this just windows being windows or can we open an issue somewhere?

[2016-07-26 22:40] SahAssar commented on #5477
Is there someone working on this?

[2016-07-27 01:11] Raistlfiren commented on #5477
@SahAssar I am not. I do not know the code base well enough, otherwise I would. Can you handle it @SahAssar? :)

[2016-07-27 05:34] GawainLynch commented on #3021
Needs a volunteer … maybe that should be a tag :stuck_out_tongue_winking_eye:

[2016-07-27 05:38] GawainLynch commented on #3424
Ha… I've been meaning to bring this up with you for a couple of weeks, @CarsonF

It isn't super urgent right now, as it won't bite until next major anyway. But keep this open to track @SahAssar

[2016-07-27 05:42] GawainLynch commented on #4161
Plan… yes… time?

[2016-07-27 05:52] GawainLynch commented on #5043
It is. @rarila was going to hack up a nut command to parse the strings and sync each language. I have something hacky too, so as @bobdenotter says, we just need to do as normal and try to not make things harder as we move :smile:

[2016-07-27 05:56] GawainLynch commented on #5038
Yes, but the political problems with users can then kick off.

For the record, I agree that English is a special case and it would be safe to have an `en` default that was the content of `en_GB` and then have an `en_US` where someone felt the desire to translate.

[2016-07-27 05:59] SahAssar commented on #5477
@Raistlfiren Don't think that I know it well enough either...

We have a nice (probably non-exhaustive) list of what has been deprecated here: https://github.com/bolt/bolt/wiki/Deprecations-Tracker, but not something that actually maps them to a recommended alternative...

[2016-07-27 06:07] GawainLynch commented on #5242
No, two problems "looked" linked but were not.

[2016-07-27 06:09] GawainLynch commented on #5394
Yeah, the action item here is a docs update, either on Windows quirks generally, or the install page as a warning

[2016-07-27 06:12] GawainLynch commented on #5477
Yeah, I'll take the blame there … the deprecation tracker should be pretty close on *what* went, but not to where.

This is not a bad job for someone who is curious, and happy to answer queries from said person.

[2016-07-27 07:12] evertalbers commented on #3744
That example sure looks good to me.

[2016-07-27 07:20] ToBe998 commented on #5229
I created an extension which provides an alternative to `setcontent` that can select more than one type at once, sort, search and do taxonomy filters. So, no i can live without.

Still would be something important for a future release, i think.

[2016-07-27 07:26] SahAssar commented on #5229
That extension isn't public, right? Just asking since it sounds like it could be useful for other people (including myself) :)

[2016-07-27 07:52] GawainLynch commented on #4661
Done! (including docs, extensions & main site)

[2016-07-27 07:52] #4661 closed

[2016-07-27 08:36] SahAssar commented on #4545
Fixed in 55e8a97

[2016-07-27 08:36] #4545 closed

[2016-07-27 09:13] ToBe998 commented on #5229
im sooooo close to getting greenlight on making some extensions public ;)

[2016-07-27 10:22] denis-gorin commented on #5556
Yes

[2016-07-27 10:27] GawainLynch commented on #5595
@brewneaux: This sounds like an awesome idea :+1:

My only recommendation is to have a look at the Symfony Console TableHelper for output generation … it's super easy to use and is really nice output.

Also, if you PR, can you target master please. `release/3.0` is bug-fix only and we're about to branch `release/3.1` so this will target 3.2

[2016-07-27 11:28] SahAssar commented on #5556
If it is the removing `isset($values['multiple']) && $values['multiple'] === true` should make no difference whatsoever...

[2016-07-27 13:29] #5478 closed

[2016-07-27 13:34] #5466 closed

[2016-07-27 14:45] GawainLynch opened #5600 "UI clean up for Extend page"
This is for you both @bobdenotter & @SahAssar :wink:

[2016-07-27 14:52] GawainLynch commented on #5071
Timed publishing done in #5599 … If you feel like picking up more, go for it, but closing this now as part of the pre-release clean up

[2016-07-27 14:52] #5071 closed

[2016-07-27 15:23] svivian commented on #5594
I don't think so. I don't have any special/accented characters in the filename or server path (unless in that other bug, a hyphen is counting as a special character?)

[2016-07-27 15:27] GawainLynch commented on #5594
Oh, the characters were a red herring … it was actually a path issue that looks very similar to what you reported.

[2016-07-27 15:34] svivian commented on #3385
What kind of response are you expecting? None of the items have been implemented so there's nothing to comment on.

[2016-07-27 15:41] GawainLynch commented on #3385
@svivian You're not the only stakeholder that @SahAssar is referencing.

Short version is that we have lots of feature demand, but only so many people to actually do the work, code the PRs, write the unit/acceptance tests, and write documentation.

TL;DR: The point was that an enhancement request over a year old with nobody taking ownership doesn't help anyone. So it was closed until someone steps

[2016-07-27 17:56] denis-gorin commented on #5556
aaaa... sorry my bad english. I think I've confused you...
I mean, I remove this piece of code `$values['type'] === 'select'`

BEFORE

[code]

AFTER

[code]

I think attribute multiple itself implies select fieldtype

[2016-07-27 18:05] SahAssar commented on #5556
Ah, now I got what you mean!

That sort of logic should be handled by your extension... We don't know what attributes another extension or a future bolt release might add, so it'd probably be bad to assume the fieldtype from the attributes alone... You can see how custom hydrate/persist works by taking a look at https://github.com/rossriley/bolt-url-field/blob/master/src/Field/URLFieldType.php for

[2016-07-27 18:05] #5556 closed

[2016-07-27 18:39] denis-gorin commented on #5556
You are right about that.

I will look to hydrate/persist example again, But it seems no chance for my case... In hydrate data always has cleared options from select (when clear all).

[2016-07-27 18:49] SahAssar commented on #5556
Persist is probably where you want to be looking... You should have direct access to the posted value and can therefore fix it there.

[2016-07-27 19:34] horus68 commented on #5038
regarding portuguese example:
`pt` and `pt_PT` are the same: Main Portuguese (or Portuguese of Portugal / Portuguese european)
`pt_BR` is a variant from Brasil

[2016-07-27 20:44] gonoszcsiga opened #5601 "[BUG] contenttypes and underscores"
Hi, I trying to update my Bolt 2 to Bolt 3 and contenttypes.yml is giving me an error. I used underscores everywhere, but Bolt 3 doesn't like this.

Reproduction
------------
Create a content type in contenttypes.yml:
[code]
and you will get this message on admin:

___"In the contenttype for 'Foo_bar', the relation 'foo-bars' is defined, which is not a valid contenttype. Please edit contenttypes.y

[2016-07-28 07:03] GawainLynch commented on #5601
So `foo_bar` is related to `foo_bar` … People, I think we're witnessing ContentTypeCeption :wink:

Seriously though, this is a problem we've been chasing though the code base in a few forms for a while, and in this case might be as smile as just allowing the `_` in the Slugify call.

[2016-07-28 09:29] denis-gorin commented on #5556
You are right! Thanks!

[code]

[2016-07-28 10:28] GDmac commented on #5071
re 5599
gawainlynch: nice timed publishing wait functionality 5599
nitpick: cache granularity is 10 minutes by default

[2016-07-28 10:31] SahAssar commented on #5071
GDmac: Yeah, me and gawain talked about that on slack, ideally we want to be able to set the cache time individually for each caching option, but that will have to wait till a future version.

[2016-07-28 10:33] GawainLynch commented on #5071
@GDmac & @SahAssar it's already been redone for 3.2-dev … and some I might get into 3.1 as "bugfix".

I am not happy with the default of 10 minutes myself, but it was "another config option" just prior to redoing them all, or that :laughing:

…and 3.1 isn't out yet :+1:

[2016-07-28 13:46] SahAssar opened #5603 "[RFC] SQLite, "analyze;" and DB performance"
Many "expensive" db queries can gain a massive speedup in SQLite if [analyze;](https://www.sqlite.org/lang_analyze.html) has been run on the database since the SQLite queryplanner becomes much more efficient with the additional info it has to work with (if I have understood things correctly). Analyze needs to be rerun if the db changes significantly or if the schema is updated though, so it's not

[2016-07-28 13:51] GawainLynch commented on #5603
Docs: :+1:
Calling out to a binary we can't guarantee is there, or allowed by the system: :-1:

[2016-07-28 14:12] SahAssar commented on #5603
@GawainLynch Sorry, I wasn't clear, analyze can be run as a simple sql query. I just used the example with sqlite3 as that is how I've run it on my db's.

It can be run from php by just running the query "analyze;".

[2016-07-28 14:32] GawainLynch commented on #5603
Derp… Sounds like a potential addition to the "check database" page

[2016-07-28 14:52] SahAssar commented on #5603
Oh, and I just retested on a more "normal" site (50ish pages, 100ish newsitems, a few more small contenttypes), the backend query time went from ~10ms to ~4ms, so most sites should see an improvement.

[2016-07-28 17:28] CarsonF commented on #4760
Bigger fish to fry right now. Still I think it's a useful feature.

[2016-07-28 18:10] brewneaux commented on #5595
@GawainLynch Thanks for the comments!

I opened a PR against master.

[2016-07-28 18:36] GawainLynch commented on #5595
Awesome mate, one nitpick comment added to said PR!

[2016-07-29 07:54] rarila commented on #5027
First, using typographically correct characters would help a lot.

Then the translation system has to be extended to allow a parameter for the replacement placeholder. The call from the example abovce would change from

[code]
to something like
[code]

. So we first would escape the complete string and then add the html part programmatically.

Next thing we need is a way to mark some text in a log

[2016-07-29 17:16] bobdenotter commented on #5603
👍

[2016-07-30 11:49] SahAssar commented on #5601
I think this highlights the need for one db slugifier that is run on every column and table name that goes in the db and every contenttype key, and a separate one that is used for URLs.... That would also ease allowing special/uppercase chars in urls without messing up db keys or column names, which is something that we at intendit do.

[2016-07-30 11:58] GawainLynch commented on #5601
Somewhat easier said than done … but far from impossible.

We're not very consistent yet with config, so we can absolutely try to patch it in now, but it might be better to make (intermediate) config refactoring go into 3.2 with the exception handling.

[2016-07-31 05:29] Boorj opened #5606 "[RFC] Slugify file names instead of sanitizing during upload"
**Problem**: many clients use local file names during upload. So server is now full of similar names like `-1.jpg` and other like this.

Maybe we can slugify image name, when using standard uploader? Now sanitizing is used.. so `название картинки.jpg` is  uploaded as `nazvanie-kartinki.jpg` and not `-.jpg`. Or we can `sanitize(slugify($image_name))`..
What do you think?

[2016-07-31 05:39] Boorj opened #5607 "[BUG] (or rfc?) Underscopes in slug name"
When user edits slug manually and puts underscopes instead of dashes (hyphens), system _allows_ him to do that. So slug is stored like `'this_is_slug'` in database.

But when i use `$app['slugify']->slugify($potential_slug)` in code to detect if there's a content for this slug (got `$potential_slug` by routing system), `slugify` changes underscopes to dashes. So in uri it's `http://foo.com/bar/thi

[2016-07-31 05:44] Boorj commented on #5607
seems it's related to #5601 , @GawainLynch suggested allowing `_` in that topic..

[2016-07-31 06:40] bobdenotter commented on #5390
Must've ben fixed in the meantime. This is no longer an issue in 3.0.11.

[2016-07-31 07:01] #5586 closed

[2016-07-31 10:19] SahAssar commented on #5339
Btw, I have noticed something odd on one of our customer sites regarding this... They apparently use some of Nortons so called "security products", and those apparently inject an object tag into all iframes (including bolt's editor). When the customer saves the page and someone without Nortons "security products" visits the page on the frontend they get a "missing plugin" warning from the browser

[2016-07-31 10:47] bobdenotter commented on #5339
Wow, `<object>`.. haven't seen that in a while. :-)

Sure thing, though.

[2016-08-01 15:03] ToBe998 commented on #5534
I just stumbled on this too. Our Bolt2 instances use a clustered memcache session handler. In Bolt2, you could just put `session_use_storage_handler: false` into your config.yml and it worked.
Now in Bolt3, this option is no longer used.

It seems the session handler can no longer be disabled. There seems to be support for memcache sessions by Bolt3 and even the option to parse PHP's session confi

[2016-08-01 15:40] lexislav opened #5612 "Bold 3.0.11 – Taxonomy from Bolt 2.X error – content may be created, but reopening for edit is not possible"
I am updating older website from Bolt 2.X to Bolt 3.0.11.
The same taxonomy definition does'n work in bolt 3.0.11.
The issue can be easily replicated by adding taxonomy bellow to clean Bolt3 install, for exampel to Entries.

When saving content, the Error message appears, but the content is saved.
Listed contetnt cann't be reopened for edit – error message again.

Any ideas how to fix this is very

[2016-08-01 16:55] GawainLynch commented on #5534
Should be fixed in  #5535

[2016-08-01 16:55] #5534 closed

[2016-08-02 09:09] lexislav commented on #5612
Solved by rewriting `druhy-peciva` to `druhy_peciva`
So it is underscore vs dash issue.

[2016-08-02 09:43] SahAssar commented on #5612
@lexislav Yeah, we have some issues with dashes/hyphens and underscores in slugs/keys... If you change druhy_peciva to druhypeciva it should work for you, see #5490 and #5601

[2016-08-02 10:45] lexislav commented on #5612
@SahAssar thanks, at first I haven't realized that the issue is related with dashes/hyphens and underscores. Thanks for info anyway, I hope it would be fixed eventually, as it is a bit limiting for slug format.

[2016-08-02 10:45] #5612 closed

[2016-08-02 10:55] GawainLynch commented on #5612
Yeah, it is just an ugly one to fix due to a lot of legacy, but we'll get it!

Thank you for your patience :smile:

[2016-08-02 17:21] #5600 closed

[2016-08-02 19:06] bobdenotter commented on #5468
*BUMP*

Is this still an issue, @PhillippOhlandt ? I can't reproduce it on 3.0.11.

[2016-08-02 19:08] bobdenotter commented on #5339
Fixed by #5611

[2016-08-02 19:08] #5339 closed

[2016-08-02 19:10] bobdenotter commented on #5315
I have a strong suspicion that this has been fixed in the meantime. For example, Translate and SEO use custom fields, and they work fine on 3.0.11.

Closing for now, but please re-open if it remains an issue.

[2016-08-02 19:10] #5315 closed

[2016-08-02 19:25] bobdenotter commented on #4705
Closing this. Many things have changed in Botl 3.0, and as far as i can tell, it works correctly now.

Feel free to re-open, if this remains an issue.

[2016-08-02 19:25] #4705 closed

[2016-08-02 19:37] PhillippOhlandt commented on #5468
@bobdenotter, @rarila, can't reproduce on 3.0.10 anymore. seems to be fine now :)

[2016-08-02 19:39] SahAssar commented on #5468
actually, It's still an issue, and one of the ones that #5610 will fix once cleaned up enough to go in.

[2016-08-02 19:41] SahAssar commented on #5468
The problem was/is that ajaxy requests don't show unpublished records, while non-ajaxy backend requests did. So, you'd only see this issue with unpublished records.

[2016-08-02 20:04] PhillippOhlandt commented on #5468
Oh yes, @SahAssar is right. Still a bug with two unpublished records. Should this be reopened?

[2016-08-02 20:15] SahAssar commented on #5468
Reopening and adding to #5610

[2016-08-02 20:16] #5585 closed

[2016-08-02 20:17] #5591 closed

[2016-08-03 08:55] maximivanov opened #5624 "[BUG] Unnecessary db queries on extension route load"
Local extension with a route which does nothing more than `return new Response('Drop bear sighted!', Response::HTTP_OK);` results in a few unnecessary SQL queries.
I want to have a performant Bolt setup, and these extra queries seem like a problem.

Details
-------

 - Relevant Bolt Version: [ 3.0.11 ]
 - Install type: [ Composer install ]
 - PHP version: [ 7.0 ]
 - Used webserver: [ Nginx 1.4.6 ]

[2016-08-03 08:57] GawainLynch commented on #5624
This has been changed in the upcoming 3.1 release… and heavily redone in the 3.2 branch.

See #5599

[2016-08-03 08:57] #5624 closed

[2016-08-03 08:57] PhillippOhlandt commented on #5624
That are the queries to check if a timed publish/depublish needs to change the status of a record. @GawainLynch already built something to do those queries only all X minutes.

[2016-08-03 08:58] PhillippOhlandt commented on #5624
Damn, @GawainLynch was faster :D

[2016-08-03 09:15] rossriley commented on #5494
Yes, I have a feeling the error is unrelated, I've got a test in core that ensures the following query works:

`$results = $app['query']->getContent('entries', ['categories' => 'movies']);`

I've also just ran a couple of tests locally and it seems to do the job too. The error looks to be coming from a doubling up of field names in the query, I'm thinking maybe it could be an issue when a taxonomy

[2016-08-03 09:16] rossriley commented on #5607
I'm going to close this one in favour of #5601 which I've already assigned to myself and we'll get a solution in place.

[2016-08-03 09:16] #5607 closed

[2016-08-03 11:05] dariusz-rzeznik opened #5625 "[BUG] Garbage collection of session files doesn't work"
Hi.

After commit https://github.com/bolt/bolt/commit/2d2634a5fe111613aa60eaed56bb7ab61b9b5a3e
Change cache://session to cache://.sessions functionality of cleaning session files has stopped working.

In bolt\filesystem\src\Iterator\PathFilterIterator.php
In accept method we have problem in:

       foreach ($this->noMatchRegexps as $regex) {
            if (preg_match($regex, $filename)) { //here

[2016-08-03 11:10] GawainLynch commented on #5625
- `ResourceManager` is in the process of being removed, so the mount point would be in `bolt/filesystem`
- Sessions is a volatile directory, so `app/` is out, and given the incredibly broad distribution of environment types we have to support, cache is the only area that we *know* we can write to
- The dot directory was used to prevent a flush logging out every single user
- The cache layout chang

[2016-08-03 12:48] #5625 closed

[2016-08-03 12:49] gonoszcsiga opened #5628 "[BUG] listContent not exists"
Hi, my old Bolt 2 template use the listcontent() twig function and i run this error:

[code]

The listcontent Twig function has been declared in TwigExtension.php, but calling a non-existing function.

Details
-------

 - Relevant Bolt Version: 3.1
 - Install type: trying to update my Bolt 2 to Bolt 3 :)
 - PHP version: 7.0
 - Used webserver: Nginx 1.10.0

[2016-08-03 14:18] #5085 closed

[2016-08-03 14:18] bobdenotter commented on #5468
Fixed by #5610

[2016-08-03 14:18] #5468 closed

[2016-08-03 14:31] #5555 closed

[2016-08-03 16:06] rossriley commented on #5601
What's the consensus on approach here, as far as I can see we've always piped the key of a contenttype to slugify, (eg 2.2 branch - https://github.com/bolt/bolt/blob/release/2.2/src/Config.php#L407)

I think that the default for this is that underscores are replaced with hyphens, so if we have previously allowed underscores to slip through (or perhaps slugify has modified its default regexp along

[2016-08-03 17:20] SahAssar commented on #5601
:+1: for allowing underscores. We use them in so many places in our config keys and so on, so if I was new I'd assume I could use them in contenttype keys and slugs too.

[2016-08-03 17:25] GawainLynch commented on #5601
Agree with @SahAssar

Biggest problem is we need to kill the 1.2.1 BC problem with keys vs. slugs. v.s tablenames … that is really starting to hurt

[2016-08-03 20:16] SahAssar commented on #5628
Seems like it was removed in https://github.com/bolt/bolt/commit/66a21490ea9a38ee5a37e1cf2f9c44bfb99c6045

Can't find the PR though, just that commit... Still, it seems like it was just used for backend functions usually, and you shouldn't have to use it for any common frontend stuff...

Can I ask what you used it for?

[2016-08-03 21:44] gonoszcsiga commented on #5628
It was used in [Bolt 2] (https://github.com/bolt/bolt/blob/release/2.2/app/view/twig/editcontent/_relationships.twig#L31) and we still have this code, because we turn Bolt into webshop system and we hacked the admin as well.  Now I trying to upgrade Bolt 3 and saw this is not only old code error, but also the listContent() cleanup wasn't perfect.

[2016-08-03 21:46] SahAssar commented on #5628
Ah, in that case it should have been fixed now in #5634, thanks for bringing it to our attention!

[2016-08-03 21:46] #5628 closed

[2016-08-04 05:02] GawainLynch commented on #5504
On re-reflection, I am thinking the best approach here might be a (set of?) page(s) with advice on setting up your environment for:

  * Theme development
  * Extension development
  * Core development

[2016-08-04 06:37] GawainLynch commented on #5592
@SahAssar do you want to take lead on getting this one over?

[2016-08-04 06:40] bobdenotter commented on #5573
Fixed by #5635

[2016-08-04 06:41] #5573 closed

[2016-08-04 06:42] GawainLynch commented on #5562
Ping @rossriley (sorry, forgot when I assigned)

[2016-08-04 07:00] GawainLynch commented on #5541
OK, just tried on 3.0.11 and 3.1-dev and I can't reproduce this on either, I don't suppose you have a dev install you could try 3.0.11 on do you?

[2016-08-04 07:07] GawainLynch commented on #5465
@dantleech that listed regex & code path are in legacy, and the entity object take/use DataTime for said fields.

Does this address the request?

[2016-08-04 07:32] bobdenotter commented on #5625
Fixed by #5615

[2016-08-04 07:32] bobdenotter commented on #4629
Closed by #5615

[2016-08-04 07:32] #4629 closed

[2016-08-04 08:36] SahAssar opened #5636 "Relations seem to affect each other in odd ways"
Okay this one is a bit odd, so hang with me.  Tested on 3.0.11 and master.

To reproduce:

1. Setup a new bolt install.
2. Create user and log in.
3. Prefill the db with a bunch of records.
4. In the entries contenttype add a relation to entries, the relations block should look something like this:

[code]
5. Edit one of the entries with a higher id, like 4 or 5.
6. Set the entry relation to one o

[2016-08-04 09:19] GawainLynch commented on #5636
Ah … I think I know what this is!

[2016-08-04 12:49] dantleech commented on #5465
Yeah sure, wasn't sure there was a divide when I wrote this ticket, closing.

[2016-08-04 12:49] #5465 closed

[2016-08-04 12:50] GawainLynch commented on #5465
Zero stress, thanks :+1:

[2016-08-04 16:00] ToBe998 commented on #4499
This issue just went critical on me. It is currently not possible to use Bolt3 in any kind of cluster setup.
The memcache/redis/whatever options can not beused as the config is overridden and it allways uses filesystem sessions.
You also can not just share the sessions folder between servers as the code does not allowe the use of symlinks here.

Is there any news on this issue? This basically stop

[2016-08-04 16:04] GawainLynch commented on #4499
Erm, didn't your needed changes go into `release/3.1`?

[2016-08-04 16:07] ToBe998 commented on #4499
I didnt hear any news on the release plans for 3.1 so i assumed it's to planned in the next time?
If it is, that would be fine.

[2016-08-04 18:15] navelpluisje opened #5640 "[RFC] Sorting contenttypes"
When adding an integer field to the content type an name it sortorder it behaves like it does with the sortorder in taxonomies.
This has been tested in version 3.

[code]

This will result in:
<img width="674" alt="screen shot 2016-08-04 at 19 43 58" src="https://cloud.githubusercontent.com/assets/1625221/17413035/f65b669e-5a7f-11e6-9369-f0b642638e09.png">

The output thhough is not sorted (yet).

[2016-08-04 18:21] SahAssar commented on #5640
This was raised on slack btw, and I thought it would be nice to formalize and see how we could improve it.

[2016-08-05 08:20] SahAssar commented on #5541
@Jovinsson Do you perhaps have an incoming relation from another record to that record? Or another outbound relation from it? I'm tinkering with bidirectional relations right now, and there seems to have been some bugs about relations affecting each other in odd ways.

[2016-08-05 08:25] Jovinsson commented on #5541
@GawainLynch & @SahAssar - I'm not in the office but will check tomorrow when I'm back in. I've not updated as yet but will try that tomorrow.

Relationally those records can be related to multiple of each type (Technology >--< Templates) (not referring to twigs). I'll check all relations as well

[2016-08-05 10:55] #5596 closed

[2016-08-05 14:31] bobdenotter commented on #5091
Documented in https://github.com/bolt/docs/pull/462

[2016-08-05 14:31] #5091 closed

[2016-08-06 08:22] #5636 closed

[2016-08-06 08:23] GawainLynch commented on #5541
Fixed in #5641

[2016-08-06 08:23] #5541 closed

[2016-08-06 12:08] bobdenotter opened #5648 "The `checkFirstUser` is run on every page request in the backend, and it takes a significant amount of time."
On my machine, the `checkFirstUser` check takes a disproportionate amount of time.

I've changed, `/src/Controller/Backend/BackendBase.php`, around line 89 to this:

[code]

And the result was this:

![screenshot_2016-08-06_13_40_58](https://cloud.githubusercontent.com/assets/1833361/17456632/dcc2c528-5bde-11e6-91b2-c512f20681fa.png)

Around 57% of the request time!

I propose altering the check t

[2016-08-06 12:36] bobdenotter commented on #5648
closed by #5649

[2016-08-06 12:36] #5648 closed

[2016-08-06 15:40] zkchen310 commented on #5606
:shipit:

[2016-08-06 19:55] dantleech opened #5650 "Bolt session listener breaking functional tests"
I am testing a Bolt application using BrowserKit - which means that all the requests are in the same process.

The problem was that the cookies were not being persisted, after much digging the culprit was:

[code]

https://github.com/bolt/bolt/blob/release/3.0/src/Session/SessionListener.php#L52

This caused the session name to be appended to for each request, meaning that the session was named di

[2016-08-06 20:03] dantleech commented on #5650
Worked around with overriding the session options in the Application:

[code]

[2016-08-07 06:52] dantleech commented on #5650
But this means the session ID changes on each request made in the same process...

e.g.

[code]

Normally the listener only gets called once per process invocation, but when called multiple times it appends the hash to the existing session ID.

[2016-08-07 07:06] GawainLynch commented on #5650
OK, *that* is a bug … it should only get called once and set `bolt_session_abc123` which on everything I have control over **is** running correctly.

I'll try and reproduce (if someone doesn't get there first) … but is there anything "interesting" about your setup?

[2016-08-07 07:31] SahAssar opened #5652 "[Bug] Imagefield with attrib breaks repeaters"
Tested on 3.0.11 and master.

The image fields attribute fields do not seem to get the right name/key when the save is done. This does not happen on other fields that post multiple values like the geolocation field. The effect of this seems to be that only the last repeater in the set seems to be saved/shown on refresh.

Looking at the posted data in devtools shows the following for the repeater (

[2016-08-07 12:15] rossriley commented on #5652
Looks like it's time for my favourite activity, debugging js.

[2016-08-07 12:17] SahAssar commented on #5652
@rossriley I actually thought I'd have a look at this later today or tomorrow. So, if you want to take a look at the hydration on the frontend instead (if you have time), we can split the work that way.

[2016-08-07 14:51] dantleech commented on #5650
No, I don't think so, other than the fact that I am making multiple requests in the same process:

[code]

Feel free to assign to me if you don't have a burning desire to do this :)

[2016-08-07 15:25] GawainLynch commented on #5650
Go for it

ping @CarsonF

[2016-08-07 18:54] rossriley commented on #5652
cool, well the answer will be in the renumber method inside the `fieldRepeater.js` file. That's what turns the `#` into a properly indexd number.

[2016-08-07 21:01] CarsonF commented on #5650
Doh! Nice find @dantleech, PR away 👍

[2016-08-07 21:06] CarsonF commented on #5650
Probably just checking if the name already ends with the "realm" then don't append it again

[2016-08-08 14:54] ToBe998 commented on #4499
Just a small heads up, im still having session problems, btu they may not be related to this issue. While debugging however, i found out that `memcache` is supported now, but `memcached` has a small bug. The code returns the proper service for memcached, but uses the wrong Pimple identifier, leading to this error:

[code]

Nothing imported since memcach "should" be a good substitute, but still may

[2016-08-09 08:09] ToBe998 opened #5658 "[Bug] Memcache Session Management broken"
The session management in Bolt 3+ currently has a design flaw that breaks sessions in a couple of situations.

Bolt has it's own session management that reads and writes directly to session storage and is not using the PHP native session storage like other applications (including silex and sf2 apps do). This leads to trouble when paired with the ability of Bolts SessionServiceProvider to parse and

[2016-08-09 08:11] GawainLynch commented on #5658
ping @CarsonF

[2016-08-09 08:17] ToBe998 commented on #5658
Its not a Memcache problem but affects all session handlers. It's just less common for them to generate conflicting storage targets. So, you really should solve is in general and not just for memcache.

[2016-08-09 08:19] GawainLynch commented on #5658
Yes, but session handling for normal, and Redis works … so calling all broken is a dramatic stretch :wink:

[2016-08-09 08:22] ToBe998 commented on #5658
No, it sadly does not work. It is actually just luck that those do not generate conflicting session targets. They still have two session handlers running in parallel.

[2016-08-09 12:51] CarsonF commented on #5658
Why are you using native session functions? It was never intended to work side by side with native code.

[2016-08-09 13:09] ToBe998 commented on #5658
No, i am not using any native code. It's pure Bolt. But PHP of course still has it's own session handler, if you use it or not.

Bolt is adding it's own session handling mechanism instead of utilizing the PHP method for custom session handlers. At the same time the native session handling is not stopped, leading to conflicts.

**In completely other news**
I also noticed that the Memcache class see

[2016-08-09 13:38] ToBe998 commented on #5658
Didnt test this, but if we add the following block to your `SessionServiceProvider->registerMemcacheHandler`, it should make memcachd work again, right?

[code]

[2016-08-09 14:45] CarsonF commented on #5658
Yes you are right about memcached missing it's factory, that's a major derp. I'm about to PR that now. Although I can't test either since I don't have the extension installed.

Sorry, you confused me by using "native". I'm still confused by "native session handling is not stopped". Are you registering Silex's SessionServiceProvider or something?

[2016-08-09 15:04] CarsonF commented on #5650
@dantleech Hope you don't mind, I was in there anyways :)

[2016-08-09 15:18] #5650 closed

[2016-08-09 15:52] ToBe998 commented on #5658
Cool, thanks for the memcached fix.

Regarding the session stuffz... I could not find the command `session_set_save_handler ` in any part of Bolts session management. So i assume that Bolt reads/writes it's session stuff completely on its own and into a storage that is parsed from PHPs session settings (the `session.options.import_from_ini` parameter). This is working fine on its own.

Now there i

[2016-08-09 15:55] CarsonF commented on #5658
Yes that makes sense. Let's move this to slack anyways for speed :)

[2016-08-09 17:20] dantleech commented on #5650
Absolutely not! Thanks :)

On Tue, Aug 09, 2016 at 08:04:52AM -0700, Carson Full wrote:

[2016-08-09 19:33] SahAssar commented on #5595
Closed/fixed in #5604

[2016-08-09 19:33] #5595 closed

[2016-08-09 20:05] SahAssar commented on #5333
Isn't the `.bolt.yml` one of those files that are pretty much required/expected to be there in any deployment? Unless it's a git install (which is not recommended) it'll be there, right?

[2016-08-09 20:13] SahAssar commented on #5289
Per the comments in #5272, having a working test case would probably help, could you possibly provide that in that PR? Thanks!

[2016-08-09 20:17] SahAssar commented on #5247
For now, the confirm dialog seems enough, If anyone wants to PR a flash message for it I'm pretty sure it'd be welcome :)

[2016-08-09 20:17] #5247 closed

[2016-08-09 20:20] SahAssar commented on #5161
@PhillippOhlandt Still an issue or not?

[2016-08-09 20:26] SahAssar commented on #5010
Just mentioning it here, but adding flash messages to JS actions was kinda-sorta-a-bit touched on in today's dev meeting in the context of errors. It'd probably have the same kind of solution as this ("soft" notifications show based on JS/ajax actions).

[2016-08-09 20:27] SahAssar commented on #4921
@GawainLynch Did any of you exception handling touch this?

[2016-08-09 20:31] SahAssar commented on #4760
Right, while I agree that this might be a usable feature, it does not seem to be either critical or have anyone working on it. I'm going to close this , and if there is interest and work on it please reopen! :)

[2016-08-09 20:31] #4760 closed

[2016-08-09 20:34] SahAssar commented on #4302
@bobdenotter: Is this something we still plan for a 3,2? Or later?

[2016-08-09 20:38] SahAssar commented on #5606
Sounds good to me, @Boorj can you PR that? The second option of `sanitize(slugify($image_name))` looks best to me.

[2016-08-09 20:48] SahAssar commented on #5579
I'm sorry if this sounds off, but when migrating a 2.2 to a 3.0 wouldn't one be expected to read the migration guide that is provided? It's not ideal at all that it throws a WSOD (which as I understand it does?), but this is still loading an incompatible extension on an incompatible bolt version, right?

If one has local extensions they are expected to know what/how to debug and to check the docs

[2016-08-09 21:01] rossriley commented on #5333
I think it would be preferable for `.bolt.yml` to be optional, now the install types all default to a `public` folder it would make sense to just modify the ResourceManager to default to `public/files` and the theme to `public/theme` etc, it may be the case that we can switch out the resources to default to the Configuration\Composer since as far as I'm aware, that's now the standard layout for in

[2016-08-09 21:27] SahAssar commented on #5504
Well, it's not just themes in the store... For most usual designers, theme developers and bolt users doing something like `{% if array.key %}` seems pretty normal, while that wouldn't work if that key didn't exist (with strict_variables). To me this definitely seems like either we should have stricter debug rules and not have debug on by default or that we need better docs.

[2016-08-10 05:54] GawainLynch commented on #4921
It does, but doesn't yet catch this one … PR inc!

[2016-08-10 06:01] GawainLynch commented on #5504
On this one, better docs … if sites start crashing when people are "kicking tires" it will look like it is Bolt's fault.

However, a developer should easily find out this setting is there and should be used when starting out.

[2016-08-10 06:13] dantleech commented on #5504
Well, if you enable strict by default then people will not be doing `array.key` as a test, they should be doing `array.key is defined` and nobody should be kicking tires.

My fear here is that by the time a developer finds this option they have already coded much of the site, and much of it actually has errors (as was the case with me).

A per-environment configuration would help here, as with Sym

[2016-08-10 06:37] bobdenotter commented on #4302
Nah, let's close this one for now. If somebody needs this, we can revisit.

[2016-08-10 07:42] ToBe998 commented on #5579
@SahAssar you are right, it's now mostly a documentation problem. (A less critical behaviour would be nice, but we can absolutly live with this). The documentation now contains specific instructions about exactly this issue, so for me this bug can be closed.

[2016-08-10 07:42] #5579 closed

[2016-08-10 08:34] SahAssar commented on #5652
This was actually an issue in all repeaters, not just templatefields

[2016-08-10 09:10] #5652 closed

[2016-08-10 09:19] PhillippOhlandt commented on #5161
@SahAssar yep, but it's the wrong way to setup Bolt anyway. It still complains about the missing folders.

[2016-08-10 11:17] bobdenotter opened #5666 "[bug] Still some z-index woes…"
See screenshot:

![screen shot 2016-08-10 at 13 16 08](https://cloud.githubusercontent.com/assets/1833361/17551849/b69070c8-5efc-11e6-8c45-970f7dfe148f.png)

[2016-08-10 11:32] bobdenotter commented on #5666
PEBCAK error. Nothing to see here.

[2016-08-10 11:32] #5666 closed

[2016-08-10 12:11] GawainLynch commented on #5579
FWIW… This commit d62cbe42a2b4e3a304a822d899b4c6def6620f73 will stop the white screens in this case, at the very least giving you information you can work with in fixing/solving this issue in the future.

[2016-08-10 14:13] GawainLynch commented on #4921
#5667 now behaves like this for this circumstance:
![image](https://cloud.githubusercontent.com/assets/1427081/17556867/4c156e92-5f15-11e6-9c8d-0cf22dc08034.png)

[2016-08-10 14:13] GawainLynch commented on #5579
In #5667

[2016-08-10 14:24] npanau opened #5668 "[BUG] Repeater do not load all its values"
I have a contenttype with a repeater field type. Its stores my 11 eleven blocs, but if I re-edit the content, it do not list them all back, so if I store, I loose some blocs.

Reproduction
------------
This repeater has 4 fields (bool, text, text, select), and a limit to 11 bloc.
The first time I created 11 blocs, evertything is fine : they are saved in database, and I can get these 11 blocs in tw

[2016-08-10 14:40] rossriley commented on #5668
Hi @npanau this was one that we came across and fixed here #5581 but it's not yet in a released version of Bolt.

It's a mysql setting that you can adjust too yourself though so if you are able to you can set group_concat_max_len either in global my.cnf or by running a `SET @@global` query.

[2016-08-10 14:58] bobdenotter commented on #4921
closed by #5667

[2016-08-10 14:58] #4921 closed

[2016-08-10 14:59] bobdenotter commented on #5579
Fixed in #5667.

[2016-08-10 15:04] bobdenotter commented on #5668
The fix will be in Bolt 3.0.12, which will be out _this week_. So if you can wait a little bit longer, the update will help you out.

[2016-08-10 15:28] npanau commented on #5668
Oh! I've searched but found nothing.
My purpose was mainly to help improve this great app :)
I close since it's resolved!
Thx & keep up the good work :)

[2016-08-10 15:28] #5668 closed

[2016-08-10 16:05] CarsonF commented on #5161
Yeah if you are creating a project you shouldn't need to have to create a composer.json and .bolt.yml first. The create command creates those files.

[2016-08-10 16:09] PhillippOhlandt commented on #5161
But it fails when the folders are missing instead of creating it. That's why you usually use bolt/composer-install because it has the folders.

[2016-08-10 16:11] CarsonF commented on #5161
Oh are you calling `create-project bolt/bolt`? Don't do that.

[2016-08-10 16:12] PhillippOhlandt commented on #5161
Yeah, it will start the config process but it fails when a folder is missing. Would be better when the folder will be created then.

[2016-08-10 16:14] CarsonF commented on #5161
Nope. Just should be avoided entirely.

[2016-08-10 16:30] GawainLynch commented on #5161
Agreed.

Also those docs were all heavily, if not completely, [rewritten](https://docs.bolt.cm/3.0/installation/composer/install-composer). So calling this closed.

[2016-08-10 16:30] #5161 closed

[2016-08-10 19:57] davidgorges commented on #4389
It's not in the cheat sheet, new docs url is https://docs.bolt.cm/3.0/templates/templatetags#thumbnail

[2016-08-11 12:24] WedgeSama opened #5671 "[BUG] Repeater not persisted for contenttype with some specific key"
In order to work properly, the `repeater` field has to be add to a `contentype` with a alphanum key.

For exemple, if the key of a content type is `mypage`, `repeater` values will be peristed in the database and it works as expected. But if you use `my_page`, all `repeater` of this contenttype will not by persisted.

Details
-------
- Tested on Bolt versions 3.0.11 and 3.0.12.

Reproduction
------

[2016-08-11 12:26] GawainLynch commented on #5671
:laughing:

Seriously though, I am 99.9% sure this is the same bug as #5601

[2016-08-11 12:47] WedgeSama commented on #5671
I dont think this is the same as #5601 (but the cause is maybe related). #5601 is about underscore in slug when using `relations`. Some errors are display to said somethink is not correct. Try the #5601 without the relation and you'll see its work like a charm.

My case is about `repeater` field. There is no error message (like #5601), just a success one for creation/edit success. It perfectly wor

[2016-08-11 12:50] GawainLynch commented on #5671
Yes, understood… I still think it is the same bug from Slugify being to aggressive on character transforms during the configuration stage that lead the storage layer to be looking for `foo-bar` and other areas using `foo_bar`

[2016-08-11 13:15] WedgeSama commented on #5671
Yes, my bad. After some more test, its seems to be the same problem. Just now, we know this bug impact also `repeater` fields.

My offer about adding a note to the documentation is still open, if you think its relevent.

[2016-08-11 13:38] ToBe998 opened #5673 "[BUG] Adding a tag with a slash crashes the content in backend and frontend"
It is currently possible to add a taxonomy of type tag that includes the `/` character to a contenttype in the editor. If the contentobject is then safed, bolt will crash whenever this contentobject would be displayed.
This includes the contentobject's view on the frontend, aggregations and the backend edit view.

The crash can only be resolved by deleting the value containing that evil character

[2016-08-11 16:36] q2apro commented on #234
Hi everyone, after ModX for years, I have tested many CMS over the last weeks and found Bolt CMS and Processwire the candidates to use for future projects. However, the missing multilingual part of Bolt makes it unusable since nearly every website I develop externally is multilingual.

To create multilingual sites I mostly go for the same slugs, e.g.

    - en
       - team
       - services
    -

[2016-08-11 16:42] madc commented on #234
Did you have a look at [bolt-translate](https://github.com/AnimalDesign/bolt-translate)? It's an extension to bolt that tackles this issue quite successfully, I'd say. Development is mostly done by @SahAssar and myself.
If you miss some features or encounter anything, feel free to post an issue.

[2016-08-11 17:03] bobdenotter commented on #234
The mentioned Translate extension coupled with [Labels](https://extensions.bolt.cm/view/bolt/labels) will solve most of your problems. :-)

[2016-08-11 18:40] cdowdy opened #5674 "[BUG] Buttons in custom field trigger save and return"
When you create a custom field with a button, clicking that button triggers the save event and returns to the record over view page.

Details
-------

 - Relevant Bolt Version: [ 3.0.12  ]
 - Install type: [  Composer install ]
 - PHP version: [ 7.0.9  ]
 - Used web server: [  Nginx 1.11.3  ]

Reproduction
------------

 1. **Bug summary**:
when you create a custom field that has a button and the

[2016-08-11 18:58] SahAssar commented on #5674
Sorry, but is this a button like `<button>Capture</button` or have you actually given it the type like `<button type="button">Capture</button`? Cause any button that does not have a specified type is treated like `<button type="submit">` if it is inside a form. The fact that clicking the button does not perform an ajaxy save for for you seems to support that you are only missing a `type` attribute

[2016-08-11 19:04] cdowdy commented on #5674
Well would you look at that I did not specify a type atrrib haha. When I get back to my comp I'll see if adding a type fixes it haha thanks @SahAssar

[2016-08-11 20:01] SahAssar commented on #5673
Righto, bug confirmed, a fix is incoming.

[2016-08-11 23:05] SahAssar commented on #5592
(just tagging, mostly for myself) This is sorta, kinda related to #4474, The fix should aim to fix both.

[2016-08-12 08:47] SahAssar opened #5676 "Select2 (omnisearch, tags, multiselects) broken in IE10 and 11"
The omnisearch is currently broken in IE10 and IE11, probably because of upstream issues in select2.

I didn't get too far in my testing yet, but reverting select2 to 4.0.0 fixes the issue, while 4.0.1, 4.0.2 and 4.0.3 all seem broken in IE.

Edge seems to still work though.

[2016-08-12 09:21] SahAssar commented on #5676
The tag fields and searching in categoryfields with multiple: true are also broken... so basically anything that does anything even mildly complex with select2.

[2016-08-12 13:30] cdowdy commented on #5674
well.. I'm gonna put away my dev hat for the time being haha. it was as @SahAssar mentioned the type attrib which I left off. Thanks!

[2016-08-12 13:30] #5674 closed

[2016-08-12 13:50] SahAssar commented on #5674
Haha, no stress, I only guessed it since I've made the same mistake myself many times :)

[2016-08-12 14:57] bobdenotter opened #5678 "Uploading a files in `themes/` seems to be broken."
Uploading a file here:

![screen shot 2016-08-12 at 16 55 31](https://cloud.githubusercontent.com/assets/1833361/17626483/b52c71e8-60ad-11e6-9ae9-42525a83b29d.png)

Gives this error:

![screen shot 2016-08-12 at 16 55 24](https://cloud.githubusercontent.com/assets/1833361/17626495/c15b405c-60ad-11e6-9182-8b0aadde6225.png)

[2016-08-12 15:24] bobdenotter commented on #5678
And while i'm digging around that part of the codebase, I might as well fix this visual niggle too:

![screen shot 2016-08-12 at 17 19 41](https://cloud.githubusercontent.com/assets/1833361/17627341/378efebe-60b1-11e6-95a8-a2f7859a0259.png)

[2016-08-12 15:26] GawainLynch commented on #5678
:lollipop: for some sorting on that mess :laughing:

[2016-08-13 07:06] #5678 closed

[2016-08-13 10:58] #5673 closed

[2016-08-13 12:20] chrissound opened #5682 "404 for Web IRC link"
In the readme in:

It's pointing here: https://github.com/bolt/bolt/blob/release/3.0/irc

[2016-08-13 13:11] bobdenotter commented on #5682
Link fixed! Thanks for pointing it out to us.

[2016-08-13 13:11] #5682 closed

[2016-08-14 09:23] fadoe commented on #5397
Can you describe this problem? Eventually I can help to fix it.

[2016-08-15 19:07] rogeriomarques opened #5685 "[bug] Certain backend jQuery uses broken on 3.1.0-beta2"
Using the stock imagelist field on 3.1.0-beta2, the backend UI for this kind of field may to be broken. Clicking "Select from server"does nothing, not even a popup.

JS console output:

`lib.js?30f21afc74:24 Uncaught The editor instance "html" is already attached to the provided element.`

[2016-08-15 19:07] GawainLynch opened #5686 "[Tracker] Bolt 3.2 Release Blocking Issues"
See also: https://github.com/bolt/bolt/milestone/20

## Open

### Feature PRs

- None

## Closed

- #3703 — ~~image aliases added~~ **[Fixed in bolt/bolt-thumbs/pull/29]**
- #5385 — ~~[BUG] `prefix:` not working correctly. (was: StorageException with fresh installation on Mysql)~~ **[Fixed in  #5716]**
- #5714 — ~~Templating for exception controller~~ **[Fixed in #5867]**
- #5733 — ~~"Publish on .

[2016-08-15 19:10] GawainLynch commented on #5685
Confirmed here.

Rolled back the jQuery constraint to `~2.4` ran `grunt updateLib` and the problem disappeared.

[2016-08-15 19:15] GawainLynch commented on #5685
Seems to also affect all jQuery handled buttons, and things like Select2 …

![image](https://cloud.githubusercontent.com/assets/1427081/17676125/4ac9f406-632d-11e6-8fe9-b69583591c5d.png)

Renaming this for incoming serch-i-ness :laughing:

[2016-08-15 19:45] rogeriomarques commented on #5685
This issue touches the db too.

Using a 3.0 generated db with records containing properly formed imagelist fields, editing any field of this record on 3.1.0-beta2 (say, the title) and saving the record messes up the original db imagelist field.

[2016-08-16 00:57] rogeriomarques commented on #5685
On further investigation...

After reading #5671, I noted that all my contenttypes had underscores in their names.

Renamed them all, sans underscores, just plain ascii, and suddenly everything works as expected.

[2016-08-16 05:43] bobdenotter commented on #5685
@GawainLynch Check, i'll roll back. Jquery to the latest 2.2.x version.

@rogeriomarques Seems like your issue is related to #5601 as well, rather than this one. It's on our list of things to tackle!

[2016-08-16 06:20] chrissound commented on #5488
I'm running into the same issue. Any ideas?

This is how I'm installing bolt:
[code]

[2016-08-16 07:49] nbehier commented on #5385
Hi, do you plan to resolve this prefix bug soon ?
It would be so great and enable me to have several bolt websites on the same MySQL database :-)

[2016-08-16 08:00] SahAssar commented on #5685
Fixed in #5687

[2016-08-16 08:00] #5685 closed

[2016-08-16 08:07] SahAssar commented on #5488
Hey @chrissound, this issue was specifically on try.bolt.cm, so I don't think it's the same issue that you're having. Could you verify that you actually have all the necessary files in the theme folder?

[2016-08-16 08:51] bobdenotter commented on #5574
Should we add #5385 to this list as well?

[2016-08-16 08:56] GawainLynch commented on #5574
No, that would be 3.2 or 3.3. It's been a problem for all of 3.x and is probably easier to catch with the upcoming config work.

[2016-08-16 09:38] bobdenotter commented on #5574
Ok, adding it to 3.2 for now. :-)

[2016-08-16 15:32] rlowry commented on #3734
@SahAssar sorry for late reply. I'm not sure when I'd be able to work on this further so wouldn't want to commit at this time. Happy for anyone else to take this forward. My hack is a quick and dirty solution and would not be suitable for a number of use cases.

[2016-08-16 16:04] bobdenotter commented on #5676
Should we perhaps revert to Select2 4.0.0 for 3.1 and 3.0.x for now?

[2016-08-16 16:12] SahAssar commented on #5676
@bobdenotter we talked about that in IRC, but that might introduce other issues since a large number of issues were fixed between 4.0.0 and 4.0.3... In my testing it didn't, but we'd need a more serious cross-browser test to know for sure.

[2016-08-17 08:24] ToBe998 commented on #5658
Sadly got some more updates on the issue. The new memcache/memcached factories work in theory, but there still are some showstoppers:

the PHP Extensions Memcache and Memcached use different notations for their server path#s.
- Memcache: `tcp://1.2.3.4:11211?query=options,tcp://1.2.3.4:11211?query=options`
- Memcachd: `1.2.3.4:11211,1.2.3.4:11211`

Now Bolt uses the URI parser from Symfony `Guzzle

[2016-08-17 08:52] ToBe998 commented on #5658
As all of the other session handlers already have their own Bolt classes and only memcache and memcached do not have those. Would it be an option for me to just create those myself?

I could solve the "different save_path" syntax there myself and just replace the current `registerMemcacheHandler` inside the `SessionServiceProvider` with something that is more similar to the `registerFilesystemHand

[2016-08-17 10:20] GawainLynch commented on #5658
Potentially… thoughts @CarsonF ?

[2016-08-17 12:34] GawainLynch opened #5690 "New exception handling templates need UI love"
![image](https://cloud.githubusercontent.com/assets/1427081/17736355/a902718c-6487-11e6-87a1-cd1f5c77c320.png)

[2016-08-17 12:56] ToBe998 commented on #5658
How about something like this?
https://github.com/bolt/bolt/compare/master...ToBe998:master

[2016-08-17 13:02] GawainLynch commented on #5658
The idea looks good… less in the SP the better.

[2016-08-17 13:16] CarsonF commented on #5658
Nope that's way more work than necessary. Just need to default the scheme in parseConnections

[2016-08-17 13:40] ToBe998 commented on #5658
Ok, as dicussed on Slack. I think keeping the connection parsing inside separated handlers would be a cleaner idea, but i can live with whatever works. In summary, i'll try setting memcached inside the config_local.yml

This is what i tried (untedted yet, I'll update as soon as i had time):
[code]

[2016-08-17 15:33] CarsonF commented on #5658
You'll want to be sure to specify the handler. Also, port is optional and defaulted to 11211 (for memecache)

[code]

[2016-08-17 16:20] ToBe998 commented on #5658
Looking good. Thorough test tomorrow.

[2016-08-17 17:10] gonoszcsiga opened #5692 "[BUG] StorageEvents::POST_HYDRATE logic error"
Hi, if you subscribe a ```StorageEvents::POST_HYDRATE``` event,  the entity object maybe appear in two difference places.

When create() executed, it's in the ```$arguments``` variable:
https://github.com/bolt/bolt/blob/release/3.1/src/Storage/Repository.php#L61
but when hydrate() runs, it's in the ```$subject``` variable:
https://github.com/bolt/bolt/blob/release/3.1/src/Storage/Repository.php#L4

[2016-08-19 11:58] gander opened #5694 "[BUG] nut copied instead symlinked"
`vendor/bolt/bolt/app/nut` is copied into `vendor/bin` and `app` instead symlinked, so trying to run `nut` results by exception:
`Fatal error: require(): Failed opening required '/www/bolt.dev/app/bootstrap.php' (include_path='.:/usr/local/lib/php') in /www/bolt.dev/app/nut on line 14`

`app/bootstrap.php` exists only in `vendor/bolt/bolt/app`.

Details
-------

 - Relevant Bolt Version: 3.0.12
 -

[2016-08-19 12:04] bobdenotter commented on #5694
Which OS / Filesystem is this on?

[2016-08-19 12:06] GawainLynch commented on #5694
@bobdenotter it is the zip file …` tar.gz` is fine

[2016-08-19 12:08] bobdenotter commented on #5694
Maybe it's because `.zip` doesn't really support symlinks?

[2016-08-19 12:17] GawainLynch commented on #5694
This works for me https://github.com/bolt/bolt-distribution/commit/35bd3305e704730bfcfcee516c50fe57465df4d8

[2016-08-19 12:24] bobdenotter commented on #5694
That looks sensible. 👍

[2016-08-19 12:30] bobdenotter opened #5695 "Login seems to be case-sensitive"
Details
-------

 - Relevant Bolt Version: [ 3.0.12 ]

Reproduction
------------

 - Use an admin user to create a new user 'test', with a straightforward password.
 - Open an incognito window, go to the log in page
 - Try loggin on with user 'Test' (note the capital 'T') and the chosen password.
 - See the `Your account is disabled. Sorry about that.` notice.

See screenshot:

![screen_shot_2016-

[2016-08-19 12:30] GawainLynch commented on #5695
IMHO it should be.

[2016-08-19 12:52] bobdenotter commented on #5695
No, it very much shouldn't be case-sensitive. It'll cause _so_ much headaches for people on mobile platforms. In the 'Username' input browsers tend to be 'helpful', and won't allow you to type 'mike' instead of 'Mike'. If only 'mike' would be accepted, logging in becomes very, very cumbersome.

Also, It's been case insensitive on purpose for years, so i think this should be treated as a regression

[2016-08-19 13:01] gander commented on #5694
OS: Ubuntu 16.04

[2016-08-19 13:41] bobdenotter commented on #5695
Another thing that's inconsistent right now, it that if you create a user 'Mike' right now, it'll be stored in the db as 'mike', meaning you _have_ to log in with 'mike', and you can't log in with 'Mike'.

[2016-08-19 13:47] GawainLynch commented on #5695
Given it has behaved this way for the last year, I would call it **not** a regression, rather a break between major versions :smile:

Well, the database value should be consistent with a standard, i.e. if you compare lower, store lower.

[2016-08-19 13:49] bobdenotter commented on #5695
Agreed, and that is exactly what I want to achieve, because that's not the case right now.

[2016-08-19 13:56] bobdenotter commented on #5695
Oh, and finally: The message 'Your account is disabled. Sorry about that.' is wrong, because that's not the case. It happens when you use the wrong case. :-)

[2016-08-19 14:18] ToBe998 commented on #5695
You should always only get a very generic login failed message. The same for every possible cause. If you give more info on the real cause, like "your password was wrong" or "your username was not found", you would introduce a security leak.

Good authentication pages never give any more details other than "Username or password was wrong". The only possible exception could be if username and passw

[2016-08-19 14:22] bobdenotter commented on #5695
That is exactly what we have. ;-)

[2016-08-19 14:27] ToBe998 commented on #5695
oh, i thought the current mechanic, currently being case sensitive, resolves the described issue as a username not found. Just ignore me if not.

[2016-08-20 05:58] GawainLynch commented on #5695
That is the one that we've always defaulted to as the "catch all" … if we check for case or not it is irrelevant. If they system doesn't find the user name (due to case, or otherwise) it should act as if it was there, otherwise we have a serious information leak.

[2016-08-20 08:15] bobdenotter commented on #5695
I think that the "Username or password not correct. Please check your input." would be more appropriate there.. I've made a tiny PR for this, open to criticism: #5697

[2016-08-20 09:25] #5695 closed

[2016-08-21 17:49] chrissound opened #5699 "Exception being thrown on new installation Template "index.twig" is not defined."
I'm using the following bash script to deploy:
[code]

![2016-08-21-18 49 04](https://cloud.githubusercontent.com/assets/1499652/17838887/00fb6678-67d0-11e6-94e4-82ebe0e0f4ac.png)

[2016-08-21 18:07] GawainLynch commented on #5699
You're not copying over the dot files, only deleting them.

[2016-08-21 18:28] chrissound commented on #5699
Thank you! That has solved it!

[2016-08-21 18:28] #5699 closed

[2016-08-21 18:44] GawainLynch commented on #5699
Sounds very much like the kinda thing I do all the time, so the answer was close at hand :wink:

[2016-08-23 17:42] bobdenotter commented on #5694
We'll release Bolt 3.1.0 tonight, which comes with a fix for this. Closing. :-)

[2016-08-23 17:42] #5694 closed

[2016-08-23 18:11] #5574 closed

[2016-08-24 12:48] sibputnik opened #5703 "[BUG] Contenttype translation updates automatically any time"
Bolt uses auto-created translation for contenttypes in backend any time. When I go to "translation-contenttypes" I have newly created app/resources/translations/ru/contenttypes.ru.yml any time.
What I done:
- Set ru_Ru or Ru localce.
- Add new contenttypes.
- Update database

And now I can refresh contenttypes translatin page and have new generates translation each time. I can change contenttypes.

[2016-08-24 13:57] Boorj commented on #5010
If you want a 3rd party lib - i'm happy with http://notifyjs.com/
![2016-08-24_20-56-16](https://cloud.githubusercontent.com/assets/2145313/17933165/3baf7cc2-6a3d-11e6-9be6-802f87d3f776.png)

[2016-08-24 14:00] Boorj commented on #5010
It's still very hard to understand that something is saved. It can even be a little animation on button.
Or even - **if there's something unsaved - save button is green, otherwise - it's gray.**

[2016-08-24 14:01] Boorj commented on #5247
This one goes to some growls/notifications (again). Flash messages are for important, notifications - for not important.

[2016-08-24 14:02] Boorj commented on #5606
Not sure i can do it soon :sob: . But if i'm the only one for that - assign me to the task.

[2016-08-24 14:03] Boorj commented on #4302
Is it implemented? or other way to do that?

[2016-08-25 07:19] bintoro opened #5705 "[BUG] Checkboxes revert to 0 on v3.1.0"
After upgrading to v3.1.0 (manually, from a zipfile), checkboxes on page records are saved as 0 even when they are checked.

I looked at the DOM node of a checkbox, and it does show `checked: true` and `value: "1"` before saving. I'm using SQLite as the storage backend.

Can anyone else reproduce this?

[2016-08-25 08:30] PhillippOhlandt opened #5706 "[BUG] Clicking the Preview button leads to duplicated entries (sometimes)"
Sometimes the Preview button acts a bit weird. Right now, when I was writing a new newsitem for bolt.cm, the Preview button (sometimes) opened the newsitem listing in the backend with the successfully saved message. Clicking the Preview button again led me to the preview page.

After I finished the newsitem, the record was there multiple times with different states of the text.

I can't say how to

[2016-08-25 13:12] dhargitai opened #5707 "[BUG] Incorrect ownerid when no user is authenticated"
I tried to log some information of a POST request through the `logger.system` in one of my controllers.
When there is no user information in the session, the `ownerid` parameter is set to `''` (empty string) in src/Logger/Handler/SystemHandler.php:99
This is causing an exception when the PDOStatement tried to execute the insert query, because the table definition says that `ownerid` can be a valid

[2016-08-25 13:13] GawainLynch commented on #5707
What database engine are you running?

[2016-08-25 13:16] dhargitai commented on #5707
I'm using MySQL 5.7.13

Fix for the issue: https://github.com/dhargitai/bolt/pull/1

[2016-08-25 13:19] GawainLynch commented on #5707
Cool, just commented there too … you can PR it against here and we can review/merge/party :smile:

[2016-08-25 13:21] dhargitai commented on #5707
Thanks for pointing it out :)
https://github.com/bolt/bolt/pull/5708

[2016-08-26 07:57] Jovinsson opened #5709 "[BUG] Modifying ContentType to have Repeater Field produces error on existing records"
I found an issue whereby if you modify and existing ContentType to have a repeater field it will then cause the following errors to appear at the top of the dashboard when you open an existing record. Note: this does not happen for new records, OR, records that have been saved again after the modification:

`Warning: Invalid argument supplied for foreach() in C:\xampp\htdocs\bolt\vendor\bolt\bolt\

[2016-08-27 10:52] evertalbers commented on #4767
Is it possible to make the total '/contenttype/slug' url copy-able?

[2016-08-27 11:27] SahAssar commented on #4767
Perhaps something we should tackle at the same time/way as #2714...

[2016-08-27 19:45] joshuan opened #5713 "[BUG] Backend not save field when it named with "_""
Example, my contenttype.yml:
[code]

When i click "Save" in /bolt/editcontent/bs, bolt don't save act_id (set to NULL or default value), but normal save actid.

Details
-------
 - Relevant Bolt Version: 3.1
 - Install type: GitHub checkout
 - PHP version: 5.6
 - Used web server: Apache 2.4

[2016-08-28 06:53] GawainLynch commented on #5713
Duplicate of #5601 …

We're in the process of working though the problems to get it fixed, I'm going to close this as we're have 5601 as the tracking issue.

[2016-08-28 06:53] #5713 closed

[2016-08-29 05:31] bintoro commented on #4618
I'm seeing the compounding generator and canonical tags again in the current version of Bolt.

[2016-08-29 06:32] SahAssar commented on #4618
@bintoro You mean in 3.1.0?

[2016-08-29 14:46] ToBe998 commented on #3703
Any news on this? Cant find any RFC ticket for Bolt/Thumbs 3 and the 2.x ticket has been closed.

[2016-08-29 17:01] GawainLynch opened #5714 "[3.2] Templating for exception controller"
This can be rendered, and we're passing to much in to the renderer, so we need to clean up both the UI and the requirement on twig variables we don't use/want/need

![image](https://cloud.githubusercontent.com/assets/1427081/18059758/c2dfa128-6e1a-11e6-896c-8707c37f47ce.png)

[2016-08-29 21:25] CarsonF opened #5715 "[UI] File types arrow's position is messed up"
On 3.1
![screen shot 2016-08-29 at 4 24 01 pm](https://cloud.githubusercontent.com/assets/932566/18068038/1bdfb4ae-6e05-11e6-9de4-0793498087d2.png)

[2016-08-29 21:48] bintoro commented on #4618
@SahAssar I got started with 3.0.6/3.0.7 and then upgraded to 3.1.0. I remember noticing the compounding already on 3.0.7 but didn't think much of it at the time. It was only now that I realized it happens all the time with caching enabled, and this is on 3.1.0.

[2016-08-29 22:06] bintoro commented on #5705
Downgrading to 3.0.12 resolves the issue; reinstalling 3.1.0 introduces it again.

[2016-08-30 06:10] GawainLynch commented on #5715
@bobdenotter this looks like the job for super :hamster:

[2016-08-30 06:20] GawainLynch commented on #4618
The request caching layer has been replaced in what will be v3.2 (`release/3.2`) and given available resources I honestly can't see it getting fixed in the old layer.

If you're really serious about request caching though, I'd strongly recommend looking at Varnish.

[2016-08-30 06:26] GawainLynch commented on #5705
@SahAssar: you've chased this one around the garden before, any idea before one starts digging?

[2016-08-30 06:40] rossriley commented on #5403
Fixed in #5684 and shipped in the 3.1 release.

[2016-08-30 06:40] #5403 closed

[2016-08-30 07:56] #5692 closed

[2016-08-30 12:01] bintoro commented on #4618
Right, this is certainly not a priority for me.

[2016-08-30 17:27] bobdenotter opened #5719 ""ScriptHandler::installAssets" takes a _long_ time on sites with a large `public/files/` folder"
Bumped into this the other day: A site with a large `public/files/` folder (several dozen `.jpgs` of 4 - 6 mb each) takes a long time for the `ScriptHandler::installAssets` part of the install / update procedure.

Eventually it craps out on a random line in our EXIF library, seemingly indicating that the folder is crawled, while there's no apparent need for it.

Needs verification, though.
## Deta

[2016-08-30 17:31] CarsonF commented on #5719
I can look into this

[2016-08-30 17:33] bobdenotter opened #5720 ""Index.twig is not defined" or ".htaccess doesn't exist" when `.bolt.yml` is missing.."
This issue popped up a few times last week, mostly for people using the `.zip` file, and uploading files manually.

When the `.bolt.yml` file is left out, you get this error, that's unrelated at first. This happens often, because the file is 'hidden'.

We should eitheradd a gracefull fallback, or better error reporting for this, I think.
## Details
- Relevant Bolt Version: [ 3.1 ]
- Install type:

[2016-08-30 17:42] GawainLynch commented on #5719
Assigning to you then, @CarsonF if you can before "you know what" :wink:

[2016-08-30 17:56] nbehier commented on #5719
@CarsonF @GawainLynch What are you planning ? You're teasing us ! Not cool ;)

[2016-08-30 17:57] GawainLynch commented on #5719
Well, I am pretty sure I know why… so if @CarsonF doesn't have time this week, I'll get it next week when I am off the island. :smile:

[2016-08-30 17:59] CarsonF commented on #5719
@nbehier I'm getting married this weekend 💪  👫   🎉

I'll probably just point @GawainLynch to the problem if I find it so he can fix it lol

[2016-08-30 18:01] GawainLynch commented on #5719
The problem is :koala: :koala: :koala: :koala: :koala: :koala: :koala: :koala:

In other news, we now have drop bear emoji on Slack :laughing:

[2016-08-30 18:23] PhillippOhlandt commented on #5720
I think it's good to output something like "Could not find index.twig. Check your paths and make sure .bolt.yml exists."

[2016-08-30 18:42] nbehier commented on #5719
@CarsonF I don't want to say it too soon… but hope you'll have one of your best weekend ;-)

[2016-08-31 09:54] pbnPierre opened #5721 "[BUG] Time publish events have been removed"
I am working on bolt upgrade from 2,2 to 3,1 and i have this fatal error
Undefined class constant 'TIMED_PUBLISH'
Theses storage events have been removed ( probably in https://github.com/bolt/bolt/pull/2664 )
## Details
- Relevant Bolt Version: 3.1
- Install type: Composer install
- PHP version: 5.6
- Used web server: Apache

[2016-08-31 09:56] pbnPierre commented on #5721
They are still sended by
`
    private function timedHandleRecords($contenttypeSlug, $type)
    {
       ...
        try {
            foreach ($recordIds as $recordId) {
                $content = $this->getContent($contenttypeSlug . '/' . $recordId['id'], ['hydrate' => false, 'returnsingle' => true]);

                $event = new StorageEvent($content, ['contenttype' => $contenttypeSlug, 'creat

[2016-08-31 14:37] ToBe998 commented on #5588
Just found out twig caches compiled templates based on path and filename. So if you add a second version of the same template, you will run into conflicts with cached versions.

So in addition to above points, i also had to change the cache folder for the switched theme.
`$app["twig"]->setCache( $app["twig"]->getCache()."/myswitchedtheme" )`

[2016-08-31 20:15] rossriley opened #5724 "[BUG] [3.2 Branch] Disabling Apache Checks Ignored"
This is one that's crept in with the new config validation classes.

If you want to disable Apache checks we allowed this call before:
`$configuration->getVerifier()->disableApacheChecks();`

Reproduction
------------
​
Make any custom configuration, eg using `.bolt.php`, add the call `$configuration->getVerifier()->disableApacheChecks();`

Delete `public/.htaccess` and run Bolt as normal.

Follow

[2016-08-31 23:32] helman opened #5725 "[BUG] Can't extends Bolt\Application using .bolt.yml file"
As a developer, extending the basic class is required in some cases, especially when the application has certain way to overwrite the class.

In my case, I'm trying to change the Bolt session to write it to memcached instead of filesystem.
Bolt offer the way to overwrite the Application class by `.bolt.yml` or `.bolt.php` file.

Application is working when the `.bolt.php` is returning `$config['ap

[2016-09-01 12:04] #5725 closed

[2016-09-01 20:46] SahAssar opened #5727 "Translation cache not cleared when installing extension with translations"
This only affects 3.1+ (inclusive). When installing a new extension which contains translations the cache for translations is not cleared. I have verified this myself and it was also seen by @eduardomart in bacbos/bolt-menu-editor#35.

Preferably any cache that an extension can/will change (all of them?) will be cleared on install.

[2016-09-01 21:26] SahAssar commented on #5676
In my shallow testing everything seems to work when using 4.0.0 in IE 10 and 11. If we (ping @rarila) are okay with that solution as long as it does not break anything in other browsers I can test the rest and if it works perhaps we'll want to revert to 4.0.0 for now.

IE11 is about 4.2% usage, so it's not a disaster, but still something worth fixing.

[2016-09-01 21:31] SahAssar commented on #5676
Oh, and thanks to @Largo for finding this (he found it in bacbos/bolt-menu-editor#33)

[2016-09-01 21:40] SahAssar commented on #5705
@GawainLynch Well, sorta, but I'll need to dig some more before I'm sure. Last times in #4778 and #4997 it seems to have been a different problem, but lemme have a look tomorrow and I'll see what I see.

[2016-09-01 21:46] SahAssar commented on #3703
@ToBe998 Well, this is basically the place to discuss it (as opposed to an RFC in bolt/thumbs). AFAIK noone has started any serious work on it, but its one of those things that we want to get done sooner or later but that none has taken on in a real way.

[2016-09-01 21:57] SahAssar commented on #5727
Assigning to @GawainLynch since you were involved with the original PR and per https://github.com/bolt/bolt/wiki/%5BIssues-Process%5D-Assigned-issues-guidelines

[2016-09-01 22:13] SahAssar commented on #5707
Fixed in #5708, right? Closing, please feel free to reopen if I'm wrong!

[2016-09-01 22:13] #5707 closed

[2016-09-02 06:00] GawainLynch commented on #5727
I don't think this is fixable currently … hackable, but you would lose the point of having caching at all.

[2016-09-02 07:56] ToBe998 commented on #3703
Ok, i'll just add my 2cents to it then. And maybe i can find some time to do a PR somwhere...

In my oppinion, a simple solution is best here. We already have our own bolt package and adding many other symfony packages just for a simple filter is way to much cost for it.

So i would add some config maybe inside config.yml, maybe in it's own config file. You could then optionally **disable** the cu

[2016-09-02 18:15] SahAssar commented on #5727
@GawainLynch Isn't this fixable by clearing the cache on extension install?  Extension installation should be rare enough that it shouldn't screw up caching, no?

[2016-09-02 21:31] rarila commented on #5676
We only have to follow upstream so that we can bump again when it's fixed or when IE explodes and vanishes forever under heavy lighning. — whatever happens earlier.

[2016-09-03 14:43] GawainLynch commented on #5727
Well, there isn't "screwing up caching" as such, that would mean caching was broken itself. But dumping cache like that is the hacky crap that I'd like to avoid. We've invested a lot of effort in tearing broken design approaches out of core, needlessly putting one back in seems counter intuitive?

 ... also, I can all but guarantee 100% of the support calls on that "feature" would be people wonder

[2016-09-04 11:00] rossriley opened #5729 "[RFC] Don't use hidden files .bolt.yml and .bolt.php"
Since we've moved to this setup we've had quite a few issues with users' production deploys breaking because many ftp/sftp applications and indeed operating systems ignore hidden files.

Historically dotfiles are primarily used for storing user preferences or extra metadata that ideally don't disable the program in question by being wiped / not there whereas in our case these files specify a direc

[2016-09-04 11:27] PhillippOhlandt commented on #5729
I like the hidden file but I also see the problem. I suggest moving to `bolt.yml` and `bolt.php` but still fallback to `.bolt.*` for the people who like that.

[2016-09-04 16:30] gonoszcsiga commented on #5713
Hi, i think this is not a duplicate of #5601, try this:
Create an image field with foo_bar_baz name in any content type and try to save. You get this error:
```Integrity constraint violation: 1048 Column 'foo_bar_baz' cannot be null```

I debug this and found the bug in the MagicAttributeTrait.php: https://github.com/bolt/bolt/blob/release/3.1/src/Storage/Entity/MagicAttributeTrait.php#L52
Too man

[2016-09-04 20:49] SahAssar commented on #5724
Fixed in #5728

[2016-09-04 20:49] #5724 closed

[2016-09-04 21:00] SahAssar commented on #5727
Seems I misinterpreted "lose the point of having caching at all" :D

[2016-09-05 06:17] GawainLynch commented on #5713
Yeah, it is… the problem is just deeper than it looks. We're mutating in a few places, and do not have a clearly defined strategy that is applied to the mutations (leaving aside they should only ever happen in once place).

One of the reasons it hasn't been "hacked" to fix right now is that every time we try, it just cascades and breaks something else, so we're in the process of centralising confi

[2016-09-05 06:42] GawainLynch commented on #5727
Well, that is understandable. We've historically just dumped everything in the one spot, and typically only cached things like news feeds & Twig template compiles.

In current `release/3.2` we cache (based on configuration):
  * Translation calatogues (TranslationCeption #1555)
  * Loaded, normalised & validated application configuration
    * `config.yml`, `contenttypes.yml`, `extensions.yml`, `m

[2016-09-05 07:45] gonoszcsiga commented on #5713
@GawainLynch duplicate or not, it's critical, because the content saving is broken in these case.

[2016-09-05 07:49] GawainLynch commented on #5713
It isn't considered critical as it can safely be worked around … and the problem has existed in one form since Bolt 1.2.1 (released 13 September 2013).

[2016-09-05 07:59] GawainLynch commented on #5729
:-1:

That might work, but the place for them is probably `app/` IMHO (follow upstream's behaviour). However, the problem is two fold:
  1. This is where we define paths
  2. It needs to know where its paths are to find the path of the file that has the location of the files that knows where the files are to find the file that has the location of the …

The file itself is a compromise to allow pat

[2016-09-05 08:09] gonoszcsiga commented on #5713
@GawainLynch not exactly, try this in Bolt 3.0 then try in Bolt 3.1:

In Bolt 3.0 work properly, but failed in Bolt 3.1.

[2016-09-05 08:12] GawainLynch commented on #5713
To repeat my point … there is a deeper issue when one normalisation point is updated, it affects other and this problem has been bouncing around for over 2 years.

Sorry, but it is as simple as that.

[2016-09-05 08:14] GawainLynch commented on #5713
Also, you will probably find that the offending commit was introduced around 3.0.10 or 3.0.11 … that part of the code wasn't updated in the 3.1 branch. So the assertion isn't valid either way.

[2016-09-05 08:18] bobdenotter commented on #5720
This is the same issue as #5729

[2016-09-05 08:18] bobdenotter commented on #5729
This is the same issue as #5720

[2016-09-05 08:22] bobdenotter commented on #5729
I'd be in favor of this. With a 'fallback' to `.bolt.yml` for BC.

[2016-09-05 08:23] GawainLynch commented on #5729
Yes, but that will break installs for people who use tarball *and* have modified the file's contents

[2016-09-05 08:46] bobdenotter commented on #5729
Couldn't we circumvent that by letting `.bolt.yml` take priority over `bolt.yml`?

[2016-09-05 08:49] GawainLynch commented on #5729
Yes, until the stream of "why are my path broken" and "what do you mean my `index.twig` can't be found" due to the visible file **and** the hidden file being present, **and** the hidden file taking precedent.

[2016-09-05 08:51] GawainLynch commented on #5729
All I am pointing to is that one way breaks things for some people, another way breaks things for another group of people … and moving this file's location around is going to break it for the one group of people that struggle the most with these concepts.

[2016-09-05 09:06] rossriley commented on #5729
I might not have been so clear in the original message, what I meant was that we add the non dot versions of the files to the tests, so the same as now except we add..

    `elseif(file_exists($rootPath . '/bolt.yml')) {`

and

    `elseif (file_exists($rootPath . '/bolt.php')) {`

effectively supporting either dot file or non-dotfile version.

[2016-09-05 09:12] GawainLynch commented on #5729
:beers:

That works for me.

[2016-09-05 09:25] bobdenotter commented on #5729
Ok, works for me, but what are we going to put in the distro files? The 'non dotfile' version?

[2016-09-05 12:33] ToBe998 commented on #5658
There still are some rare session invalidation errors, but they dont seem to be related to this atm. So, many thanks!

[2016-09-05 12:33] #5658 closed

[2016-09-05 14:21] mikenosko opened #5730 "[BUG] having datefield as required in contenttypes produces 'Field "": ...' error message"
I've added a `required: true` to my date field and as there is a js to duplicate the input to allow for date picker it seems to loose the name of it and the error message at the top after submitting  displays as:

<img width="361" alt="screen shot 2016-09-05 at 15 10 27" src="https://cloud.githubusercontent.com/assets/49306/18250356/077b5ca4-737b-11e6-97e8-16c7be27a89b.png">
## Details
- Relevant

[2016-09-05 16:26] Boorj opened #5732 "[BUG] $resources->verify() doesn't show error warning"
I'm deploying new project, i haven't granted chmod to config folder.
Bolt doesn't show an error and crashes on `$resources->verify()` [this line](https://github.com/bolt/bolt/blob/release/3.1/app/bootstrap.php#L117) in `app\bootstrap.php`.
I thought it has to show some error.
Had to wrap it to try/catch to catch the error. Bug verification needed. If i'm doing something wrong - tell me please, and

[2016-09-05 16:29] GawainLynch commented on #5732
If you are getting that far, the exception object you're catching will contain the data you need to know.

[2016-09-05 17:22] Boorj commented on #5732
yes, of course, the problem was in not changed chmod for config folder. But shouldn't it be shown as message to user?

[2016-09-05 18:47] bobdenotter opened #5733 ""Publish on .." seems broken."
If you set a publication date on an entry, it gets wiped after publishing.

Details
-------

 - Relevant Bolt Version: [ master ]

Reproduction
------------

Set the publication date to something in the near future:

![screen shot 2016-09-05 at 20 40 44](https://cloud.githubusercontent.com/assets/1833361/18255441/ed283e1a-73a9-11e6-8789-7c1428f8a7bd.png)

Get an exception, when that future date ha

[2016-09-05 18:55] bobdenotter commented on #5733
Full(er) stack trace:

[code]

[2016-09-05 21:10] SahAssar commented on #5727
@GawainLynch Yeah, I was talking the "simple, stupid and overkill" approach in my thinking. But it seems to me that it will lead to some confusion for people since the ui (backend and frontend, right?) for extensions will seem broken until a cache clear, and if we can find a "smart" way to fix it it'd be awesome.

If it isn't fixable that's "workable" too, let me know and I'll write some warning i

[2016-09-06 05:55] GawainLynch commented on #5733
That is our caching messing up, we must be triggering something early still :disappointed:

[2016-09-06 06:00] GawainLynch commented on #5729
Yeah, well that goes back to the start … that file is generated, and for generated installs is should be hidden IMHO.

Catering to people who struggle with technical concepts is something we try to do, but there needs to be a line in between punishing everyone else's installation as a result, and just providing useful documentation.

[2016-09-06 06:06] GawainLynch commented on #5733
Being triggered [here](https://github.com/bolt/bolt/blob/release/3.2/src/Storage/Database/Connection.php#L76)

[2016-09-06 17:35] bobdenotter commented on #5715
removing "low hanging" label, because i spent to much f'ing time on this already. :-/

[2016-09-06 18:16] bobdenotter commented on #5705
I have not been able to reproduce it.. I've tried on Bolt 3.1.0, both MySQL as well as SQLite. See the short screencast:

http://recordit.co/OYvMaMr8wD

contenttype:

[code]

Can you give more info on what you're doing exactly?

[2016-09-06 19:42] bintoro commented on #5705
Turns out all my checkboxes have names like `hide_footer`, i.e., they contain an underscore, and that seems to be causing it. Using the `dummy` example but changing the field name to `check_b` causes the value to be reset on every save.

[2016-09-06 20:59] bobdenotter commented on #5705
Then this is related to #5601. We're working on it.

[2016-09-07 05:43] #5715 closed

[2016-09-07 08:26] bobdenotter commented on #3703
@ToBe998 Sounds like an excellent approach to me.

[2016-09-07 16:31] acidline opened #5741 "[BUG] Error With Slug on ContentType definition and underscore on fields definition"
It seems there is a bug with the content type definition in yml file.

 - Relevant Bolt Version: 3.1.0
 - Install type: Composer install
 - PHP version: 5.6
 - Used web server: Nginx

My Question / Bug [ I don't know ;) ]

What is the real relation between contenttype name definition and slug definition.
If I defined content type like this, I have 2 problems :

[code]

**First**, Bolt detect datab

[2016-09-07 16:38] bobdenotter commented on #5741
Hi @acidline, we're aware of this. See #5601 and the linked issues for relevant information.

In short: We're working on it, but it's more complex than it might seem at first glance. For now, please work around it by avoiding underscores.

[2016-09-07 16:38] #5741 closed

[2016-09-07 16:41] bobdenotter commented on #5741
About the other question: `slug` is supposed to be the "machine name". for use in URLs etc. So, either do:

[code]

or:

[code]

[2016-09-08 12:31] anketwokings opened #5742 "Magnific popup ignores Title and / or Alt tags"
Hi,
I used the magnific popup:

[code]

This outputs:

[code]

Note the **title attribute**. This is the filename.

But in my contenttypes I have an alt tag for this image:
[code]
I would expect the pop-up tag to either:
- be able to specify a field for the alt
- to automatically scan for an alt or a title tag, where title is preferable over alt.

TL;DR:
I want the title under the image in the mag

[2016-09-08 12:49] nbehier commented on #5742
I didn't test recently, but you could force the title with a fourth arguments : `{{record.image|popup(500, 500, 'r', 'My title') }}` or `{{record.image|popup(500, 500, 'r', record.values.image.title) }}`

[2016-09-08 12:52] anketwokings commented on #5742
You, dear sir, are absolutely right.

`{{record.image|popup(500, 500, 'r', record.values.image.title) }}` inserts the preferred alt tag where I want it.

I'll say this is more a documentation issue, and edit the docs for this.

Thank you!

[2016-09-08 12:55] anketwokings commented on #5742
Closing this because it was possible, all along. :)

[2016-09-08 12:55] #5742 closed

[2016-09-08 16:08] bobdenotter commented on #5690
Work in progress:

![screen shot 2016-09-08 at 18 07 27](https://cloud.githubusercontent.com/assets/1833361/18356932/26b29788-75ef-11e6-9a61-35eca1a2f2bf.png)

[2016-09-08 16:25] GawainLynch commented on #5690
McAwesome :+1:

[2016-09-08 17:07] GawainLynch opened #5743 "[3.1.x] Markdown rendering regression"
Noticed today by @PhillippOhlandt that bolt.cm wasn't rendering Markdown as HTML, rather just plain text MD source.

Reverting to 3.0.x-dev or earlier fixes problem.

Details
-------

 - Relevant Bolt Version: 3.1.0+
 - Install type: any

[2016-09-08 18:01] bobdenotter commented on #5743
This is prolly related to my changes in how filtering and sanitization is enforced since 3.1.0. Will look into it.

[2016-09-09 21:24] Maelstromeous opened #5746 "[BUG] With IP address paths, Chrome is causing Bolt to go into a login loop"
It appears there is some sort of incompatibility between Bolt and Chrome in certain scenarios. On both my local development machines, as well on a server at work, I'm unable to log into Bolt via Chrome.

However, using Firefox and IE are fine. They log in and operate normally.

Details
-------

 - Relevant Bolt Version: 3.0+
 - Install type: Composer install (without create-project)
 - PHP version

[2016-09-09 21:29] bobdenotter commented on #5746
Never seen this. Could you try using an incognito window, To rule out extensions like adblocker?

[2016-09-09 21:31] Maelstromeous commented on #5746
Tried it in incognito mode, cleared cache, cleared cookies, restarted the browser, nothing worked :-/

I wonder if it's something to do with CSRF tokens, I was told they're far more strict in webkit.

[2016-09-09 21:32] Maelstromeous commented on #5746
One way to repro this is to install Vagrant and use the scotchbox.io vagrantfile. That way you exactly have my setup.

Although at this point I won't rule out environment configs. I'm about to deploy my project on a proper web server, I'll feed back if it works on there.

[2016-09-09 21:51] Maelstromeous commented on #5746
It does seem to be fine on the live server.

[2016-09-10 06:41] GawainLynch commented on #5690
I am not seeing wrapping on the message, and the profiler is now failing to load on this route (not sure if related).

![image](https://cloud.githubusercontent.com/assets/1427081/18408516/2d30ac50-7732-11e6-9a09-dd6177111c34.png)

[2016-09-10 08:13] Boorj commented on #3703
+1 to that solution, but i also suggest use not only "c" or "r" aliases, but also support user-friendly names stretch, fit, fill, resize, crop.. as i mentioned in the first post.
Also, using watermarking and some image processing would be cool.

[2016-09-11 18:15] psychonaut opened #5749 "[BUG] Exception in populartags because of SQL query bug"
Details
-------

 - Relevant Bolt Version: 3.0.3 (but the same problem is on 3.1.1)
 - Install type: tarball
 - PHP version: 7.0
 - Used web server:Nginx 1.10
- PostgresSQL 9.5

(btw. you should probably add question for SQL backend to bug template :))

Reproduction
------------
Put <sitename>/async/populartags/tags?limit=40

Result:
[code]

Generated query and result:
[code]

Fix is trivial and s

[2016-09-12 19:31] bobdenotter opened #5752 "[RFC] Improving the installation procedure for Frontend Developers."
Currently, our install procedure has a few points that need significant improvements in order to be "workable" for Frontend developers.

There are too many steps where specific backend-knowledge is required in order to get stuff working. These will lead people to get confused, and bail. Below I've noted some "painpoints" i've seen people struggle with. You might agree or not, but these are real fi

[2016-09-12 19:46] GawainLynch commented on #5752
No, just no. We're about to completely gut them down to minimal anyway.

Any `nut` command should do. We load and boot the application, sadly, in the console application. That presently should trigger loading of the config.

[2016-09-12 19:52] bobdenotter commented on #5752
I like that idea. We could perhaps even make a `nut setup` command that does this and other things, and include it as the third step in the simple install procedure:

[code]

[2016-09-12 20:00] bobdenotter commented on #5743
I can't really reproduce this.. If I make a simple content type, like this:

[code]

Both of these will produce proper Markdown output:
[code]

What happens on bolt.cm, is because we're doing `{{ record|excerpt(600) }}`. As far as I know, 'excerpt' has never parsed markdown, right?

[2016-09-12 20:04] PhillippOhlandt commented on #5743
@bobdenotter do we really use the `excerpt()` function on the newsitem page? that doesn't make much sense.

[2016-09-12 20:05] PhillippOhlandt commented on #5743
And, it worked before, so something broke in the codebase.

[2016-09-12 20:06] GawainLynch commented on #5752
Oh, I mean that running any nut command *currently* has that effect … not sure if I can still read at this time of night.

One point that just popped back in my mind about the `.dist` thing, is that we want to try to funnel people to easy to find & navigate documentation sources that are "rich". They're really an application resource that we want to keep the ability to tweak as needed in its at-ha

[2016-09-12 20:10] bobdenotter commented on #5743
@PhillippOhlandt Yes. we use Excerpt. And I'm trying to thing how "excerpt" could've used correct HTML before. Are you 100% positive it did before? I don't see recent changes in that page:

https://github.com/bolt/site-v30/commits/master/public/theme/bolt-v300/news.twig

[2016-09-12 20:12] PhillippOhlandt commented on #5743
Thats the newsitem listing page. But also all newitems were broken and there we shouldn't use `excerpt()`.

[2016-09-12 20:13] PhillippOhlandt commented on #5743
https://github.com/bolt/site-v30/blob/master/public/theme/bolt-v300/record.twig#L29-L32

[2016-09-12 20:14] bobdenotter commented on #5752
Sounds good at first glance, but the composer people used to do something similar until recently, an have moved away from it. Don't know why though.

Yes, but this could easily be a `nut setup` as well, right? :-)

[2016-09-12 20:15] SahAssar commented on #5752
Question: Is it bad because they expected to use MySQL? Cause for a lot of frontenders I've talked to this has been a big plus for bolt.

[2016-09-12 20:15] bobdenotter commented on #5743
@PhillippOhlandt Euhm. What?

[2016-09-12 20:16] PhillippOhlandt commented on #5743
When Gawain updated the site to use the latest 3.1.x, all newsitems showed the raw markdown text.

[2016-09-12 20:17] bobdenotter commented on #5752
It's "unexpected", and therefore "bad". I wish I was making this up. :-/

[2016-09-12 20:19] bobdenotter commented on #5743
Oooooooh, right. I think i get it now.. currently in 3.1.0, you need to do `{{ record.foo|markdown }}`, but before it used to output markdown when just doing `{{ record.foo }}` if "foo" happened to be a markdown field.

[2016-09-12 20:21] PhillippOhlandt commented on #5743
Ah, that explained it. So it's more our fault because we went the lazy route and didn't use the proper filter?

[2016-09-12 20:25] SahAssar commented on #5752
Well, that feels like one of those marketing questions where we should headline it with "Database built in!" or whatever and have a tab that says "configure custom database" that writes the credentials input to the config.yml.

I seriously don't think most people want to use MySQL, but they get used to it being required by any CMS they try. But I might be wrong.

[2016-09-12 20:28] bobdenotter commented on #5752
@SahAssar I don't know what's "correct", but the problem lies in not providing the choice, as you say.. Thing is, you can't make any choices _before_ going to the 'first user' screen, currently. I'm leaning towards fixing that by incorporating a 'app/nut setup' step.

[2016-09-12 20:30] bobdenotter commented on #5743
@rossriley Can you help out, here? I can't find the place where this magic happens anymore.

[2016-09-12 21:26] SahAssar commented on #3703
@Boorj Watermarking and so on (other more advanced image processing) seems more like extension territory to me.

[2016-09-13 04:25] sibputnik commented on #5703
hey! Can anybody fix this?

[2016-09-13 06:25] GawainLynch commented on #5752
No, that's what they moved **to**.

The change they made was to not pipe the output of cURL directly into `php-cli` as it is a security nightmare.

So nut will magically be there?

No the point is these people are having trouble installing… because they don't know fundamentals that anyone should be across to work in a technical environment, but I digress.

So what I am proposing in that is a simpl

[2016-09-13 06:50] peterboorsma opened #5753 "[BUG] HTML deleted in textarea fields"
If yo use 'textarea' fields to store embedcodes and such (like I do often), Bolt 3.1.1 is now deleting that code from the field.

Reproduction:
Paste an embedcode (soundcloud, youtube, whatever) in a textarea field
Save the item
Refresh the item page
Aaaand... It's gone... :)

This used to work fine before updating to 3.1.1.

[2016-09-13 07:23] GawainLynch commented on #5753
Confirmed … we were having the same issue on bolt.cm when we updated that to 3.3.1 and definitely is unique to 3.1.x

[2016-09-13 09:16] rossriley commented on #5753
Is this related to #5611 I'd guess the embed tags would need to be added to the allowed list now for that content not to be cleaned.

[2016-09-13 09:23] GawainLynch commented on #5753
Yeah, that is what @bobdenotter was hinting at too … :watch:

[2016-09-13 11:29] Boorj commented on #3703
I agree, we're keeping the core neat. Will extensions be able to access those settings?

[2016-09-13 11:46] Boorj commented on #5606
..still busy, but remember :blush:

[2016-09-13 11:50] bobdenotter opened #5754 ""view on site" doesn't work from Dashboard."
It does work from the 'overview' pages, but not directly from the dashboard.

Screenshot:

![screen shot 2016-09-13 at 13 48 02](https://cloud.githubusercontent.com/assets/1833361/18472651/f13c51ca-79b8-11e6-9619-87200176e6e8.png)

Details
-------

 - Relevant Bolt Version: [ 3.1 ]

[2016-09-13 12:13] bobdenotter commented on #5743
One way to fix this, would be to re-introduce this code to `\Legacy\Content.php`:

[code]

(see #5611)

But, this is probably not the best way going forward.

[2016-09-13 12:41] bobdenotter commented on #5753
@peterboorsma Content gets passed through a filter now, for added security. Make sure the `iframe`, `width` and `height` are allowed..

in config.yml:

[code]

[2016-09-13 12:52] peterboorsma commented on #5753
Ah ok. :/ I add them to the htmlcleaner in config.yml

The fun thing is, it cleans up embedcodes now because it still deletes stuff like:
scrolling="no" frameborder="no"
(Because I didn't add scrolling, frameborder to the list).

Tnx!

[2016-09-13 12:59] bobdenotter commented on #5753
Thanks, I'm making a PR, and i'll include `frameborder` and `allowfullscreen`. What does `scrolling` do?

[2016-09-13 13:01] peterboorsma commented on #5753
'scrolling' is an oldskool tag, not useful anymore but still quite common in embed codes (like SOundcloud). (Now 'overflow'  in css)

[2016-09-13 13:41] bobdenotter commented on #5743
Note: What happened on bolt.cm was not related to this issue. That was #5601 instead.

[2016-09-13 14:19] #5754 closed

[2016-09-13 15:04] bobdenotter commented on #5749
Hi @psychonaut,

At first glance, your fix seems good. I'll make a PR, so we can test and merge in. 👍

[2016-09-13 15:12] bobdenotter commented on #5746
@Maelstromeous So, should we consider this a fluke and close it, until somebody else bumps into it again?

[2016-09-13 15:18] Maelstromeous commented on #5746
Not entirely sure to be frank, it's happened on multiple environments
across multiple machines, and I've only encountered such issues with Bolt.
When logging in does built do any external calls outside of the application?

On 13 Sep 2016 16:13, "Bob den Otter" <notifications@github.com> wrote:

[2016-09-13 15:32] xiaohutai opened #5759 "[BUG] Filebrowser breaks when folder has files with certain filenames"
With thanks to **suther** for reporting this on Slack.

Related thread on forums (no solution): https://discuss.bolt.cm/d/427-error-when-opened-theme-folder

Details
-------

 - Tested on Bolt Versions: 3.0.10 and 3.1.1
 - Install type: Composer install
 - PHP version: 5.6
 - Used web server: Apache

Reproduction
------------

 * When logged in the back-end, navigate to **File Management** -> **Vi

[2016-09-13 15:43] bobdenotter commented on #5746
That shouldn't be the case.

I'm not sure what to do about this, then.. I don't doubt you had an issue with this, but without a way to reproduce, it's not very "actionable" so far.

[2016-09-13 15:47] #5749 closed

[2016-09-13 16:24] Maelstromeous commented on #5746
Yeah I understand, I wouldn't blame you if you flagged it as unreproducible.

I can't think of ways to diagnose it I'm afraid, it only happens in Chrome,
and only in certain circumstances. It's not a VM thing, as it's doing the
same on my work's staging server, which is a full blown linux box. It's
very hard to track down.

For now the workaround is simply to use Firefox, but still, it's something

[2016-09-13 19:00] SahAssar commented on #5746
Perhaps I'm stating the obvious, but if you check/dump app['request'] for the login post, do you see any differences between FF and chrome? What are the cookie settings in your config.yml?

[2016-09-13 19:04] SahAssar commented on #5743
Quick question: Wouldn't this lead to any theme that "adapted to the new way" would double-parse the markdown?

[2016-09-13 19:09] SahAssar commented on #3703
@Boorj Well, I guess that depends on how it's written... But IIRC in Bolt 3.2 it should be possible (but I don't know for sure at all).

[2016-09-13 19:48] bobdenotter commented on #5743
@SahAssar Yes, but if they've changed their template this quickly without problems, I'm sure they'll be able to revert that. (I'd think)

[2016-09-13 19:53] CarsonF commented on #5759
The problem is ResourceManager doesn't have a `themes` url.

Even though it was referenced (indirectly) like this:
[code]

The `url` method calls `$app['resources']->getUrl('themes')`, but nothing was there.

[2016-09-13 19:56] CarsonF commented on #5743
Yeah I'm wondering if this would double parse too...

[2016-09-13 20:01] bobdenotter commented on #5743
It will, but only if somebody themselves added `{{ record.markdownfield|markdown() }}` to the template.

There's really no good way to check for that, so they'll just have to revert that. I think the impact will be low though, because it's not like any actual data is lost.
So far, we've bumped into it on bolt.cm, and had no reports from other people about it.

[2016-09-13 20:04] CarsonF commented on #5743
Is there a way that the markdown filter could check for markdown source and otherwise pass through?

[2016-09-13 20:05] bobdenotter commented on #5743
Not in a foolproof way. We could "guess" if something is markdown, by checking for HTML tags, but even valid markdown might have embedded tags. So, no.

[2016-09-13 20:17] CarsonF commented on #5743
Maybe we could wrap the rendered markdown content in a class with a `__toString` method?

[2016-09-13 20:23] bobdenotter commented on #5743
That's not unlike what Ross suggested we do in the (near) future. For right now we should just fix the bug we introduced in 3.1.0, and be done with it, imho.

[2016-09-13 20:25] CarsonF commented on #5743
Bokay. I'm not looped in enough to know if would be BC break. 🙊 😶

[2016-09-13 20:35] #5759 closed

[2016-09-13 21:28] Maelstromeous commented on #5746
Will check tomorrow at work so I can get you the environments I was getting the issue in.

[2016-09-14 09:43] #5753 closed

[2016-09-14 09:45] #5743 closed

[2016-09-14 12:19] Senne opened #5765 "[BUG] Renaming properties in a repeater in templatefields yields error"
Renaming or removing a property in a repeater in templatefields in theme.yml after you've added content to it produces the following error in the CMS:

## Details
- Relevant Bolt Version: 3.1.0
- Install type: Zip/tarball install
- PHP version: 5.6.10
- Used web server: Apache
## Reproduction

Step 1:  Add this to theme.yml

[code]

Step 2:  Fill in the title in the CMS and save it

Step 3:  Renam

[2016-09-14 14:01] ToBe998 commented on #3703
https://github.com/bolt/bolt-thumbs/pull/29

[2016-09-14 15:18] anketwokings opened #5767 "RFC - Suggestion - No feedback when saving goes wrong in fullscreen editor mode"
**Situation:**
When editing an page, and something might go wrong when saving, i get a visual clue.
I can check under the 'Save' button. When it says "last saved 1 hour ago", but I saved 3 minutes ago, I have a clue that something might have gone wrong, and I have to quickly copy-paste my stuff and log in again.

Don't ask me why, but there is one site where sometimes sessions expire or so. And th

[2016-09-14 15:31] GawainLynch commented on #5767
I was so tempted to update the title to

[2016-09-14 15:32] ToBe998 commented on #3703
Bolt PR for this is here to now.

[2016-09-15 13:02] Maelstromeous commented on #5746
Upon investigation in tandem with @SahAssar, we've come to the conclusion that Chrome's policy on cookie storage for IP based paths is causing this issue.

Basically, Bolt is rightfully assigning a session and a cookie to the user, however on Chrome's end, that cookie is being discarded, therefore causing Bolt to redirect the user to the login page, and cause a loop.

Tested this by using both a v

[2016-09-15 15:49] Maelstromeous commented on #4895
This also happens for image uploads where the server directory could not be made.

[2016-09-16 07:26] denis-gorin opened #5776 "[BUG] Bolt 3.2 - depublish date kill entry"
[BUG]

Set future depublish date cause entry data loss

[shot1](http://screencast.com/t/ZzixOWP6)
[shot2](http://screencast.com/t/7MqBnRc9Y)

Details
-------

 - Relevant Bolt Version: [ 3.2.0 alpha 1 ]
 - Install type: [ Composer install ]
 - PHP version: [ 5.6 ]
 - Used web server: [ Apache | Nginx ] version [  Apache/2.2.22 | nginx/1.11.1 ]

[2016-09-16 07:59] dadaxr commented on #3385
Just giving my 2 cents to say I totally agree with @svivian about the

he mentions.

I have to finish some stuff in the next weeks but i'll try to have a look on that part :)

[2016-09-16 08:08] GawainLynch commented on #3385
@dadaxr yeah, all parties in this conversation would be happy with some movement on this… I'm not sure if it bugs @svivian or me the most :laughing:

I am offline next week, but after that feel free to ping me for help/direction!

[2016-09-16 08:14] GawainLynch opened #5777 "Regression in wrapping of exception message"
![image](https://cloud.githubusercontent.com/assets/1427081/18579449/fb874092-7bf5-11e6-93c6-46c83affd82a.png)

In the above example, I can't even get the end of the exception and it is therefore a 100% useless page, unless we add a :beer: tap of course :wink:

[2016-09-16 08:16] GawainLynch commented on #5776
Thanks!

This is the same (root) problem as #5733 as we're tracking that there. Please subscribe to that issue for updates :+1:

[2016-09-16 08:16] #5776 closed

[2016-09-16 08:21] GawainLynch commented on #5777
The `<code>` block needs CSS equivalent to (pseudo):

[code]

[2016-09-16 08:36] GawainLynch opened #5778 "[3.2] Strict variable error editing content"
![image](https://cloud.githubusercontent.com/assets/1427081/18579982/383415a8-7bf9-11e6-994b-10dae2538190.png)

What probably needs to be understood is the "why" for this coming up

[2016-09-16 13:50] nlemoine opened #5779 "[BUG] - Records indexes"
Records indexes take id as key.

Details
-------

 - Relevant Bolt Version: [ 3.0 | master ]
 - Install type: [ Composer install ]
 - PHP version: [ 5.4 | 5.5 | 5.6 | 7.0 ]
 - Used web server: [ Apache ] version [ 2.4 ]

Reproduction
------------
​
 1. **Bug summary**:
    Records indexes are using ids as keys.
 2. **Specifics**:

![capture d ecran 2016-09-16 a 15 44 55](https://cloud.githubuserco

[2016-09-16 13:57] bobdenotter commented on #5779
It took me a long time to get it the way it is right now. ;-)

Imho the preferred behaviour is the way it is right now. If you want to have it 0-indexed, this might work: `{% set content = []|array_merge(content) %}`.

[2016-09-16 15:34] nlemoine commented on #5779
I guess we'll have to disagree on that point ;) Just by curiosity, what was the purpose behind this? As mentionned above, IDs are already part of record objects and it feels more natural to me to get 0-indexed array when retrieving a collection of records.

That's what I did but that's a bit a shame to add this extra code to achieve this.

[2016-09-16 15:34] #5779 closed

[2016-09-16 15:37] bobdenotter commented on #5779
I like this syntax: `{% for id, record in records %} {{ id }} … `

It's just syntactic sugar, but it looks neat.

[2016-09-16 16:58] jemont opened #5781 "ckeditor image alt atribute"
​​the alt attribute in the image tag of ckeditor is not retained.
it worked on 3.0.12. but on 3.1.0 and above it gets stripped. downgrading to 3.0.12 is working again.
no error message.
i have tried with allowedContent but it doesn't fixed it

[2016-09-16 17:03] GawainLynch commented on #5781
@bobdenotter assigning to you, as I presume this is more tweaks needed for the sanitisation.

[2016-09-16 21:15] bobdenotter commented on #5781
@jemont Make sure you have `alt` listed in `allowed_attributes` in your config.yml file : https://github.com/bolt/bolt/blob/release/3.1/app/config/config.yml.dist#L212

We'll fix this in core for the next release.

[2016-09-16 21:27] eduardomart opened #5783 "[BUG] Info option not working for Repeater fields"
Seen by @marcingajda in Bolt 3.0.11
Confirmed by me, still an issue in Bolt 3.1.2

Here's the sample repeater in my ContentType:
`        myreps:
            type: repeater
            fields:
                repeatingitem:
                    type: text
                    info: some info here
`
You will see the (i) icon next to the repeater field, but when you hover over it, it only displays a q

[2016-09-17 07:39] #5781 closed

[2016-09-17 14:16] tbondois opened #5784 "[BUG] can't login to backoffice on new domain (only the first domain works)"
Hi,

I first install bolt on my server with a temporary subdomain on mine. Everything was working.
Then I linked another  domain on my server, updated the nginx site configuration.
So everything in frontoffice works fine, but i can login in backoffice only with my first url (/bolt)
When I try to log in since the second domain, /bolt/login redirect me in loop to /bolt/login . Without error message.

[2016-09-17 14:48] GawainLynch commented on #5784
This sounds like the Nginx configuration for the new vhost, especially if you have set `brainding:` in `app/config/config.yml`

If you are using Sqlite for your database, flush the cache as the config is stored in full path form, so moving servers might be a problem.

Also check that the web server can write to the cache directory and all files/folders in there.

[2016-09-17 15:59] tbondois commented on #5784
Thanks for your help @GawainLynch !

Unfortunately :

- for the nginx configuration, the only parameter which include the domain name in my case (I used the sample config for nginx givent on the official website of bolt, if my memory is good)
is
`
server {
    ...
    server_name sub.domain1.com www.domain2.com domain2.com
`
Maybe i have to add something ?

- I already flushed the cache via the ba

[2016-09-17 17:48] GawainLynch opened #5785 "Release blockers"

[2016-09-17 17:48] #5785 closed

[2016-09-17 18:19] GawainLynch commented on #5719
Nudge @CarsonF

[2016-09-19 06:17] sibputnik commented on #5703
heeeeeeeeeeeey!!!

[2016-09-19 07:30] GawainLynch commented on #5703
Those translations are currently distributed by Bolt, as that part of the translations is not quote finished.

[2016-09-19 09:09] evertalbers opened #5786 "[BUG] No error shown when"
When installing an extension while the permissions in `/app/config/extensions ` don't allow writing there, you don't get an error when installing (you do get an error afterwards)

The original issue - before I realized this was the case:
https://github.com/bobdenotter/seo/issues/29

Details
-------

 - Relevant Bolt Version: [ 3.1.2 ]
 - Install type: [ Zip/tarball install ]
 - PHP version: [ 7.0

[2016-09-19 12:29] anketwokings opened #5788 "[RFC] clearer warning when Bolt cannot save"
Ohai!
When saving goes wrong, there's a small little warning that appears, that can easily be overlooked.
It would make sense to give this a more warning - like appearance.
I think this can be done easily by adding a class 'alert alert-danger'.

top: alert now.
bottom: prererred alert.

![screen shot 2016-09-19 at 14 26 45](https://cloud.githubusercontent.com/assets/5583671/18631987/5e2a74fe-7e75-

[2016-09-19 12:36] GawainLynch commented on #5788
:+1: from me … I've missed it myself in the past.

[2016-09-19 12:37] anketwokings commented on #5786
+1, ran into this as well, and the lack of feedback made it really obscure what was happening

[2016-09-19 14:47] skinysmn commented on #4279
hi, same issue again
Error connecting to the Extension Marketplace:
cURL error 28: Operation timed out after 10001 milliseconds with 0 bytes received (see http://curl.haxx.se/libcurl/c/libcurl-errors.html)

[2016-09-19 16:21] sibputnik commented on #5703
Can I disable translation auto-generation? I need my translation for contenttypes

[2016-09-19 17:51] bobdenotter commented on #5703
Hi,

No, you cannot do that currently.. If you really wish to prevent Bolt from updating the files, you should edit them in an external editor.

[2016-09-20 08:13] rarila commented on #5703
@sibputnik I don’t know what’s goes wrong on your side but it absolutely should work.

The date you see in the editor is always a new date as it is the date the file is generated and not the date the file is written. When opening the translation page the file is read, data extracted, **missing** translations get added, translations get sorted by category. So no user edited translations are overwri

[2016-09-20 09:19] dadaxr opened #5789 "[BUG] - cannot use anymore TextType to save php serialized data in DB"
I was previously using a TextType field to save in database a serialized array of php basic objects.

I know there is a best alternative to do that, ie, using [doctrine object type](http://docs.doctrine-project.org/projects/doctrine-dbal/en/latest/reference/types.html#object)
but in my case I'm using the bolt/members extension and there is a feature to store some meta values to accounts. Those met

[2016-09-20 09:24] GawainLynch commented on #5789
@bobdenotter I am wondering if we need to rethink what is targeted for sanitisation … just because it is in a text field, doesn't mean it is for render … as above.

[2016-09-20 09:28] bobdenotter commented on #5789
Hmm, if it's a `type: text` it might as well be a Title or somesuch, and we absolutely want to sanitise that. Two possible solutions that come to mind:

 - Before sanitising, make a guess if the data is JSON or serialized (as opposed to 'text with HTML') and don't sanitise if it is.
 - Add an optional `sanitise: false` option to the field configuration.

[2016-09-20 09:34] dadaxr commented on #5789
Was thinking about the 2nd option ( ie : sanitise: false ) but the first one is more clever & flexible ( at least in the case of bolt/member ) but it need an a non native function because there is no easy way to know if a string has been previously serialized.

maybe a start : https://gist.github.com/cs278/217091

[2016-09-20 09:37] GawainLynch commented on #5789
Yes, but that only catches the use case of JSON (or PHP) serialisation.

IMHO, it should be off by default and enabled with `sanitise: true`

[2016-09-20 09:40] sibputnik commented on #5703
bobdenotter, I edit translation in external editor, but it recreates each time

[2016-09-20 09:45] bobdenotter commented on #5789
It _would_ be, if we could make it work perfectly. In practice, I suspect it'll only lead to confusion in edge cases. Also, having that would defeat the purpose. We have the sanitation as an extra layer to prevent XSS, basically. Having a mechanism for this, would allow a potential cracker to do this:

    a:1:{i:0;s:7:"Porsche";s:13:"*identifier";}}<script>XSS_here_yolo()</script>

Automatic chec

[2016-09-20 09:50] bobdenotter commented on #5789
Oh, and this is slightly off topic, but this:

   O:51:"Bolt\Extension\DHuteau\MembersAddon\Form\Entity\Car"

is the main reason we moved away from serialisation in Bolt itself, as it's a security risk. A _potential_ cracker can insert their own object with a `__wakeup` method, and the code will get executed on deserialisation. See: https://securitycafe.ro/2015/01/05/understanding-php-object-injec

[2016-09-20 09:50] GawainLynch commented on #5789
Fair enough … but we should "plaster" something in all relevant places to alert people to almost certain data loss … especially when they're just innocently upgrading their Bolt install.

[2016-09-20 09:53] dadaxr commented on #5789
Yep but in case of bolt/members, the final user does not have access to the Meta TextType field configuration... it's like a single field configuration to rule all user inputs.

So I guess we 'll have to set "sanitize: false" for bolt/members ... what do you think ?

[2016-09-20 09:54] bobdenotter commented on #5789
Thinking out loud... What are the most likely situations where people have fields with info like this?

  - In fields added by extensions (where we can add the `sanitize: false` option)
  - In fields used by an Event, in an extension. (in which case the handler should be able to skip sanitizing)

Am I forgetting common use-cases here?

[2016-09-20 09:54] GawainLynch commented on #5789
Yeah, but this is about people saving whatever they want in fields that are designed to cope with them … if the fields aren't rendered for display, there is a slightly different set of rules.

BTW, the above example from @dadaxr is an entity, which could be JSON encoded and rebuilt anyway :stuck_out_tongue_winking_eye:

[2016-09-20 09:56] GawainLynch commented on #5789
* Some sort of meta data store in a ContentType …

[2016-09-20 10:43] bobdenotter commented on #5784
Is the "new domain" using an IP address only, or is it a regular domain name?

[2016-09-20 13:05] tbondois commented on #5784
it's a regular domain name
But I just update Bolt from 3.0 to 3.1.12, and it fix my problem. So I close the ticket.

[2016-09-20 13:05] #5784 closed

[2016-09-21 00:56] rarila commented on #5703
@sibputnik You mean ``contenttypes.ru.yml`` gets overwritten automatically by just being in backend?

[2016-09-21 01:03] rarila commented on #5789
Perhaps we're missing some data field type then?!

[2016-09-21 07:43] GawainLynch commented on #5789
No, just missing common sense.

[2016-09-21 07:55] bobdenotter commented on #5789
A 'data' type would be complicated, because then we'd need to specify how to display it in the backend (as 'hidden', 'text' or 'textarea'). So far a `sanitise: false` makes most sense to me.

[2016-09-21 07:59] GawainLynch commented on #5789
Well, for all intensive purposes the text type is a data type given a number of factors and approaches such as serialisation.

I am still furiously waving the flag on this one … these should *not* be sanitised by default. We are going to have pissed off users in the long run, and mysterious support questions that are very hard to track down and answer …

… we're literally shooting ourselves in the

[2016-09-21 09:55] bobdenotter commented on #5789
@GawainLynch So, what do you suggest? Revert to sanitising only on `html` and `markdown` for now?

[2016-09-21 10:11] GawainLynch commented on #5789
I've been thinking it over for the last couple of hours. So let's step back.

**Problem:**

  1. Certain field types *should* be sanitised, e.g.
    * HTML
    * Markdown
  2. Certain fields are potential risks if un/sanitised, e.g.
    * Text
    * Textarea

No. 2 is only a problem if the field is used in the render context, and those fields can contain data not intended for such purpose … also t

[2016-09-21 10:51] #5789 closed

[2016-09-21 11:10] bobdenotter opened #5795 "Fields with a `default: ..` value keep getting that value."
A field with a `default: ..` value should get that value when creating a new record. Currently they also get this value when editing an existing record in the backend.

Details
-------

 - Relevant Bolt Version: [ 3.0 and up ]

Reproduction
------------

Create a simple contenttype, like this:

[code]

Create a new record, and you'll this, as expected:

![screen shot 2016-09-21 at 13 06 48](https:

[2016-09-21 11:15] bobdenotter opened #5796 "No longer possible to have "no tabs", instead there's always "ungrouped""
It is no longerpossible to have no tabs in 'edit content', where all fields are displayed in one 'screen'. Instead, there's always an 'ungrouped' tab, even if no groups were defined.

Details
-------

 - Relevant Bolt Version: [  3.1 ]

Reproduction
------------

Create a simple contenttype:

[code]

Create a new record, and you'll see the ungrouped tab:

![screen shot 2016-09-21 at 13 06 48](http

[2016-09-21 11:15] GawainLynch commented on #5796
#1555

[2016-09-21 11:57] #5796 closed

[2016-09-21 12:03] bobdenotter commented on #5795
It seems to get the 'default' values at this point: https://github.com/bolt/bolt/blob/release/3.1/src/Storage/Repository.php#L433

I haven't figured out yet what happens exactly.. @rossriley, any ideas?

[2016-09-21 12:29] rarila commented on #5789
@bobdenotter Thought of the data field type of a field that is not even editable in the backend and just used by extensions. You won't (normally) add JSON or serialized php code by hand, won’t you?

[2016-09-21 12:32] bobdenotter commented on #5789
@rarila So, literally what `type: hidden` is already?

[2016-09-21 12:41] rarila commented on #5789
@bobdenotter How can I know when this field type is hidden?! ;-)

So to simply solve that problem above that type should have been used?!

[2016-09-21 13:46] Maelstromeous opened #5799 "[BUG] Video tooltip is showing html entities"
Shows `&lt;embed&gt;-code`, should read `<embed> code`.

![video tooltip](https://cloud.githubusercontent.com/assets/1776058/18713423/31ceff06-800a-11e6-934e-4edeec16ff6a.png)

Details
-------

 - Relevant Bolt Version: 3.1
 - For UX/UI issues: Chrome 53

Reproduction
------------

1: Add a template field for video.
2: Hover over info tooltip icon.
3: Observe tooltip text.

[2016-09-21 14:28] Maelstromeous opened #5803 "[RFC] When a record is saved, show a tick icon to indicate saving has been successful"
For a better user experience, when the record has been successfully saved, it should show a tick icon and after a few seconds revert back to the flag.

While there is checking the timestamp as a way of making sure it's saved, often people continue to look at the button they've pressed, so it just adds that little extra bit of UI sugar.

Example:

![saved](https://cloud.githubusercontent.com/assets

[2016-09-21 14:57] bobdenotter commented on #5803
I like this idea. 👍

[2016-09-21 15:04] Maelstromeous commented on #5803
Might add it myself if I can figure out how :P

[2016-09-21 15:40] bobdenotter commented on #5803
Already done, I'll add it to PR #5801 :-)

Screencast: http://recordit.co/YBxyHjHC2J

[2016-09-21 15:56] Maelstromeous commented on #5803
Ahh sweet, nice one! 👍

[2016-09-21 17:19] SahAssar commented on #5789
The master branch of translate uses `type: hidden` for this exact purpose, since our old way of loading values broke.

Also... "intensive purposes" _twitches_

[2016-09-21 18:58] rarila commented on #5789
But still ``type: hidden`` sends its data to the browser and then back although it's not touched there in any way.

[2016-09-21 20:01] SahAssar commented on #5789
@rarila Right, I'm not saying it's good, I'm just saying that at least for me it was a solution. Ideally we'd have a proper way to deal with this.

[2016-09-22 04:54] sibputnik commented on #5703
In russian not all can be auto-translated by flat logic, so after auto-translation I need correct it by hands.

[2016-09-22 07:01] rarila commented on #5703
@sibputnik Could it be that you didn’t remove the comment sign ``#`` from the edited translation?

[2016-09-22 07:07] rarila commented on #5789
@SahAssar So I’m not completly wrong with suggesting a data field type. So, is there any real usecase to have that ``hidden`` type? The only one I can think of extensions fiddling with their values using javascript on the backend. Is this possible or even used already anywhere?

[2016-09-22 07:17] SahAssar commented on #5789
@rarila basically a data field type would be the same as the `hidden` type except that no hidden input is printed to the editcontent screen, right? That sounds like a good solution to me. If we could decide db column type it'd be even better, since MySQL can't add indexes on TEXT columns.

[2016-09-22 07:43] #5788 closed

[2016-09-22 07:43] #5803 closed

[2016-09-22 07:47] #5799 closed

[2016-09-22 08:02] rarila commented on #5789
@SahAssar Yep. Sounds more naturally for me than type hidden. There's also other column formats that are interesting, e.g. Postgres has ``json`` and ``jsonb``. So you get type checking, faster access and extra functions to use on that data for free.

[code]

[2016-09-22 08:11] bobdenotter commented on #5789
@rarila @SahAssar I think you two have a point, however this should be an `[RFC]`. The _bug_ that was causing this has been fixed for now, what you're suggesting is a major new feature. ;-)

[2016-09-22 08:19] duskohu opened #5807 "[RFC] Admin filter by the values of a field from the contenttype"
Hi.

Is it possible to add additional filters to the contenttype overview page? By default it seems that it's only possible to filter by taxonomy term or do a search. Is it possible to filter by the values of a field from the contenttype?

It would also be useful if you were able to filter for records that are not .

Thanks!

 - Relevant Bolt Version: [ 3.1.2 ]
 - Install type: [ Composer install

[2016-09-22 08:19] GawainLynch commented on #5789
Necro so it (hopefully) makes it into the RFC … but if we're going this way, we probably want a `BLOB` (`BYTEA` on PostgreSQL).

[2016-09-22 08:52] rarila commented on #5789
@bobdenotter Sure! We're just do some brainstorming to see if we* should do a RFC :smiley_cat:

_*) This translates to: I hope someone – by reading this – gets the idea he urgently needs this and starts a RFC as I (at the moment) don’t need this necessarily but I might in the future ;-)_

[2016-09-22 09:43] GawainLynch opened #5808 "[RFC] Generic data field type"
This is a follow up to the discussion in #5789

TL;DR in various cases, uses need to store data that isn't used for view rendering. This might be binary data, serialized PHP objects, JSON, XML, l33t JavaScript, or :koala:s, such as a `BLOB` (`BYTEA` on PostgreSQL).

This field should **never** be subject to sanitisation and filtering, _caveat emptor_.

[2016-09-22 09:44] GawainLynch commented on #5789
@rarila done … #5808

[2016-09-22 09:46] GawainLynch commented on #5703
Just a note, Russian is one of the great examples of why we need to look very seriously at how we're (not properly) using Symfony's translation component … Apparently, Russian isn't very forgiving as a language in this way :smile:

[2016-09-22 11:37] rarila commented on #5789
@GawainLynch I love it when a plan comes together…  :relieved:

_.oO(I heard this somewhere else before…)_

[2016-09-22 11:56] rarila commented on #5808
A useful data type for sure is ``JSON`` which is supported in PostgreSQL (``json`` and ``jsonb``) and MySQL ≥ 5.7. Thwere’s also an extension for SQLite. Extensions could benefit from from it by enforcing correct JSON on database level, faster processing and JSON-specific functions and operators.

Another thing to mention is, that in contrast to the now used hidden field type the data of this type

[2016-09-22 12:47] SahAssar commented on #5807
This isn't something we have currently, but we have #2046 open to remind us to get it done at some point...

I'm closing this as a duplicate since 2046 has some good discussions and ideas on how to get this done, please feel free to chime in there!

[2016-09-22 12:47] #5807 closed

[2016-09-23 08:02] bobdenotter commented on #5795
Fixed by #5805

[2016-09-23 08:02] #5795 closed

[2016-09-23 08:02] bobdenotter commented on #5777
Fixed by #5790

[2016-09-23 08:02] #5777 closed

[2016-09-23 08:17] GawainLynch opened #5812 "[RFC] Remove as much version-unconstrained JS as possible from backend"
JavaScript and the NPM ecosystem bring us weekly breakage and pain. Let's get rid of as much of it as we can.

I've just spent 2.5 days trying to get a select2 to work, with zero success. We can not expect people to use this when the core team themselves can't.

[2016-09-23 08:27] rarila commented on #5812
You forgot to restrict the supported browsers to Lynx!

[2016-09-23 09:24] Mariyo commented on #2046
Hi all,

I propose to start think, how to rewrite this Legacy\Storage method https://github.com/bolt/bolt/blob/release/3.1/src/Legacy/Storage.php#L1811-L1817 and hardcoded SQL statement in it:
[code]

I would rewrite it by Doctrine\DBAL\Query\QueryBuilder and add possibility to filter that query or filter arguments going to statement. Generated query by Doctrine Query Builder can be filtered befor

[2016-09-23 09:52] GawainLynch commented on #5812
@rarila See #1555

Part of what I was pointing too is that we just have so many 3rd party components that we're using that are systemically, functionally, and fundamentally broken … On average I can install and compile our assets 5 out of ~365.25 days per year … and that is not because we're doing something wrong.

If "I/me/you" want to work on/contribute to Bolt's JS, one shouldn't have to go tho

[2016-09-23 10:36] rarila commented on #5812
Most problems in that area comes bumping to newest versions without checking consequences and without need. It’s just the same as with the php side. If you for example suddenly require Symfony 3.1 you wouldn't wonder why quite some stuff stops working. And then, whatever you had in node_modules and what once was running, will do so in the future. So a simple ``mv node_modules node_modules.backup``

[2016-09-23 10:41] GawainLynch commented on #5812
Yeah, and on the PHP side we're very quick at catching and blocking that. But why do I get 5 magic unknown dates in the year I can even install these components.

Thing is … I have spent days trying to track down a problem, that I can't get very far with because I can't installed the needed libraries to recompile the JavaSchit (sic) to start looking at code I can read and work with, and object var

[2016-09-23 11:37] rarila commented on #5812
Blocking by going back to a working set of packages. So if it was working before and doesn’t after an update to package.json it’s as simple as reverting to the state before.

As long as there’s no open issue "npm install broken" or at least a plea for help on IRC no one can fix it or we have to get a clairvoyant into the team.

[2016-09-23 11:40] bobdenotter commented on #5812
That's not always the case.. In some cases it breaks all by itself, because other parts have bumped versions, and they became incompatible.

Also, we don't commit `node_modules` to git for a very good reason: It's considered volatile, and it should be easy to rebuild it, when missing.

[2016-09-23 11:41] GawainLynch commented on #5812
Exactly… and in terms of delivery, it is close to our biggest single point of failure.

[2016-09-23 14:37] CarsonF opened #5814 "Notice: Undefined index: authtoken"
On 3.2
![screen shot 2016-09-23 at 9 34 19 am](https://cloud.githubusercontent.com/assets/932566/18789525/fa9b09b8-8170-11e6-996d-677f77ca410a.png)

[2016-09-23 14:51] CarsonF commented on #5814
`isset` check fixes it...but I wonder what the side effects of return null are though. Should we throw exception instead? That leaves us in the same spot though.

[2016-09-24 16:35] trigau opened #5819 "SVG file causes error when fetching directory"
I'm currently building a new theme. Any directory in my theme that contains a .svg file (even empty) causes an error when fetching the directory

Details
-------

 - Relevant Bolt Version: 3.1.1
 - Install type: Composer install
 - PHP version: 5.5.9
 - Used web server: Apache
 - For UX/UI issues: All

Reproduction
------------

 1. **Bug summary**:
    Whenever a file containing extension  ".svg"

[2016-09-24 16:37] PhillippOhlandt commented on #5819
I think this was already fixed. Ping @SahAssar

[2016-09-24 16:38] GawainLynch commented on #5819
Yes, it was fixed in #5760 … too fast for me @PhillippOhlandt :smile:

[2016-09-24 16:38] #5819 closed

[2016-09-24 16:39] trigau commented on #5819
Thanks, I didn't notice this existing bug when searching with tag "svg"

[2016-09-24 16:41] GawainLynch commented on #5819
Hey, zero stress … it is easy enough to miss some times. Even I took a moment to find it :grin:

[2016-09-25 09:49] trigau opened #5820 "No title in content listing"
Hello, here is a kind or re-opening of #933 : I then found a trick, but in the new release of my website I would like to have a cleaner installation.

Let me explain the problem. I have 3 contentypes : City, Teacher and Seminars.
A seminar contains 2 date fields (start-date end end-date) and 2 relations (to city and teacher).

So Seminar contenttype contains no text field. When listing Seminars in

[2016-09-25 15:53] rwchhs opened #5821 "[BUG] datetime fields don't get updated"
Details
-------

 - Relevant Bolt Version: 3.1.1 ... 3.1.3
 - Install type: Zip/tarball install
 - PHP version: 7.0.9
 - Used web server: Apache 2.4.7
 - DBMS: MySQL Ver 14.14 Distrib 5.5.49, for debian-linux-gnu (x86_64) using readline 6.3
 - For UX/UI issues: Chromium 53.0.2785.116 (64-bit)

Reproduction
------------
​
**Bug summary**:
datetime fields do not seem to get updated when edited throu

[2016-09-25 16:31] bobdenotter commented on #5821
Can we see the contenttype from contenttypes.yml? I can't reproduce this yet.

[2016-09-25 16:50] rwchhs commented on #5821
[code]

That already does it for us.

[2016-09-25 17:31] bobdenotter commented on #5821
@rwchhs Please don't use underscores for now. This is a known bug, and will be fixed shortly. Closing as duplicate of #5601

[2016-09-25 17:31] #5821 closed

[2016-09-26 08:02] SahAssar commented on #5820
This is the same that is discussed in #3849, right? Dates (and that should work for select fields too) can already be used like this `title_format: [ start-date, end-date ]` and if you need relations there you can use a custom content class. Closing as a dup of #3849, feel free to reopen or discuss further in there :)

[2016-09-26 08:02] #5820 closed

[2016-09-26 14:57] xstable opened #5824 "[RFC] File upload and replacing underscores by hyphen"
Currently if you have a file named : taxi_picture.jpg, and you do an fileupload via Bolt, the file is renamed to taxi-picture.jpg.

This behavior can be really confusing, if the Filename will be renamed without any note.

**For example:**
1) The developer upload the image-file which is used in Layout via FTP as taxi_picture.jpg.
2) Another user download the image from bolt-filemanager, change some

[2016-09-26 14:59] GawainLynch commented on #5824
These [config settings](https://github.com/bolt/bolt/blob/release/3.1/app/config/config.yml.dist#L214-L221) should be what you need

[2016-09-26 15:25] xstable commented on #5824
Wow. Incredible fast answer  :+1:
I would wish/recommend to not overwrite underscores by default, but only if a user set this up in the config-file.

[2016-09-26 15:30] GawainLynch commented on #5824
You're welcome. :smile:

We keep it simple and standardised by default, and it's configurable … and better docs are being worked on.

[2016-09-26 15:30] #5824 closed

[2016-09-26 19:49] trigau commented on #5820
Thanks for your help. title_format works fine but doesn't seem sufficient.

I would enjoy to write a custom content class, but [the link](https://github.com/bolt/bolt/issues/3849#issuecomment-123549647) in #3849 is broken and a search on Bolt website doesn't provide answers. So I can't figure how to start.

Moreover, would this new content class allow to search in events by teacher or city name ?

[2016-09-27 14:51] bobdenotter commented on #5729
IMHO, the "packaged" `.zip` and `.tgz` versions should have the non-dotfile version.

[2016-09-27 14:53] bobdenotter commented on #5705
Closing this one.

[2016-09-27 14:53] #5705 closed

[2016-09-27 14:55] bobdenotter commented on #5676
Any progress on this?

[2016-09-27 15:12] GawainLynch commented on #5729
Yeah, I am coming around to being included to agree … but … a problem still remains, like the `.gitignore`/`.htaccess` one, of overwriting people's changes.

[2016-09-27 15:19] bobdenotter commented on #5594
I'm not able to reproduce this. For me it works as expected.

Is this still an issue?

[2016-09-27 15:37] bobdenotter commented on #5394
We fixed this recently, right? In the `.zip` file we include the symlink differently, so this oughta be fixed. Feel free to reopen if still an issue.

[2016-09-27 15:37] #5394 closed

[2016-09-27 15:38] bobdenotter commented on #5494
Closing, because this is a question. Feel free to re-open if this remains an issue.

[2016-09-27 15:38] #5494 closed

[2016-09-27 15:38] bobdenotter commented on #5578
Fixed by #5605

[2016-09-27 15:38] #5578 closed

[2016-09-27 19:46] SahAssar commented on #5676
@bobdenotter Well, no... Either we revert and might face bugs because of that (since it's used in quite a few places that use it differently), or we keep the current version and it's broken on IE10/11.

I'm not sure which one is more preferable, so I haven't made a PR to revert or closed this...

[2016-09-27 19:46] trigau opened #5829 "Backend search doesn't search in "select" fields"
Following #5820, I tried to answer my needs by using select field instead of relation, thus loosing the relationship.

To sum up, I have 3 contenttypes: city, teacher, seminar
A seminar references two dates, e teacher and a city. My need:
1. The backend seminar listing shall display the dates (ideally, in a locale format)
2. This list can be filtered by teacher's name or city name.

Relationship d

[2016-09-27 20:11] GawainLynch commented on #5829
OK  … so … bug and it will get "de-bugged" … amybe even fixed!

…but can I just note a very big "thank you" … your issue reports are consistently useful and helpful!

Everyone is different, will do things in different ways — and that is a good thing — but when you have things made more useful it just feels good! :+1:

[2016-09-27 20:20] GawainLynch commented on #5676
OK… "*hard*" question … what do we support, browser-wise? … EoS

[2016-09-27 20:45] svivian commented on #5594
Not using Bolt for my project any more so technically, no.

[2016-09-27 20:45] #5594 closed

[2016-09-28 12:19] SahAssar commented on #5676
I think that when I asked that question a year or so ago the answer was IE10+... I think we can drop IE10 (0.3% global usage), but IE11 (4.3% global usage) might be harder to drop.

[2016-09-28 12:23] GawainLynch commented on #5676
Yeah, figured. Thanks @SahAssar

[2016-09-28 12:35] rossriley commented on #5676
I know there may well be other preeures, but I'd still be in favour of retaining IE10 support if we can. Whilst headline usage is below 1% it's not unusual to have much bigger usage in corporate networks, and that's often a target for our end-users.

[2016-09-28 12:42] trigau opened #5830 "[RFC] Formatting select fields"
Select field type allows values coming from another contenttype (using values: mycontenttype/fieldname). Moreover, it allows to display multiple values (values: people/name,surname), which is very useful.

However, I would suggest to improve such a display. Actually, when you use name and surname, the results is : Doe / John. This is quite not sexy.

So I would suggest to allow user to format outp

[2016-09-28 12:44] trigau commented on #5829
You're welcome.

To be honest, explaining with so much details is also a way for me to invite suggestions : if anyone thinks to a better way to fullfill my needs, he's welcome to suggest.

[2016-09-28 14:14] bobdenotter commented on #5576
I think this is no longer an issue in 3.2, right?

[2016-09-28 14:20] GawainLynch commented on #5576
I believe it is.

[2016-09-28 14:21] bobdenotter commented on #5576
Just double-checked.. It still is valid.. self-assigning.

[2016-09-28 14:21] GawainLynch commented on #5576
^w^w^w^w^w^w^w^w^w^w^w^w^w^w

[2016-09-28 15:11] #5576 closed

[2016-09-28 15:33] bobdenotter commented on #5690
Fixed in #5828

[2016-09-28 15:33] #5690 closed

[2016-09-28 15:34] GawainLynch commented on #5778
Per discussion in Slack … passing back over to you @bobdenotter

[2016-09-28 15:35] GawainLynch commented on #5714
Per discussion in Slack … passing back over to you @bobdenotter

[2016-09-28 15:45] CarsonF commented on #5814
Fixed with #5815

[2016-09-28 15:45] #5814 closed

[2016-09-28 17:07] PhillippOhlandt opened #5832 "[BUG] nut database:prefill doesn't create the content"
The `nut database:prefill` command seems to have stopped working. I tried it on a fresh Bolt installation. The Backend UI version works like expected.

I don't get any errors, but there will be also no content created.

I tried it with and without setting the ContenTtype as argument:

[code]
## Details
- Relevant Bolt Version: 3.1.4
- Install type: composer
- PHP version: 7.0
- Used web server: ph

[2016-09-28 19:46] SahAssar commented on #5676
Adding to that, if we are going to support IE11 it's not a huge step to support IE10, so let's drop them both when the time is right.

[2016-09-28 19:49] SahAssar commented on #5830
`title_format` and `format` (in relations) are hopefully going to undergo a revision soon (It's been on my to-do for half a year) to unify them, this would be a good addition to that.

[2016-09-28 20:58] GawainLynch commented on #5830
@SahAssar have I got the branch for you … well several :wink:

[2016-09-29 09:52] duskohu opened #5833 "[BUG] Cannot edit local translations in editor"
Hi, I have structure where I have local translations yml files.
- app
  - resources
    - translations
- ...
- vendor
  - ...

When I change something in app/translations yml files in IDE editor, translation is changed. But, when I edit translations in admin, it offers content from vendor yml files.
## Details
- Relevant Bolt Version: [ 3.2.0 | beta 1 ]
- Install type: [ Composer install ]
- PHP v

[2016-09-29 10:15] bobdenotter commented on #5833
Are you editing the files because you want to improve Bolt's files, or for your own project?

In case of the latter, you shouldn't use those files, because they will change when updating Bolt. Perhaps https://extensions.bolt.cm/view/bolt/labels would work for you?

[2016-09-29 13:48] duskohu commented on #5833
Hi @bobdenotter,

its nice extension, but why should I use it, when Bolt has similar tool out of the box - Translations?

I need to translate strings (messages) through ```app/resources/translations/en_GB/messages.en_GB.yml``` file. When I edit some string used in theme, f.i. ```general.phrase.missing-about-page: "Alas, no about!"``` to ```"EDIT: Alas, no about!"```, its translated after **clear c

[2016-09-29 13:54] GawainLynch commented on #5833
@duskohu I'll let the multi-linguists chime in further, but the translation in `app/resources/translations/` are for Bolt itself. We're still transitioning the translations layer to properly enable this.

Currently in 3.1+ you can build an extension which loads _user_ translation catalogues, or as @bobdenotter suggested, we have a few options available to get things working *now* … and we have a l

[2016-09-29 14:53] qooco opened #5834 "Repeating fields Saving to a Database"
Why Repeating fields stored only in "bolt_field_value" table

Why we can`t use custom tables
**example: table features**
[code]

[code]

[2016-09-29 14:55] qooco opened #5835 "Repeating fields Saving to a Database"
Why Repeating fields stored only in "bolt_field_value" table

Why we can`t use custom tables
**example: table features**
[code]

[code]

[2016-09-29 14:56] GawainLynch commented on #5835
Duplicate of #5834

[2016-09-29 14:56] #5835 closed

[2016-09-29 17:25] SahAssar commented on #5833
Well, translate is more meant for content, not keywords or phrases (like for example 'Menu' or 'Contact us'), so I think labels is the one to use here :)

[2016-09-30 03:35] everyx opened #5837 "Can not save filed value to sqlite when contenttype name contain "_""
Details
-------

 - Relevant Bolt Version: [3.1.4]
 - Install type: [ Zip/tarball install ]
 - PHP version: [ 5.5 ]
 - Used web server: [ Nginx ] version [ 1.4.6 ]
 - For UX/UI issues: [ Firefox 49.0.1 ]

Reproduction
------------
​
 1. **Bug summary**:
    I install bolt and set a contenttype with a field with name "style_no", and everything looks ok but I cannot save the filed data to my sqlite

[2016-09-30 06:35] GawainLynch commented on #5837
@ross assigning this one to you for the time being, as there might be an easy fix to add on to your last workaround.

[2016-09-30 09:29] Maelstromeous commented on #5746
Looking into this further, if Chrome was to blame, it would mean that any sessions wouldn't work on any sites. I've only encountered this issue with Bolt, any other website I have with an IP range works fine with sessions.

[2016-09-30 09:50] GawainLynch commented on #5746
Probably should have flagged this earlier … but everyone got in and it was closed…

I am really not sure this is something we *should* change… our session & authentication cookies are tied to a domain name … and in some of our larger use cases we have single IP servers with literally hundreds of Bolt sites on them.

Here's the crunch…

Some browser to accept and store IP based cookies — to my know

[2016-09-30 09:50] #5746 closed

[2016-09-30 10:53] Maelstromeous commented on #5746
Fair explanation! We certainly wouldn't want gaping holes in security ;-)

[2016-09-30 11:33] rossriley commented on #5834
At the moment we're not going to support this as a feature, just purely because of the complexity it would add. You can change which table it points to by using the `$app['schema.base_tables']` service but this is global and not on a per-contenttype basis.

The field_value table is more complex than a standard contenttype table since it supports variable data storage types and uses the mapping dat

[2016-09-30 11:34] #5834 closed

[2016-09-30 12:31] ross commented on #5837
I'm probably not the Ross you intended to mention there. :grin: /cc @rossriley

[2016-09-30 12:33] GawainLynch commented on #5837
Hehe … GOLD!

Well, nice to meet a new Ross then, and hello from the Bolt community :smile:

[2016-09-30 12:36] bobdenotter commented on #5729
Not _that_ relevant to people using the `.zip`.. They'll _always_ get `public` and `app`, regardless of what they changed. If they changed stuff, they'll have to fix it manually regardless.

I think we can close this for now. :-)

[2016-09-30 12:43] bobdenotter commented on #5778
Coincidentally, this was fixed in #5772.

[2016-09-30 12:43] #5778 closed

[2016-09-30 12:54] GawainLynch commented on #5714
We don't know when in the execution cycle the exception is going to happen/be handled, except that for exception we render (i.e. this issue).

Our default backend Twig rendering passes in everything, including the proverbial kitchen sink, in terms of object & services, and if some of those are not booted/registered/working then we can't render the *actual* exception … instead of
[code]

We could e

[2016-09-30 12:56] bobdenotter opened #5842 "Fatal error because cache file doesn't exist."
- Relevant Bolt Version: [ 3.2 | master ]

I get this error, when going to login:

![screen shot 2016-09-30 at 14 52 35](https://cloud.githubusercontent.com/assets/1833361/18992298/cdd23a16-871d-11e6-98cd-c5b07d8d0ca4.png)

Full text of trace:

----------

Bolt
Uncaught Fatal Error:

Details

UnexpectedValueException in FileCache.php line 271

RecursiveDirectoryIterator::__construct(/Users/bobdeno

[2016-09-30 12:57] GawainLynch commented on #5842
Do you have extensions installed, if so which ones?

That is happening as the database provider is being invoked prior to boot.

[2016-09-30 12:59] bobdenotter commented on #5842
Yes, prolly.. Let me see if that remedies it.

[2016-09-30 13:00] GawainLynch commented on #5842
BTW … I left a few of those "holes" there deliberately for the dev cycle … those exceptions *should* occur under normal circumstances, but it is the best way to flush out incorrect use of service and the request cycle :smile:

[2016-09-30 13:02] bobdenotter commented on #5842
Removed all extensions from this setup, but the problem persists.

[2016-09-30 15:37] #5729 closed

[2016-09-30 15:40] trigau opened #5846 "Repeater fields don't behave like normal fields"
Don't exactly know if it's a real bug or a problem in documentation.

As written [in documentation](https://docs.bolt.cm/3.1/fields/repeater#example-usage-in-templates), I access repeater fields by function _get()_
My repeater is define by
`paragraphes:
            type: repeater
            label: Paragraphes
            group: Paragraphes
            fields:
                paragraphe:

[2016-10-01 10:25] trigau commented on #5846
After some investigation, let me add some complement
Here is my content definition:
[code]
If I want the same behavior as root image field
[code]
I have to write
[code]

A I wrong ?

[2016-10-01 13:08] bobdenotter commented on #4474
Fix for the first part incoming.

Marking this as "wont fix" for the listing views. In _most_ cases, the current cropping is preferred: If you have photos, it'll crop all of them to the same size, giving a consistent look. If we switched to cropping them while keeping aspect ratio, that page looks like a mess.

[2016-10-01 13:35] bobdenotter commented on #4770
Works in 3.2, closing!

![screen shot 2016-10-01 at 15 34 34](https://cloud.githubusercontent.com/assets/1833361/19014416/9854d874-87ec-11e6-8c80-87fa3c1bd00f.png)

[2016-10-01 21:52] jemont opened #5849 "[BUG] select value not persited"
select values are not persisted anymore. used to work in Bolt 3.0.12
contenttype:

...
course_id:
            type: select
            values: cursos/title
            group: data
...

i can select an option, but the value is not saved in mysql in Bolt 3.1.1
I used to select by title and the id of that contenttype entry was saved.
I checked in Firefox and Chrome
no error messages, and the rest of

[2016-10-02 03:15] kevinkhill commented on #5837
I came here to report this and to my pleasant surprise... already reported and patched! :+1: yay!

I was beating my head against the wall because I *could not* figure out what was going on. It took a lot of digging on my part before I found out that my "_"s were the culprit.

[2016-10-02 05:04] Boorj commented on #4474
Actually, i can see no problem to make it with 'resize' option and do everything with css:
[code]

[2016-10-02 08:15] bobdenotter commented on #5849
Are you using underscores in your contenttypes? If so, this is a duplicate of #5601

[2016-10-02 09:29] bobdenotter commented on #4474
I quickly tried it, and it gave a weird, juttering effect. If we're going to work onthis, we should first make a plan of what the UX/UI of these things is going to be like. Perhaps we could make a nice Vue component of it. ;-)

[2016-10-02 09:31] GawainLynch commented on #4474
That would be awesome if we could get some planning around this :+1:

:+1: :+1: :+1:

[2016-10-02 12:30] jemont commented on #5849
yes i had an underscore in there. sorry for that.
strange #5601 is related to Bolt 3.0.11 on Bolt 3.0.12 it was working for me

[2016-10-02 12:35] GawainLynch commented on #5849
Yeah … it is something we've been chasing in circles to work around, due to legacy BC requirements.

We have a series of fixes implemented, as we'll iterate them until 3.3 where I am working on replacing the configuration loader.

I am going to close this one to keep the signal ratio high, but please feel free to subscribe to #5601 for updates on our progress.

[2016-10-02 12:35] #5849 closed

[2016-10-02 17:02] SahAssar commented on #5846
IIRC repeater fields are hydrated in a different way (or not at all, currently), and the whole repeater field acts as a DBAL collection (also IIRC). I think this is meant to change in the future so that they have all the things normal fields have, like text/html fields being twig markup objects and so on.

Perhaps @rossriley could shed some light on this? I worked some on this for templatefields b

[2016-10-02 17:15] SahAssar commented on #4770
I can't find any PR or commit saying we implemented this is non-deprecated code, so it seems that while it's working the issue that @CarsonF pointed out in https://github.com/bolt/bolt/issues/4770#issuecomment-182165440 is still an issue, so I'm reopening, and happy to be proven wrong :)

[2016-10-02 17:53] bobdenotter commented on #4770
@SahAssar Good point! Thank you.

[2016-10-02 19:37] rossriley commented on #5846
Yes, It was supposed to be in the last release, but I had to hold it back because it was causing problems with presentation format not getting removed in some fields when it was written back into the database.

so it'll need a little more work to allow fields to use the `present` interface method that will do those kind of transforms when used in twig, but not affect the underlying data... and thi

[2016-10-03 09:36] gwbonline opened #5851 "[BUG] Two possible bugs imagelist"
I use a image list on our site. When adding images, I encounter two possible issues. As long as the entry isn't saved, I can't click added images because it asks if I want to leave the page. This happens when the image isn't present on the server. When it is, I can click images to view them if I want and then save the entry.

Second issue has to do with draging images. Sometimes I want to change t

[2016-10-03 16:51] kouz75 opened #5855 "[BUG] Memcache Session Handler wrong default weight"
Hi,

In SessionServiceProvider method registerMemcacheHandler
some default values are set for the connection to memcache.
When the weight is empty default value is set to 0.

When the weight is 0, $memcache->addServer will return false and  users won't be able to login.

Details
-------
 - Relevant Bolt Version: [ 3.1.2  ]
 - PHP version: [ 5.6  ]

Reproduction
------------

In phph.ini, enable me

[2016-10-03 18:07] bobdenotter commented on #5855
@kouz75 Seems plausible. Do you want to make a PR to fix this bug as well?

[2016-10-04 08:58] kouz75 opened #5857 "[BUG] Memcache Session close but never open"
Hi,

When users try to login on the backoffice, they are redirect to /admin/login with the message  general.phrase.error-session-data-login

In the method handlePostLogin, we try to get the token from Memcache.
SessionHandler return false because the connection to memcache was closed.

The connection to Memcache  is close by the SessionStorage when it's save  the session and never open it again. I

[2016-10-04 10:34] GawainLynch commented on #5857
Ping @CarsonF

[2016-10-04 12:04] CarsonF commented on #5857
I do see the close connection call. Does the Memecache class not reopen the connection when it needs it? I'll dig into it.

[2016-10-04 12:10] CarsonF commented on #5857
You could also try using `memcached`

[2016-10-04 12:14] bobdenotter commented on #4474
Fixed (for now) by #5847

[2016-10-04 12:14] #4474 closed

[2016-10-04 12:52] #5857 closed

[2016-10-04 18:20] #5855 closed

[2016-10-05 00:48] rossriley commented on #5837
This shold be finally fixed by #5853

[2016-10-05 00:48] #5837 closed

[2016-10-05 00:49] rossriley commented on #5601
Ok, with the final PR in #5853 this should be fixed.

[2016-10-05 00:49] #5601 closed

[2016-10-05 06:25] GawainLynch commented on #5601
A great big thank you from me, @rossriley :+1:

[2016-10-05 11:29] Dragory opened #5868 "[BUG] Since Twig 1.26, only the last extension using TwigTrait will get registered by Twig"
[Since Twig deprecated the usage of getName() in Twig extensions](https://github.com/twigphp/Twig/commit/f58cce77d773a805e5e4d0ddf5b5e5b17b097d93), multiple Bolt extensions using `TwigTrait` keep overriding the previously loaded extension, resulting in only the last one having its functions, filters, etc. registered. This is because Twig now treats every instance of `Bolt\Twig\DynamicExtension` as

[2016-10-05 11:40] GawainLynch commented on #5868
Correct … we found this yesterday and will probably lock to 1.25.x for the time being.

Thank you for the details added to the report … always very useful.

[2016-10-05 12:49] #5868 closed

[2016-10-07 01:37] jemont commented on #2247
i am sorry to bring this up again, but Spanish accent and German umlaut don't work for me. I can't introduce new tags with non latin characters. I can select them thought if its a tag that was create by bolt 2.x before update.
it accepts the special character and than skips the vocal and accepts one character more, that is overwritten by all following character while writing.
I am on bolt 3.1.1 bu

[2016-10-07 02:18] GawainLynch commented on #2247
@SahAssar I am in and out today, but can you try and ping me if you have a few minutes … I already know what *one* of the problems is, but fixing it in a minor without breaks would be tricky.

[2016-10-07 23:08] jemont commented on #5491
i got a problems with thumbs. in firefox the thumbs are getting created but don't show up on the page. only on reload the thumbs are shown. chrome creates and shows the thumbs on first request.
anyways on thumbs that open images with the magnific popup even in chrome the thumbs don't get created and i need to do one reload for the thumbs to show up and another reload for the images actually to be

[2016-10-08 07:36] bobdenotter commented on #5842
Fixed by #5879

[2016-10-08 07:36] #5842 closed

[2016-10-08 07:37] bobdenotter commented on #5733
Fixed by #5879

[2016-10-08 07:37] #5733 closed

[2016-10-08 07:37] bobdenotter commented on #5714
Fixed by #5869, until proven otherwise.

[2016-10-08 07:37] #5714 closed

[2016-10-08 09:12] GawainLynch commented on #5592
Fixed in #5848 … the :koala: forgot to close :wink:

[2016-10-08 09:12] #5592 closed

[2016-10-08 09:16] GawainLynch commented on #2860
@CarsonF and I have come to an agreement on approach here and we'll probably RFC & then PR for 3.4. The job isn't massive, but does require some more work in, and about to land in, 3.3 & master.

Bumping to 3.4.

[2016-10-08 09:19] GawainLynch commented on #5676
@SahAssar I am closing the door on `release/3.2` today for non-critical bug fixes. So bumping this one to 3.3 which give you about another 6-8 weeks :wink:

[2016-10-08 09:36] GawainLynch commented on #3192
Moving to 3.3 while waiting on feedback from Ross

[2016-10-08 09:42] GawainLynch commented on #5040
Translation update in progress, but not scheduled to land until 3.4.

[2016-10-08 09:42] #5040 closed

[2016-10-08 09:42] GawainLynch commented on #5038
Translation update in progress, but not scheduled to land until 3.4.

[2016-10-08 09:42] #5038 closed

[2016-10-08 09:43] GawainLynch commented on #4895
Bumping up to 3.4 as a lot of this will be caught up in the UI-Beam project

[2016-10-08 09:44] GawainLynch commented on #4770
Bumping to 3.3+ as we're in critical bug fix only mode for 3.2 now.

[2016-10-08 10:28] GawainLynch opened #5882 "Database prefill breaks on PostgreSQL"
This is happening on `3.1-HEAD`

[code]

[2016-10-08 10:30] GawainLynch commented on #3192
Quoth @rossriley in Slack:

[2016-10-08 10:30] #3192 closed

[2016-10-08 10:47] SahAssar commented on #3192
This isn't really fixed... If one has 2 pages and one entry and has configured bidirectional relations between them with `multiple: false` and then 1. set relation from entry1 to page1 and 2. sets relation from page2 to entry1 you will end up with multiple relations in entry1 even though it has it's relation set to `multiple: false`.

I don't think it's a huge issue and I'm not sure if the desired

[2016-10-08 10:51] GawainLynch commented on #3192
Correct me if I am wrong — :koala: — but isn't what you're describing an "incoming" relationship? … ergo multiplicity settings don't (logically) apply?

[2016-10-08 10:53] SahAssar commented on #3192
@GawainLynch Fair enough, but since bidirectional relations make no UI difference between incomming and outgoing this can still lead to confusion. Also

[2016-10-08 11:20] GawainLynch commented on #3192
Stop throwing rational thought at me :laughing: `</kidding>`

OK, so I think what I am hearing then — oh dear, Gawain is about to comment on UI … #1555 might have finally become a reality — is that this is actually then a UI issue, which is probably rather easy to address?

If that's the case, shall we reopen, move from `bug` to `UI/UX enhancement` and assign to a willing ~~victim~~ team member?

[2016-10-08 11:40] SahAssar commented on #3192
Well, sortof. We have two ways of dealing with this

1. Fix UI, but we'd need to make showing bidirectional relations more complex by showing incoming and outgoing as separate, and if we separate them there I think we need to have some way of showing only outgoing or incomming in FE too...
2. Throw a warning if someone has configured bidirectional relations without setting `multiple: true`.

I vot

[2016-10-09 08:06] SahAssar commented on #5491
@jemont If you have an issue please open a new issue, this one is about a different topic and has been closed. Also your issue sounds like a webserver problem to me, but open a new issue and we'll have a look at it.

[2016-10-09 09:02] GawainLynch opened #5885 "[3.3] Unable to delete records on the dashboard"
![image](https://cloud.githubusercontent.com/assets/1427081/19219290/a10fb096-8e0f-11e6-86a3-e6764c95b56d.png)

@CarsonF any chance this is related to the recent JS changes?

[2016-10-09 10:04] rossriley commented on #5562
I've just tested this on the latest 3.2 and all seems to work ok, I think this behaviour would have been squashed in #5684 since the same issue was affecting repeaters, if there's still a problem feel free to reopen.

[2016-10-09 10:04] #5562 closed

[2016-10-09 10:55] bobdenotter commented on #3192
My vote is for option 2 as well. 👍

[2016-10-09 15:14] CarsonF commented on #5885
Possibly.... I or someone would need to dig in more though

[2016-10-09 20:05] frozenshadow commented on #5347
Same problem here. Changing error and notfound image produces the following exception:

[code]

[2016-10-10 05:31] GawainLynch commented on #5347
Thank you @frozenshadow … that is really helpful!

[2016-10-10 13:51] temple commented on #5361
So,
¿Why don't you set your _php_ `open_basedir` parameter and allow _php_ accessing `/dev/urandom`?

[2016-10-10 13:58] GawainLynch commented on #5361
For people that have access to that, it is possible, but people will use shared hosting … and too often the people running those hosts get their security "knowledge" from blog posts by randoms on the Internet … things like "We block SSH key exchange, as it is a security risk, use FTP instead" is all to common a response from these types of providers.

[2016-10-10 19:08] CarsonF opened #5891 "Exception rendering exception template"
![](http://www.breaknenter.org/wp-content/uploads/2011/09/inception_movie_poster_small.png)

`exception` and `request` aren't always defined when rendering exception templates.
It can be triggered with a configuration error, such as, a templatefield without any fields defined.
Maybe an exception could be created for this case, @GawainLynch? It seems weird to me to render an exception view without

[2016-10-10 19:18] bobdenotter commented on #5891
I would think that if `{{ app.request }}` doesn't exist yet, that we also can't use `$this->app['requests]` in the controller, right before it's rendered, right?

[2016-10-10 19:22] CarsonF commented on #5891
I'm more ok with that. I think using `app` in Twig is less acceptable than in PHP.

I'm not sure when/how that method is being called though. Typically in a controller you just "ask" (pass in) request object, and it's given to you. But if we have to do `$app['request']` here, I'd be ok with that for now - It still abstracts it from Twig.

[2016-10-10 19:33] GawainLynch commented on #5891
Yeah, this is kinda what I wanted to clean up too… I initially just extended exiting templates, 'cause "get it done".

Not convinced it is blocker, but more than happy to see it resolved before stable release … and 3.3/3.4 should put some nails in some coffins, but we have to get there (safely and stably) first.

[2016-10-10 19:46] CarsonF commented on #5891
Right I was more so wondering if `{{ app.request }}` could even be called without giving an exception in all cases. Default filter and is defined checks can get this out the door, that's what is blocking in my mind.

[2016-10-11 03:36] GawainLynch commented on #5891
Maybe an exception could be created for this case, @GawainLynch?

That was the plan, yes.

:+1:

[2016-10-11 03:37] GawainLynch commented on #5891
:+1:

[2016-10-11 06:10] GawainLynch opened #5893 "[RFC] Replacing RandomLib"
PHP 7.1 (currently in RC3) deprecates `mcrypt_*` functions, possibly for removal as early as 7.2:
https://wiki.php.net/rfc/mcrypt-viking-funeral

Nut and server logs get very noisy as a result:

[code]

Do we see any blockers in switching to `random_bytes()` (we already include the polyfill for PHP 5)?

[2016-10-11 07:21] GawainLynch opened #5894 "Both .bolt.yml and bolt.yml installed in a Composer create-project install"
Speaking of testing :wink:

[2016-10-11 07:22] PhillippOhlandt commented on #5894
Maybe because it's still here?:
https://github.com/bolt/composer-install/blob/master/.bolt.yml

[2016-10-11 07:23] GawainLynch commented on #5894
Yes, and *should* be there.

[2016-10-11 07:34] bobdenotter commented on #5894
@GawainLynch Same issue as this: https://github.com/bolt/composer-install

[2016-10-11 07:37] bobdenotter commented on #5893
Whatever works is fine with me. 👍

For all I care we have an underpaid intern roll a dice, every time we need a random number.

[2016-10-11 07:38] bobdenotter commented on #5891
I've updated the PR, so it doesn't use `{{ app }}` anymore.

[2016-10-11 07:43] GawainLynch commented on #5894
Ah, yes … but we need to adjust core's behaviour IMHO.

And still not satisfied that our approach is correct here, especially given the subtle split of packaging, e.g. `.gitignore`

Let's hash this over tonight at the meeting, it's a bit of a full day for you and I, but I don't want to hold up release :smile:

[2016-10-11 07:50] bobdenotter commented on #5894
I'm not saying that my approach was best.. Just linking them together, as they're effectively the same problem.

[2016-10-11 07:51] bobdenotter commented on #5894
BTW, I'm stripping the _extra_ `.bolt.yml` out during packaging.

[2016-10-11 07:54] GawainLynch opened #5895 "Cookie handling broken in PHP 7.1"
Session cookies not getting sent.

Oh, this could be fun.

@CarsonF I am guessing you don't have an easy 7.1 set up to get going, so let's coordinate on this one in a couple of days+

[2016-10-11 07:58] GawainLynch commented on #5894
Oh oh oh oh… If I came across critical, I communicated badly.

What I was wanting to express was that there seems to be a mixed, and not well defined, approach that is _almost_ over that hurdle but we just need to step back and ensure we're consistent.

Yep, good to know. More worried about those of us that install this way and get bitten… driving up the support effort needlessly.

[2016-10-11 17:31] bobdenotter commented on #5882
Shouldn't this be a release blocker for 3.2, if valid?

[2016-10-11 17:36] CarsonF commented on #5891
If @GawainLynch merged it, I guess it's good.

[2016-10-11 17:36] #5891 closed

[2016-10-11 17:46] GawainLynch commented on #5882
Nope, hit is on 3.1 though master … so release specifically isn't valid… but it is a bug.

[2016-10-12 07:39] bobdenotter commented on #5671
Fixed in 3.2: See #5853

[2016-10-12 07:39] #5671 closed

[2016-10-12 15:14] CarsonF commented on #5895
Works for me...

[2016-10-12 17:17] GawainLynch commented on #5895
Did you flush existing cookies? Just set up a fresh site, on a fresh FPM … yeah, after doing said thing mentioned in Slack… and same result.

[2016-10-12 23:58] CarsonF commented on #5895
Yeah I flushed existing cookies

[2016-10-13 10:26] ToBe998 opened #5900 "[BUG] Content->getImage() method breaks for images with alt and no path"
The function `Content->getImage()` takes the first field of type *image* and the returns either the image path if we have a *file* key or the whole thing if not (as fallback for bolt 1.5.0).

If a user now edits the alt title of an image but does not provide a image path, this check fails and returns the array [alt: „the alt“].
Since every part of bolt (including especially the twig template of th

[2016-10-13 16:10] GawainLynch commented on #5900
How tired am I … I think I just spent 10 minutes staring at the code trying to figure it out too!

But yeah, there was an intention to fix the getter for 3.0 … buuuuuuuuuut. :wink:

Want to PR it to get the glory?

[2016-10-13 16:39] ToBe998 commented on #5900
Can do. I'll try to find the time tomorrow. What branch? master?
(I'd need it in 3.0 or maybe at least 3.1)

[2016-10-13 16:50] GawainLynch commented on #5900
3.0 is closed and locked, but 3.1 will be open until (at this stage) the 24th … so aim at `release/3.1` :+1:

[2016-10-13 17:39] CarsonF commented on #5900
Can we deprecate this method?

[2016-10-13 17:42] CarsonF opened #5903 "Undefined index for relation order"
https://github.com/bolt/bolt/blob/master/src/Storage/ContentRequest/Edit.php#L189

Content Type:
[code]

[2016-10-13 17:46] ToBe998 commented on #5900
The method itself is still used widely. Just that fallback for 1.5.1 is probably very outdated.

[2016-10-13 17:47] CarsonF commented on #5900
I didn't say remove it. I said deprecate it. Doesn't it make more sense to reference the field name directly?

[2016-10-13 17:49] ToBe998 commented on #5900
This method uses the first image it finds from any field in the contenttype. Similar to getExcerpt for texts. So it's still a feature that's not available otherwise, afaik.

[2016-10-13 17:52] CarsonF commented on #5900
But what does that allow?

[2016-10-13 17:54] ToBe998 commented on #5900
Well, as i said, you can write very generic templates that display an image for a record, in whatever field it may be stored. Take the Bolt-Dashboard for example. It shows a list of all recent records of all types. Ad each item in the lists has an image, independant on how you setup your contenttypes.

Not usefull for good specific themes, but very usefull for generic stuff like the bolt backend.